{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Изменение пароля</h4>
    </div>
    <div class="card-body">
        <form class="form form-horizontal" id="edit_user_password_form">
          {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label">
                            <label for="id_first_name">Новый пароль</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="password" name="new_password1" id="password1" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label">
                            <label for="id_last_name">Повторите пароль</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="password" name="new_password2" id="password2" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 offset-sm-3">
                    <button type="button" class="btn btn-primary mr-1" id="edit_user_password_btn">Изменить</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
