<nav class="list-group list-group-flush">
  <a class="list-group-item" href="">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="d-inline-block font-weight-medium text-uppercase">Новости</div>
      </div>
      <span class="badge badge-secondary">{{ user.get_news_count }}</span>
    </div>
  </a>
  <a class="list-group-item" href="{% url 'subscribe_elects' %}">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="d-inline-block font-weight-medium text-uppercase">Подписки</div>
      </div>
      <span class="badge badge-secondary">{{ user.get_elect_subscribers_count }}</span>
    </div>
  </a>
  <a class="list-group-item" href="{% url 'like_news' %}">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="d-inline-block font-weight-medium text-uppercase">Понравилось</div>
      </div>
      <span class="badge badge-secondary">{{ user.get_like_news_count }}</span>
    </div>
  </a>
  <a class="list-group-item" href="{% url 'dislike_news' %}">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <div class="d-inline-block font-weight-medium text-uppercase">Не понравилось</div>
      </div>
      <span class="badge badge-secondary">{{ user.get_dislike_news_count }}</span>
    </div>
  </a>
</nav>
