{% extends "base.html" %}
{% block title %}Настройки уведомлений{% endblock %}
{% block content %}

<div class="row mt-2">
  <div class="col-md-9">
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Настройки уведомлений</h4>
    </div>
    <div class="card-body">
        <form class="form form-horizontal">
          {% csrf_token %}
          <div class="col-12 form-group" style="line-height: 18px;">
                Комментарии на мои активности
                <input type="checkbox" {% if notify.comment %} checked {% endif %} name="comment" id="id_comment" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_comment" class="bg_success mb-2 border float-right"></label>
          </div>
          <div class="col-12 form-group" style="line-height: 18px;">
                Реакции на мои активности
                <input type="checkbox" {% if notify.reaction %} checked {% endif %} name="reaction" id="id_reaction" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_reaction" class="bg_success mb-2 border float-right"></label>
          </div>
          <div class="col-12 form-group" style="line-height: 18px;">
                Реакции на мои комментарии
                <input type="checkbox" {% if notify.comment_reaction %} checked {% endif %} name="comment_reaction" id="id_comment_reaction" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_comment_reaction" class="bg_success mb-2 border float-right"></label>
          </div>
          <div class="col-12 form-group" style="line-height: 18px;">
                Ответы на мои активности
                <input type="checkbox" {% if notify.reply %} checked {% endif %} name="reply" id="id_reply" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_reply" class="bg_success mb-2 border float-right"></label>
          </div>
          <div class="col-12 form-group" style="line-height: 18px;">
                Административные уведомления
                <input type="checkbox" {% if notify.admin %} checked {% endif %} name="admin" id="id_admin" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_admin" class="bg_success mb-2 border float-right"></label>
          </div>

          <div class="col-sm-9 offset-sm-3 mt-2">
              <button type="button" class="btn btn-primary float-right" id="edit_user_notify_btn">Сохранить</button>
          </div>
        </form>
    </div>
</div>
</div>
<div class="col-md-3">
  <div class="card">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_profile' %}">
          Основное
        </a>
      </li>
      <li class="list-group-item">
        <a class="ajax" href="">
          О себе
        </a>
      </li>
      <li class="list-group-item" style="text-decoration:underline">Уведомления</li>
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_private' %}">Приватность</a>
        </li>
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_quard' %}">Безопасность</a>
      </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
