{% extends "base.html" %}
{% block title %}Настройки уведомлений{% endblock %}
{% block content %}

<div class="row mt-2">
  <div class="col-md-9">
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Настройки уведомлений</h4>
    </div>
    <div class="card-body">
        <form class="form form-horizontal">
          {% csrf_token %}
        </form>
    </div>
</div>
<div class="col-md-3">
  <div class="card">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_profile' %}">
          Основное
        <a>
      </li>
      <li class="list-group-item">
        <a class="ajax" href="">
          О себе
        <a>
      </li>
      <li class="list-group-item">
        <a style="text-decoration:underline">Уведомления<a>
      </li>
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_private' %}">Приватность<a>
        </li>
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_quard' %}">Безопасность<a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
