{% extends "base.html" %}
{% block title %}Настройки уведомлений{% endblock %}
{% block content %}

<div class="row mt-2">
  <div class="col-md-9">
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Настройки уведомлений</h4>
    </div>
    <div class="card-body">
        <form class="form form-horizontal">
          {% csrf_token %}
          <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                Комментарии на мои активности
                <input type="checkbox" checked="" name="comment" id="id_comment" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_comment" class="bg_success mb-2 border float-right"></label>
            </p>
        </form>
    </div>
</div>
</div>
<div class="col-md-3">
  <div class="card">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_profile' %}">
          Основное
        </a>
      </li>
      <li class="list-group-item">
        <a class="ajax" href="">
          О себе
        </a>
      </li>
      <li class="list-group-item" style="text-decoration:underline">Уведомления</li>
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_private' %}">Приватность</a>
        </li>
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_quard' %}">Безопасность</a>
      </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
