{% extends "base.html" %}
{% block title %}{{ user.get_full_name }} | Подписки{% endblock %}
{% block content %}

<div class="content-body">
    <section class="app-user-edit">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="{% url 'user' pk=user.pk %}" class="nav-link d-flex align-items-center ajax">
                            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            <span class="d-none d-sm-block">Профиль</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user_news' pk=user.pk %}" class="nav-link d-flex align-items-center ajax">
                            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                                <path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                            </svg>
                            <span class="d-none d-sm-block">Новости</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center active">
                            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check">
                                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="8.5" cy="7" r="4"></circle>
                                <polyline points="17 11 19 13 23 9"></polyline>
                            </svg>
                            <span class="d-none d-sm-block">Подписки</span>
                        </a>
                    </li>
                </ul>
                <div class="pag_container">
                    {% if user.user_private.subscribers %}

                    {% for object in object_list %}
                      {% include 'elect/elect_index_card.html' %}
                    {% empty %}
                    <div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
                        <div class="card-body">
                          <h3 class="card-title">У Вас пока нет подписок.</h3>
                          <p class="card-text text-sm">
                            Подписывайтесь на депутатов на нашем сайте, и Вы сможете узнавать о их деятельности.</p>
                        </div>
                      </div>
                    {% endfor %}
                    <div class="load text-center col-md-12">
                        {% if page_obj.has_next %}
                        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"><img src="/static/images/loading.gif"></a>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
                        <div class="card-body">
                          <h3 class="card-title">Пользователь скрыл свои подписки</h3>
                        </div>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
