{% extends "base.html" %}
{% block title %}Мои подписки{% endblock %}
{% block content %}

<div class="page-title d-flex" aria-label="Page title">
  <div class="container text-left align-self-center">
    <h1 class="page-title-heading">Мои подписки</h1>
  </div>
</div>

<div class="container mb-4">
      <div class="row">
        <div class="col-lg-4 pb-5">
          <div class="wizard">
            {% include 'profile/nav.html' %}
          </div>
        </div>

        <div class="col-lg-8 pb-5">
          <div class="row pag_container">
            {% for object in object_list %}
            <div class="cart-item d-md-flex justify-content-between">
              <span class="remove-item remove_elect_subscribe_in_profile"><i class="fe-icon-x"></i></span>
              <div class="px-3 my-3">

                  <div class="cart-item-product-thumb">
                    <a href="{% url 'elect_detail' pk=object.pk %}">
                      <img src="{{ object.image.url }}" alt="img">
                    </a>
                  </div>
                  <div class="cart-item-product-info">
                    <a href="{% url 'elect_detail' pk=object.pk %}">
                      <h4 class="cart-item-product-title">{{ object.name }}</h4>
                    </a>
                    <div class="text-lg text-body font-weight-medium pb-1">Рейтинги</div>
                    <span>Орган власти:
                      <a href="{% url 'authority_index' slug=get_first_list.slug %}">
                        <span class="text-success font-weight-medium">
                          {{ object.get_first_list }}
                        </span>
                      </a>
                    </span>
                  </div>
              </div>
        </div>

          {% empty %}
          <div class="card border text-center" style="border-color: #4db6ac !important;">
              <div class="card-body">
                <h3 class="card-title">У Вас нет подписок</h3>
                <p class="card-text text-sm">
                  Пока нет чиновников, на которых Вы подписаны.
                  Переходите на страницы чиновников, нажимайте кнопку "Подписаться" и Вы будете получать последние новости,
                  связанные с ними.
                </p>
              </div>
            </div>
          {% endfor %}

          <div class="load text-center col-md-12">
            {% if page_obj.has_next %}
              <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"><img src="/static/images/loading.gif"></a>
            {% endif %}
          </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
