{% extends "base.html" %}
{% block title %}Движения Вашей кармы{% endblock %}
{% block content %}

<div class="row" id="table-contextual">
    <div class="col-12">
        <div class="card">
          {% include 'profile/settings/nav.html' %}
            <div class="card-header">
                <h4 class="card-title">Движения Вашей кармы</h4>
                <h4 class="card-title">Операций {{ user.get_transactions_count }}</h4>
                <h4 class="card-title">Доходы: {{ user.get_total_costs }}, расходы: {{ user.get_total_revenue }}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href="" target="_blank">Как пополнить карму</a><br>
                    <a href="" target="_blank">Куда потратить карму</a><br>
                </p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Тип</th>
                            <th>Сумма</th>
                            <th>Остаток</th>
                        </tr>
                    </thead>
                    <tbody class="is_paginate">
                      {% for object in object_list %}
                        <tr>
                            <td>
                                <span class="font-weight-bold">{{ object.created }}</span>
                            </td>
                            <td>{{ object.get_reason_display }}</td>
                            <td>{{ object.get_pretty_value|safe }}</td>
                            <td>{{ object.total }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
