{% load filters %}

<div class="col-sm-12 col-md-6 card pag" style="margin-bottom: .5rem;">
    <div class="card-body" style="padding: .5rem .5rem;">
        <div class="media">
            <div class="avatar mr-75">
                <a href="{% url 'user' pk=object.pk %}" class="ajax">
                  {{ object.get_40_avatar|safe }}
                </a>
            </div>
            <div class="media-body">
                <h6 class="font-weight-bolder mb-25">
                    <a href="{% url 'user' pk=object.pk %}" class="ajax">
                      {{ object.get_full_name_2 }}
                    </a>
                </h6>
                <span class="text-muted small">
                  {% if request.user|is_follower_user:object.pk %}
                    <span>Ваш подписчик</span>
                      &nbsp;&nbsp;
                  {% endif %}
                  {% if request.user|is_following_user:object.pk %} 
                    <a class="pointer unfollow_user">Отписаться</a>
                  {% else %}
                    <a class="pointer follow_user">Подписаться</a>
                  {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
