<form class="form form-horizontal" style="margin-top: 3rem;">
    {% csrf_token %}
    <div class="card mb-3">
        <div class="card-header border-bottom">
            <h3 class="content-color-primary mb-0">Смена телефона</h3>
        </div>
        <div class="card-body">
          <div class="col-12">
              <div class="form-group row">
                  <div class="col-sm-3 col-form-label">
                      <label for="id_phone">Новый телефон</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <select id="id_first_number">
                          <option value="8" selected="">+{{ request.user.get_last_location.phone }}</option>
                          <option value="375">+375</option>
                          <option value="380">+380</option>
                        </select>
                      </div>
                      <input type="number" id="phone" onkeyup="phone_check();" placeholder="9123456789" class="form-control" tabindex="1">
                    </div>
                    <button type="button" disabled="disabled" class="btn code_send btn-primary btn-block" tabindex="2">Получить код</button>

                    <div id='jsondata' style="margin-top:30px"></div>
                    <div id='jsondata2' style="margin-top:30px"></div>
                  </div>
              </div>
          </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm custom_color border create_fullscreen_hide_2" style="position: relative;">Отмена</button>
        </div>
    </div>
</form>
