{% extends "base.html" %}
{% block title %}Настройки приватности{% endblock %}
{% block content %}

<div class="row mt-2">
  <div class="col-md-9">
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Настройки приватности</h4>
    </div>
    <div class="card-body">
        <form class="form form-horizontal">
          {% csrf_token %}
          <div class="col-12 form-group">
                Мой город виден всем
                <input type="checkbox" {% if private.city %} checked {% endif %} name="city" id="id_city" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_city" class="bg_success border float-right"></label>
          </div>
          <div class="col-12 form-group">
                Мои соцсети видны всем
                <input type="checkbox" {% if private.networks %} checked {% endif %} name="networks" id="id_networks" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_networks" class="bg_success border float-right"></label>
          </div>
          <div class="col-12 form-group">
                Мой возраст виден всем
                <input type="checkbox" {% if private.old %} checked {% endif %} name="old" id="id_old" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_old" class="bg_success border float-right"></label>
          </div>
          <div class="col-12 form-group">
                Мой подписки видны всем
                <input type="checkbox" {% if private.subscribers %} checked {% endif %} name="subscribers" id="id_subscribers" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_subscribers" class="bg_success border float-right"></label>
          </div>
          <div class="col-12 form-group">
                Моё Образование/сфера занятости видны всем
                <input type="checkbox" {% if private.other %} checked {% endif %} name="other" id="id_other" class="switch switch-sm">
                <label style="margin-right:12px;bottom: 5px;" for="id_other" class="bg_success border float-right"></label>
          </div>

          <div class="col-sm-9 offset-sm-3 mt-2">
              <button type="button" class="btn btn-primary float-right" id="edit_user_private_btn">Сохранить</button>
          </div>
        </form>
    </div>
</div>
</div>
<div class="col-md-3">
  <div class="card">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_profile' %}">
          Основное
        </a>
      </li>
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_about' %}">
          О себе
        </a>
      </li>
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_notify' %}">Уведомления</a>
      </li>
      <li class="list-group-item" style="text-decoration:underline">Приватность</li>
      <li class="list-group-item">
        <a class="ajax" href="{% url 'settings_quard' %}">Безопасность</a>
      </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
