{% extends "base.html" %}
{% block title %}{{ object.title }} | Статьи{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ object.title }}" />
<meta property="og:image" content="http://aleksandra.top{{ object.image.url }}" />
{% endblock %}
{% block content %}

	<div class="shadow-title parallax-top-shadow">статья</div>

		<div class="section padding-bottom-big z-bigger over-hide">
			<div class="container z-bigger" style="margin-top:120px">
				<div class="row page-title px-xl-2">
					<div class="col-lg-8">
						<div class="section drop-shadow rounded">
							<h4 style="margin-top:20px;margin-bottom:20px">{{ object.title }}</h4>
							<div class="post-box background-dark over-hide">
              {% if object.image %}
                <img src="{{ object.image.url }}" alt="img" style="width:100%" />
							{% endif %}
							<div class="padding-in">
									<p class="mt-4">{{ object.content|safe }}</p>
									<div class="separator-wrap pt-4 pb-4">
										 <span class="separator"><span class="separator-line dashed"></span></span>
									</div>

									{% include 'blog_info.html' %}
								</div>
							</div>
						</div>

            {% include 'blog_comments.html' %}

					</div>
					{% include 'blog_sidebar.html' %}
				</div>
			</div>
		</div>

{% endblock %}
