
<div class="section drop-shadow rounded mt-4 over-hide">
  <div class="post-comm-box background-dark over-hide">
    {% if not object.get_comments %}
      <h5 class="mb-3">Комментариев нет</h5>
    {% else %}
      <h5 class="mb-3">Комментарии &nbsp;({{ object.count_comments }})</h5>
    {% endif %}
    <div class="separator-wrap pt-3 pb-4">
      <span class="separator"><span class="separator-line dashed"></span></span>
    </div>
    <span class="stream_comments">
    {% for comment in object.get_comments %}

    {% if comment.is_deleted %}
      <div class="comment border-bottom">
        <p style="text-decoration:underline;display: flex; padding-left:10px;margin: 0;">Комментарий удален</p>
        <span style="cursor:pointer;" class="show_replies content-color-primary">
            {% if comment.count_replies %}
            ---- {{ comment.count_replies_ru }} ----
            {% endif %}
        </span>
        <span class="stream_reply_comments">
            {% for reply in comment.get_replies %}
              {% include 'blog_reply.html' %}
            {% endfor %}
        </span>
      </div>
    {% else %}
      {% include 'blog_parent.html' %}
    {% endif %}

    {% endfor %}
    </span>
  </div>
</div>

<div class="section drop-shadow rounded mt-4 over-hide">
  <div class="post-comm-box background-dark over-hide">
    {% if not request.user.is_authenticated %}
    <p>Только авторизованные пользователи могут оставлять комментарии. Пожалуйста,
      <a href="{% url 'login' %}">Авторизуйтесь</a>
        или
      <a href="{% url 'signup' %}">Зарегистрируйтесь</a>
    </p>
    {% else %}
    <form class="ajax-form">
      {% csrf_token %}
      <input type="hidden" name="pk" value="{{ object.pk }}">
      <div class="subscribe-box mt-4">
        <input type="text" placeholder="Напишите что-нибудь" name="text" class="hover-target text-comment">
      </div>
      <button class="btn-long mt-4 hover-target blog_comment" type="button">Комментировать</button>
    </form>
    {% endif %}
  </div>
</div>
