{% extends "base.html" %}
{% block title %}Вход | Регистрация{% endblock %}
{% block content %}

<div class="page-title d-flex" aria-label="Page title">
  <div class="container text-left align-self-center">
    <h1 class="page-title-heading">Вход | Регистрация</h1>
  </div>
</div>

<div class="container mb-3">
      <div class="row">
        <div class="col-md-6 pb-5">
          <form id="login_form" action="{% url 'rest_login' %}" class="wizard">
            {% csrf_token %}
            <div class="wizard-body pt-2">
              <h6 class="h4 pb-1">Вход</h6>
              <div class="form-group login_response"></div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fe-icon-phone"></i></span>
                </div>
                <input type="text" name="username" class="form-control l_username" placeholder="Телефон">
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fe-icon-lock"></i></span>
                </div>
                <input class="form-control l_password" type="password" name="password" placeholder="Пароль">
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="custom-control custom-checkbox">
                  <a class="navi-link" href="">Не могу войти</a>
                </div>
                <a class="navi-link" href="l">Забыли пароль?</a>
              </div>
            </div>
            <div class="wizard-footer text-right">
              <button id="logg" class="btn btn-primary" type="button">Войти</button>
            </div>
          </form>
        </div>
        <div class="col-md-6 pb-5">
          <h3 class="h4 pb-1">Регистрация</h3>
          <div class="form-group signup_response"></div>
          <form class="wizard" id="signup">

            <div class="input-group form-group">
              <input type="text" name="first_name" class="form-control first_name" placeholder="Имя">
            </div>
            <div class="input-group form-group">
              <input type="text" name="last_name" class="form-control last_name" placeholder="Фамилия">
            </div>
            <div class="input-group form-group">
              <input type="password" name="password1" class="form-control password1" placeholder="Пароль">
            </div>
            <div class="input-group form-group">
              <input type="password" name="password2" class="form-control password2" placeholder="Повторите пароль">
            </div>
            <div class="text-right">
              <button class="btn btn-primary" id="register_ajax" type="button">Регистрация</button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
