{% extends "base_auth.html" %}
{% block title %}Вход{% endblock %}
{% block content %}


<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
<div class="card mb-0">
    <div class="card-body">
        <a class="brand-logo" href="{% url 'main' %}">
            <h2 class="brand-text text-primary ml-1">Перейти на сайт</h2>
        </a>
        <form id="login_form" class="auth-login-form mt-2">
        <h4 class="card-title mb-1">Добро пожаловать 👋</h4>
        <p class="card-text mb-2 api_response">Войдите в аккаунт, чтобы пользоваться всеми возможностями сайта</p>
            <div class="form-group">
                <label for="id_username" class="form-label">Телефон</label>
                <div class="input-group input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <select id="id_first_number">
                        <option value="8" selected="">+7</option>
                        <option value="375">+375</option>
                        <option value="380">+380</option>
                      </select>
                    </span>
                  </div>
                  <input class="form-control" type="text" name="username" id="id_username" tabindex="1" autofocus="">
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label for="id_password">Пароль</label>
                    <a href="">
                        <small>Забыли пароль?</small>
                    </a>
                </div>
                <div class="input-group input-group-merge form-password-toggle">
                    <input class="form-control form-control-merge" type="password" name="password" id="id_password" tabindex="2">
                    <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
                </div>
            </div>
            <button type="button" id="logg" class="btn btn-primary btn-block" tabindex="4">Войти</button>
        </form>

        <p class="text-center mt-2">
            <span>Не зарегистрированы?</span>
            <a class="ajax" href="{% url 'signup' %}">
                <span class="bold_underline">Создайте аккаунт</span>
            </a>
        </p>
    </div>
</div>
</div>
</div>
{% endblock %}
