{% extends "base_auth.html" %}
{% block title %}Вход{% endblock %}
{% block content %}


<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
<div class="card mb-0">
    <div class="card-body">
        <a class="brand-logo" href="{% url 'main' %}">
            <h6 class="brand-text text-primary ml-1">Восстановление доступа</h6>
        </a>
        <h4 class="card-title mb-1">Уважаемый пользователь 👋</h4>
        <p class="card-text mb-2 api_response">
          Вы можете вернуть доступ к аккаунту тремя способами. <br>
          Важно: если у Вас есть секретное выражение, другие способы не сработают.
        </p>

        <button type="button" id="recovery_password_secret_key" class="btn btn-link btn-block" tabindex="4">Секретное выражение</button>
        <button type="button" id="recovery_password_secret_phone" class="btn btn-link btn-block" tabindex="4">Телефон</button>
        <button type="button" id="recovery_password_secret_mail" class="btn btn-link btn-block" tabindex="4">Почта</button>

        <p class="text-center mt-2">
            <span>Вспомнили телефон и пароль?</span>
            <a class="ajax" href="{% url 'login' %}">
                <span class="bold_underline">Войти</span>
            </a>
        </p>
    </div>
</div>
</div>
</div>
{% endblock %}
