{% extends "base_auth.html" %}
{% block title %}Вход{% endblock %}
{% block content %}


<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
<div class="card mb-0">
    <div class="card-body">
        <span class="brand-logo">
            <h4 class="brand-text text-primary ml-1">Восстановление доступа</h4>
        </span>

        <div class="form-group">
          <label for="id_phone">Ваш телефон</label>
          <div class="input-group input-group-merge">
            <div class="input-group-prepend">
              <select name="first_number" id="id_first_number">
                <option value="7" selected="">+7</option>
                <option value="375">+375</option>
                <option value="380">+380</option>
              </select>
            </div>
            <input type="number" id="phone" onkeyup="phone_check();" placeholder="9123456789" class="form-control" tabindex="1">
            <div class="input-group-append">
              <button type="button" disabled="disabled" class="btn form_phone_send recovery_phone_send btn-primary btn-block" tabindex="2">Готово</button>
            </div>
          </div>
        </div>

        <div id='jsondata' style="margin-top:30px"></div>
        <div id='jsondata2' style="margin-top:30px"></div>

        <p class="text-center mt-2">
            <span>Вспомнили телефон и пароль?</span>
            <a class="ajax" href="{% url 'login' %}">
                <span class="bold_underline">Войти</span>
            </a>
        </p>
    </div>
</div>
</div>
</div>
{% endblock %}
