<div class="col-md-4 u_video_list_detail pointer pag {% if forloop.last %}last{% endif %}"  video-pk="{{ object.pk }}">
  <div class="blog-header-img">
    {% if object.image %}
      <img style="width: 100%;object-fit: cover;height: 200px;" src="{{ object.image.url }}" alt="img">
    {% else %}
      <img style="width: 100%;object-fit: cover;height: 200px;" src="/static/images/list.jpg" alt="img">
    {% endif %}
  </div>
  <div class="card-body">
    <h5 class="text-truncate w-100">{{ object.title }}</h5>
    <span class="small">{{ object.get_created }}</span>
  </div>
</div>
