<div class="user-info-wrapper">
    <div class="d-flex flex-wrap">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Активность</span>
        </div>
        <p class="card-text mb-0" style="margin-left: auto;">{{ user.get_online_display|safe }}</p>
    </div>
    <div class="d-flex flex-wrap my-50">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Регистрация</span>
        </div>
        <p class="card-text mb-0" style="margin-left: auto;">{{ user.date_joined }}</p>
    </div>
    {{ request.user.city }}
    {% if user.user_private.city %}
    <div class="d-flex flex-wrap my-50">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Регион</span>
        </div>
        <p class="card-text mb-0" style="margin-left: auto;">{{ user.city.region }}</p>
    </div>
    <div class="d-flex flex-wrap my-50">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Город</span>
        </div>
        <p class="card-text mb-0" style="margin-left: auto;">{{ user.city }}</p>
    </div>
    {% endif %}

    {% if user.user_private.old %}
    <div class="d-flex flex-wrap my-50">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Дата рождения</span>
        </div>
        <p class="card-text mb-0" style="margin-left: auto;">{{ user.get_age }}</p>
    </div>
    {% endif %}

    {% if user.user_private.other %}
    <div class="d-flex flex-wrap my-50">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Образование</span>
        </div>
        <p class="card-text mb-0" style="margin-left: auto;">{{ user.user_info.get_education_display }}</p>
    </div>
    <div class="d-flex flex-wrap my-50">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Сфера занятости</span>
        </div>
        <p class="card-text mb-0" style="margin-left: auto;">{{ user.user_info.get_employment_display }}</p>
    </div>
    {% endif %}
</div>
