<div class="user-info-wrapper mt-1">
    <div class="d-flex flex-wrap">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Статус</span>
        </div>
        <p class="card-text mb-0" style="margin-left: auto;">{{ user.get_type_display }}</p>
    </div>
    {% if request.user.is_supermanager and user.is_manager %}
    <div class="d-flex flex-wrap my-50">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Действия</span>
        </div>
        <p class="card-text mb-0 show_logs_elect_new pointer" data-pk="{{ user.pk }}" style="margin-left: auto;">Смотреть</p>
    </div>
    {% endif %}
    <div class="d-flex flex-wrap my-50">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Комментариев</span>
        </div>
        <p class="card-text mb-0" style="margin-left: auto;">{{ user.profile.comments }}</p>
    </div>
    <div class="d-flex flex-wrap my-50">
        <div class="user-info-title">
            <span class="card-text user-info-title font-weight-bold mb-0">Новостей</span>
        </div>
        <p class="card-text mb-0" style="margin-left: auto;">{{ user.profile.elect_news }}</p>
    </div>
</div>
