
<div class="data_display pt-4" data-uuid="{{ object.uuid }}" list-pk="{{ object.pk }}">
  <div class="row" style="margin-right: -10px;margin-left: -10px;">
    {% if next %}
    <div class="col" style="padding:5px;">
      <a class="btn btn-sm border next_video" href="{% url 'u_video' pk=next.pk uuid=list.uuid %}" style="width: -webkit-fill-available;position:static">
        <svg fill="currentColor" class="svg_default" style="width: 19px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/></svg>
      </a>
    </div>
    {% endif %}

    {% include 'user_video/detail/move_video.html' %}

    <div class="col" style="padding:5px;">
      <a type="button" class="btn btn-sm border menu_drop" style="width: -webkit-fill-available;">
          Опции
      </a>
      <div class="dropdown-menu">
          <a class="dropdown-item u_video_claim pointer">Пожаловаться</a>
      </div>
    </div>
    <div class="col" style="padding:5px;">
      <a class="btn btn-sm border pointer photo_fullscreen_hide_2" style="width: -webkit-fill-available;">x</a>
    </div>
    {% if prev %}
      <div class="col" style="padding:5px;">
        <a class="btn btn-sm border prev_video" href="{% url 'u_video' pk=prev.pk uuid=list.uuid %}" style="width: -webkit-fill-available;position:static">
          <svg fill="currentColor" class="svg_default" style="width: 19px;" viewBox="0 0 24 24"><rect fill="none" /><path d="M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z"/></svg>
        </a>
      </div>
    {% endif %}
  </div>
  {% include 'user_video/detail/card_header.html' %}
  <span class="content_block">
    <span>
      <div class="card image_card rounded-0 border-0 mb-3">
        {% if object.uri %}
        <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="{{ object.uri }}"></div>
        {% else %}
        <video id="player" playsinline controls data-poster="{{ object.get_image }}">
          <source src="{{ object.file.url }}" type="video/mp4" />
        </video>
        {% endif %}
    </div>
  </span>
</span>
  </div>
<br><br><br>
