<div class="col-md-6 col-sm-12 pag {% if forloop.last %}last{% endif %}" style="padding:3px">
  <div class="media border p-1">
      <div class="media-body music_media_body" style="line-height: 8px;">
        <span>{{ object.title }}</span>
        <div class="audio_div">
          <audio id="player" class="audio_player">
            <source src="{{ object.file.url }}" type="audio/mp3" />
          </audio>
        </div>
        <span class='span_btn' data-pk="{{ object.pk }}">
          {% include 'user_music/add_dropdown.html' %}
          <div class="dropdown" style="position: inherit;">
              <a class="btn_default drop pointer">
                  <svg class="svg_info" style="padding-top: 2px;" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                  </svg>
              </a>
              <div class="dropdown-menu dropdown-menu-right" style="top: 60px;">
                {% if request.user.pk == object.creator.pk %}
                  <span class="dropdown-item u_track_edit">Изменить</span>
                  <span class="dropdown-item u_track_remove">Удалить</span>
                {% elif request.user.is_manager %}
                  <span class="dropdown-item manager_track_remove">♦ Удалить</span>
                {% else %}
                  <span class="dropdown-item track_claim">Пожаловаться</span>
                {% endif %}
                <span class="dropdown-item copy_link">Копировать ссылку</span>
              </div>
          </div>
        </span>
      </div>
  </div>
</div>
