<div class="content-body">
    <div class="row match-height">
        <div class="col-12 col-md-6 col-lg-7">
            <div class="card card-congratulations">
                <div class="card-body text-center">
                    <img src="/static/images/decore-left.png" class="congratulations-img-left" alt="card-img-left" />
                    <img src="/static/images/decore-right.png" class="congratulations-img-right" alt="card-img-right" />
                    <div class="avatar avatar-xl bg-primary shadow">
                        <div class="avatar-content">
                          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award font-large-1"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>
                        </div>
                    </div>
                    <div class="text-center">
                        <h1 class="mb-1 text-white">Последние события</h1>
                        <p class="card-text m-auto w-75">
                            Активности, реакции пользователей по дням
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5">
            <div class="card card-congratulation-medal">
                <div class="card-body">
                    <h5>Вы можете предложить новость о депутатах!</h5>
                    <p class="card-text font-small-3">
                      Их поведение, высказывания, работа с избирателями, предвыборная деятельность,
                      поддержание или противодействие известным Вам законам. Все предложенные новости
                      проходят модерацию.
                    </p>
                    <button class="btn btn-primary">Предложить новость</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row match-height">
        {% for object in last_elect_news %}
          {% include 'main/events.html' %}
        {% empty %}
          Событий пока нет...
        {% endfor %}
    </div>
</div>
