<div class="breadcrumb-wrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <span class="pointer who_to_contact">1. К кому обратиться</span>
    </li>
    <li class="breadcrumb-item ">
      <span class="pointer how_to_apply">2. Как обратиться</span>
    </li>
    <li class="breadcrumb-item">
      <span class="where_to_apply pointer">3. Где обратиться</span>
    </li>
    <li class="breadcrumb-item">
      <span class="pointer why_publish">4. Зачем публиковать</span>
    </li>
    <li class="breadcrumb-item">
      <span class="pointer how_to_publish">5. Как публиковать</span>
    </li>
  </ol>
</div>
