<div class="breadcrumb-wrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <span class="pointer get_help_window">Нужна помощь?</span>
    </li>
    <li class="breadcrumb-item">
      <a href="">2. Как обратиться</a>
    </li>
    <li class="breadcrumb-item">
      <a href="">3. Где обратиться</a>
    </li>
    <li class="breadcrumb-item">
      <a href="">4. Зачем публиковать</a>
    </li>
    <li class="breadcrumb-item">
      <a href="">5. Как публиковать</a>
    </li>
  </ol>
</div>
