<section class="bg-secondary pt-5">
      <div class="container py-md-3">
        <div class="row">
          <div class="col-lg-5 col-md-7 order-md-2 pb-5">
            <div class="mb-30">
              <div class="card blog-card mb-2">
                <div class="card-body"><span class="post-format"><i class="fe-icon-mic"></i></span>
                  <h5 class="post-title"><a href="">Deep Purple "Smoke on the Water". Song History and Records.</a></h5>
                  <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam aute irure dolor in reprehenderit in voluptate.
                  </p>
                  <a class="tag-link" href="#">Music</a><a class="tag-link" href="#">Classic Rock</a>
                </div>
                <div class="card-footer"><a class="post-author" href="">
                    <div class="post-author-avatar"><img src="/static/images/test_new.jpg" alt="Post Author">
                    </div>
                    <div class="post-author-name">Silvia Clark</div></a>
                  <div class="post-meta">
                    <a href=""><i class="fe-icon-message-square"></i>3</a>
                    <span><i class="fe-icon-clock"></i>Jul 15, 2018</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-30">
              <div class="card blog-card mb-2">
                <a class="post-thumb" href="">
                  <img src="/static/images/test_new.jpg" alt="Post Thumbnail">
                </a>
                <div class="card-body">
                  <h5 class="post-title">
                    <a href="">The Real Truth About Space</a>
                  </h5>
                  <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium...</p>
                  <a class="tag-link" href="#">Space</a><a class="tag-link" href="#">Technology</a>
                </div>
                <div class="card-footer">
                  <a class="post-author" href="">
                    <div class="post-author-avatar">
                      <img src="/static/images/test_new.jpg" alt="Post Author">
                    </div>
                    <div class="post-author-name">Sara Palson</div>
                  </a>
                  <div class="post-meta">
                    <a href=""><i class="fe-icon-message-square"></i>21</a>
                    <span><i class="fe-icon-clock"></i>Sep 03, 2018</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-30">
              <div class="card blog-card mb-2">
                <div class="card-body"><span class="post-format"><i class="fe-icon-video"></i></span>
                  <h5 class="post-title">
                    <a href="">The Most Anticipated Movies of 2018.</a>
                  </h5>
                  <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam...</p>
                  <a class="tag-link" href="#">Movies</a><a class="tag-link" href="#">Trailers</a>
                </div>
                <div class="card-footer">
                  <a class="post-author" href="">
                    <div class="post-author-avatar">
                      <img src="/static/images/test_new.jpg" alt="Post Author">
                    </div>
                    <div class="post-author-name">Mark Peterson</div>
                  </a>
                  <div class="post-meta"><a href=""><i class="fe-icon-message-square"></i>31</a>
                    <span><i class="fe-icon-clock"></i>Jul 29, 2018</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <a class="btn btn-primary" href="#"><i class="fe-icon-rotate-cw"></i>&nbsp;Load More</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 order-md-1">
            <div class="widget widget-featured-posts">
              <h4 class="widget-title">Trending Now</h4>
              <a class="featured-post" href="">
                <div class="featured-post-thumb">
                  <img src="/static/images/test_new.jpg" alt="Post Thumbnail">
                </div>
                <div class="featured-post-info">
                  <div class="featured-post-meta">
                    <span class="text-primary opacity-70"><i class="fe-icon-clock"></i>22/07/2018</span>
                    <span class="ml-3"><i class="fe-icon-message-square"></i>21</span>
                  </div>
                  <div class="featured-post-title">Getting to another level of design and functionality.</div>
                </div>
              </a>
              <a class="featured-post" href="">
                <div class="featured-post-thumb">
                  <img src="/static/images/test_new.jpg" alt="Post Thumbnail">
                </div>
                <div class="featured-post-info">
                  <div class="featured-post-meta">
                    <span class="text-primary opacity-70"><i class="fe-icon-clock"></i>30/06/2018</span>
                    <span class="ml-3"><i class="fe-icon-message-square"></i>17</span>
                  </div>
                  <div class="featured-post-title">Popular Cherry 5 WordPress Framework Sneaky Peaks.</div>
                </div>
              </a>
              <a class="featured-post" href="">
                <div class="featured-post-thumb">
                  <img src="/static/images/test_new.jpg" alt="Post Thumbnail">
                </div>
                <div class="featured-post-info">
                  <div class="featured-post-meta">
                    <span class="text-primary opacity-70"><i class="fe-icon-clock"></i>11/06/2018</span>
                    <span class="ml-3"><i class="fe-icon-message-square"></i>220</span>
                  </div>
                  <div class="featured-post-title">Google Analytics Academy. Learn with free online courses.</div>
                </div>
              </a>
            </div>

            <div class="widget widget-featured-posts">
              <h4 class="widget-title">Popular in Travelling</h4><a class="featured-post" href="">
                <div class="featured-post-thumb">
                  <img src="/static/images/test_new.jpg" alt="Post Thumbnail">
                </div>
                <div class="featured-post-info">
                  <div class="featured-post-meta">
                    <span class="text-primary opacity-70"><i class="fe-icon-clock"></i>13/07/2018</span>
                    <span class="ml-3"><i class="fe-icon-message-square"></i>24</span>
                  </div>
                  <div class="featured-post-title">The 10 best Sahara Desert tours &amp; trips 2018 / 2019.</div>
                </div>
              </a>
              <a class="featured-post" href="">
                <div class="featured-post-thumb">
                  <img src="/static/images/test_new.jpg" alt="Post Thumbnail">
                </div>
                <div class="featured-post-info">
                  <div class="featured-post-meta">
                    <span class="text-primary opacity-70"><i class="fe-icon-clock"></i>19/06/2018</span>
                    <span class="ml-3"><i class="fe-icon-message-square"></i>15</span>
                  </div>
                  <div class="featured-post-title">Top 5 destinations around the world with clear blue sea.</div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 d-none d-lg-block order-md-3">
            <div class="widget mb-30">
              <h4 class="widget-title">Предложить новость</h4>
              <div class="border p-1">
                <div class="bg-white py-4 px-3 text-center">
                  <i class="d-block fe-icon-info lead text-primary mb-3 mt-2"></i>
                  <h5 class="h6 block-title mb-4">Your Ads can be displayed here</h5>
                  <a class="btn btn-gradient btn-sm mb-3" href="#">Contact us</a>
                </div>
              </div>
            </div><a class="d-block mb-30" href="#">
              <img src="/static/images/test_new.jpg" alt="Add Banner"></a>
              <a class="d-block box-shadow" href="#">
                <img src="/static/images/test_new.jpg" alt="Add Banner">
              </a>
          </div>
        </div>
      </div>
    </section>
