<section class="bg-secondary pt-5">
  <h4 class="widget-title">Новости проекта</h4>
      <div class="container py-md-3">
        <div class="row">
          <div class="col-lg-5 col-md-7 order-md-2 pb-5">
            <div class="mb-30">
              <div class="card blog-card mb-2">
                <a class="post-thumb" href="">
                  <img src="/static/images/test_new.jpg" alt="Post Thumbnail">
                </a>
                <div class="card-body">
                  <h5 class="post-title">
                    <a href="">Новость 1</a>
                  </h5>
                  <p class="text-muted">Краткое описание новости...</p>
                  <a class="tag-link" href="#">Тег</a>
                  <a class="tag-link" href="#">Тег</a>

                  {% include 'generic/blog_meta.html' %}

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 order-md-1">
            <div class="widget widget-featured-posts">
              <h4 class="widget-title">Последние события</h4>

              <a class="featured-post" href="">
                <div class="featured-post-thumb">
                  <img src="/static/images/test_new.jpg" alt="Post Thumbnail">
                </div>
                <div class="featured-post-info">
                  {% include 'generic/blog_meta.html' %}
                  <div class="featured-post-title">Заголовок события</div>
                </div>
              </a>

            </div>
          </div>

          <div class="col-lg-3 d-none d-lg-block order-md-3">
            <div class="widget mb-30">
              <h4 class="widget-title">Предложить новость</h4>
              <div class="border p-1">
                <div class="bg-white py-4 px-3 text-center">
                  <i class="d-block fe-icon-info lead text-primary mb-3 mt-2"></i>
                  <h5 class="h6 block-title mb-4">Есть что рассказать? Смело присылайте материал</h5>
                  <a class="btn btn-gradient btn-sm mb-3" href="#">Я готов!</a>
                </div>
              </div>
            </div>
            <a class="d-block mb-30" href="#">
              <img src="/static/images/test_new.jpg" alt="Add Banner">
            </a>
            <a class="d-block box-shadow" href="#">
              <img src="/static/images/test_new.jpg" alt="Add Banner">
            </a>
          </div>
        </div>
      </div>
    </section>
