<section class="container pt-2 pb-5 mb-3">
  <h2 class="h3 block-title text-center"><span class="font-weight-normal">And some</span> Cool Features</h2>
  <div class="row pt-4">
    <div class="col-md-6">
      <dl class="dl-with-icon">
        <dt><i class="fe-icon-check-circle text-success"></i>Kick-start your development</dt>
        <dd>Start your development process fast and easy with Node.js and Gulp setup. Configuration files are included in download package. Full tasks automation.</dd>
        <dt><i class="fe-icon-check-circle text-success"></i>Easy To Customize With Sass</dt>
        <dd>CreateX is built using Sass. Easily change colors, typography and much more. It is the most mature, stable, and powerful CSS extension language in the world.</dd>
        <dt><i class="fe-icon-check-circle text-success"></i>Pug - Node Templating Engine</dt>
        <dd>No need to write huge amount of HTML, if you don’t want to. Pug provides features not available in plain HTML like variables, includes, mixins, etc.</dd>
        <dt><i class="fe-icon-check-circle text-success"></i>Built With Bootstrap 4</dt>
        <dd>CreateX is the ultimate website front-end solution based on Bootstrap 4 - the world's most popular responsive, mobile-first front-end component library.</dd>
        <dt><i class="fe-icon-check-circle text-success"></i>45+ Flexible Components</dt>
        <dd>Besides styling all default Bootstrap 4 components CreateX introduces lots of new flexible, customizable and reusable elements to use across the website.</dd>
        <dt><i class="fe-icon-check-circle text-success"></i>Mobile Friendly Interface</dt>
        <dd>It's not a surprise that nowadays over 60% of users shop online using their mobile devices. CreateX is 100% responsive and optimized for small touch screens.</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <dl class="dl-with-icon">
        <dt><i class="fe-icon-check-circle text-success"></i>Mobile Friendly Interface</dt>
        <dd>It's not a surprise that nowadays over 60% of users shop online using their mobile devices. CreateX is 100% responsive and optimized for touch screens.</dd>
        <dt><i class="fe-icon-check-circle text-success"></i>Google Fonts</dt>
        <dd>CreateX uses Google fonts which are free, fast to load and of very high quality. Currently Google fonts library includes 870+ font families to choose from.</dd>
        <dt><i class="fe-icon-check-circle text-success"></i>Touch-enabled Sliders</dt>
        <dd>In the era of touch screens it's important to ensure great user experience on handheld devices, especially when it comes to such importnat interface component as slider.</dd>
        <dt><i class="fe-icon-check-circle text-success"></i>Vector Based HD Ready Icons</dt>
        <dd>CreateX uses font-based icon packs to ensure that infographics and interface icons look sharp on any device with any screen resolution and pixel density.</dd>
        <dt><i class="fe-icon-check-circle text-success"></i>Customizable Google Maps</dt>
        <dd>Thanks to Gmap3 plugin and Snazzy Maps collection of custom map styles you can create unique map design that fits perfectly overall look of your website.</dd>
        <dt><i class="fe-icon-check-circle text-success"></i>W3C Valid HTML Code</dt>
        <dd>All HTML files are checked via W3C validator to ensure 100% valid code. As you probably know invalid HTML limits innovation, but CreateX is innovative at its core.</dd>
      </dl>
    </div>
  </div>
</section>
