<section class="container mt-2 pt-4 pb-5">
      <h2 class="h3 block-title text-center">
        <span class="font-weight-normal">Разделы</span>
        сайта
        <small>
          Удобная навигация для Вашего удобства
        </small>
      </h2>
      <div class="row pt-4">
        <div class="col-lg-4 col-sm-6 mb-30">
          <a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="" style="background-image: url(img/homepages/theme-presentation/portfolio.png);">
            <h3 class="h5">Гос. Дума</h3>
            <p class="text-muted pb-2">Список чиновников Государственной Думы с профилями и совершаемыми шагами (высказывания, выборная деятельность, общение с гражданами)</p>
            <div class="btn btn-warning btn-sm">Перейти&nbsp;<i class="fe-icon-arrow-right"></i></div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
          <a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="" style="background-image: url(img/homepages/theme-presentation/blog.png);">
            <h3 class="h5">Совет Федерации</h3>
            <p class="text-muted pb-2">Список чиновников Совета Федерации с профилями и совершаемыми шагами (высказывания, выборная деятельность, общение с гражданами)</p>
            <div class="btn btn-info btn-sm">Перейти&nbsp;<i class="fe-icon-arrow-right"></i></div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
          <a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="" style="background-image: url(img/homepages/theme-presentation/shop.png);">
            <h3 class="h5">Власть в регионах</h3>
            <p class="text-muted pb-2">Список чиновников в регионах России с профилями и совершаемыми шагами (высказывания, выборная деятельность, общение с гражданами)</p>
            <div class="btn btn-success btn-sm">Перейти&nbsp;<i class="fe-icon-arrow-right"></i></div>
          </a>
        </div>
      </div>
    </section>
