{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}

        <div class="content-wrapper row ecommerce-application" style="margin-top: -20px">
          <div class="content-header-left col-md-9 col-12">
            {% include 'main/breadcrumb.html' %}
            {% include 'main/nav.html' %}
            <div class="content-body elect_news_container is_paginate mt-2 list-view">
              {% load notify %}
              {% for object in object_list %}
                <div class="card mb-2 pag {% if forloop.last %}last{% endif %}">
                  {{ object|get_notify:request.user|safe }}
                </div>
              {% endfor %}

              {% include 'main/test.html' %}
            </div>
          </div>
          <div class="content-header-left col-md-3 col-12 mb-2"></div>
        </div>
{% endblock %}
