{% extends "base.html" %}
{% block title %}Карта Российской Федерации{% endblock %}
{% block meta %}
<meta property="og:url" content="{% url 'main' %}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="служународу.рус - политический портал" />
<meta property="og:description" content="Сайт «Служу Народу» – проект, призванный стать инструментом взаимодействия граждан и власти.Это проект сообщества, приверженного конкретным ценностям, без которых попросту невозможно нормальное общество." />
<meta property="og:image" content="https://служународу.рус/static/images/elect_image.png" />
{% endblock %}
{% block content %}

        <div class="content-wrapper row ml-0 main-container">
          <div class="content-header-left col-md-9 col-12">

            {% include 'main/breadcrumb.html' %}
            <div class="content-header">
            <div class="p-0 content-header-left">
              <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 100%;">
                <a class="btn btn-outline-primary main_nav ajax" href="/">
                  <svg style="margin-right: 3px;" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-flag"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path><line x1="4" y1="22" x2="4" y2="15"></line></svg>
                  <span class="d-none d-sm-block">Лента</span>
                </a>
                <a class="btn btn-outline-primary main_nav ajax" href="/main_region/{{ request.user.city.region.slug }}/">
                  <svg style="margin-right: 3px;" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                  <span class="d-none d-sm-block">Мой&nbsp;регион</span>
                </a>
                <a class="btn btn-outline-primary main_nav ajax" href="/news/">
                  <svg style="margin-right: 3px;" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather">
                    <circle cx="12" cy="12" r="2"></circle>
                    <path d="M16.24 7.76a6 6 0 0 1 0 8.49m-8.48-.01a6 6 0 0 1 0-8.49m11.31-2.82a10 10 0 0 1 0 14.14m-14.14 0a10 10 0 0 1 0-14.14"></path>
                  </svg>
                  <span class="d-none d-sm-block">Новости</span>
                </a>
                <a class="btn btn-outline-primary main_nav ajax" href="/main_media/">
                  <svg style="margin-right: 3px;" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
                  <span class="d-none d-sm-block">Архив</span>
                </a>
              </div>
            </div>
            </div>
          </div>
          <div class="col-12">
            <div class="content-body main_news_container news_stream is_paginate mt-2">
              {% include 'main/test.html' %}
            </div>
          </div>
        </div>

{% endblock %}
