{% extends "base.html" %}
{% block title %}Архив портала{% endblock %}
{% load filters %}
{% block meta %}
<meta property="og:url" content="{% url 'main' %}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="служународу.рус - политический портал" />
<meta property="og:description" content="Сайт «Служу Народу» – проект, призванный стать инструментом взаимодействия граждан и власти.Это проект сообщества, приверженного конкретным ценностям, без которых попросту невозможно нормальное общество." />
<meta property="og:image" content="https://служународу.рус/static/images/elect_image.png" />
{% endblock %}
{% block content %}

<div class="content-wrapper row main-container">
	<div class="content-header-left col-md-9 col-12">
    {% include 'main/breadcrumb.html' %}
    <div class="content-header">
			<div class="content-header-left">
				<div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 100%;">
					<a href="/" class="btn btn-outline-primary main_nav ajax">
						<svg style="margin-right: 3px;" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-flag">
							<path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
							<line x1="4" y1="22" x2="4" y2="15"></line>
						</svg>
						<span class="d-none d-sm-block">Лента</span>
					</a>
					<a class="btn btn-outline-primary ajax main_nav" href="/main_region/{{ request.user.city.region.slug }}/">
						<svg style="margin-right: 3px;" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin">
							<path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
							<circle cx="12" cy="10" r="3"></circle>
						</svg>
						<span class="d-none d-sm-block">Мой&nbsp;регион</span>
					</a>
					<a class="btn btn-outline-primary main_nav ajax" href="/news/">
						<svg style="margin-right: 3px;" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather">
							<circle cx="12" cy="12" r="2"></circle>
							<path d="M16.24 7.76a6 6 0 0 1 0 8.49m-8.48-.01a6 6 0 0 1 0-8.49m11.31-2.82a10 10 0 0 1 0 14.14m-14.14 0a10 10 0 0 1 0-14.14"></path>
						</svg>
						<span class="d-none d-sm-block">Новости</span>
					</a>
					<a class="btn btn-outline-primary ajax main_nav active">
						<svg style="margin-right: 3px;" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder">
							<path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
						</svg>
						<span class="d-none d-sm-block">Архив</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
        {% include 'main/media_lists.html' %}
      </div>
			<span class="load_block col-md-9">
				<div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
					<h5 class="mt-1">
						<span class="second_list_name mt-1" data-name="{{ list.name }}">
							{{ list.name }}
						</span>
            ({{ list.count_items }})
						{% if request.user.is_manager %}
            <span class="dropdown">
              <span class="btn_default pointer">
                Добавить
              </span>
              <div class="dropdown-menu" style="top: -162px;" data-pk="669" data-link="/elect/new/669" data-title="О вакцинации">
                <form id="add_photos" data-uuid="{{ list.uuid }}">
                  {% csrf_token %}
                  <input type="file" id="media_photo_add" accept="image/*" name="file" style="display:none" multiple="multiple">
                  <span class="dropdown-item border previous_click">+ фото</span>
    							<span class="dropdown-item border media_doc_add">+ файл</span>
    							<span class="dropdown-item border media_track_add">+ аудио</span>
    							<span class="dropdown-item border media_video_add">+ видео</span>
    						</form>
              </div>
            </span>

						<span class="pointer badge badge-light-secondary edit_media_list">Изменить альбом</span>
						<span class="pointer badge badge-light-danger media_list_remove">Удалить альбом</span>
					{% endif %} <span class="pointer badge badge-light-primary copy_link" data-link="/main_media/?uuid={{list.uuid}}">Копировать ссылку</span>
					</h5>
				</div>

				<div class="row is_paginate no-gutters">
          {% if object_list %}
            {% for object in object_list %}
              {% if object.is_photo %}
                {% include 'main/list/photo.html' %}
              {% elif object.is_video %}
                {% include 'main/list/video.html' %}
              {% elif object.is_track %}
                {% include 'main/list/track.html' %}
              {% elif object.is_doc %}
                {% include 'main/list/doc.html' %}
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <div class="load centered m-1 next_page_list" data-link="/main_media/?uuid={{list.uuid}}&?page={{ page_obj.next_page_number }}">
						<img src="/static/images/loading.gif">
					</div>
          {% endif %}
          {% else %}
          <div class="card centered item_empty">
						<h6>Список пустой.</h6>
					</div>
          {% endif %}
				</div>
			</span>
		</div>
	</div>
	<div class="content-header-left col-md-3 col-12 mb-2">
    {% include 'main/right_panel.html' %}
  </div>
</div>
{% endblock %}
