<div class="main-menu-content mt-2">
<ul class="navigation navigation-main" style="list-style-type:none">

{% for object in get_lists %}
{% if object.get_children %}
<li class="nav-item has-sub open">
  <a class="d-flex align-items-center pointer a_has_sub">
    <svg height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 10l5 5 5-5H7z"/></svg>
    <span class="text-truncate">{{ object.name }}</span>
  </a>
  <ul class="menu-content">
    {% for list in object.get_children %}
      {% include 'main/list/menu_item.html' %}
    {% endfor %}
  </ul>
</li>
{% else %}
<li class="nav-item has-sub open">
  <a class="d-flex align-items-center pointer">
    <span class="text-truncate">{{ object.name }}</span>
  </a>
</li>
{% endif %}
{% endfor %}
</ul>
</div>
