<div class="main-menu-content mt-2">
<ul class="navigation navigation-main" style="list-style-type:none;padding: 5px;">

{% for object in get_lists %}
{% if object.get_children %}
<li class="nav-item has-sub open">
  <a {% if forloop.first %}style="font-weight:bold"{% endif %} class="d-flex align-items-center pointer media_list load_media_list media_list list_toggle" data-uuid="{{ object.uuid }}">
    <svg class="a_has_sub_alt" height="34px" viewBox="0 0 24 24" width="34px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 10l5 5 5-5H7z"/></svg>
    <span class="text-truncate">{{ object.name }}</span>
  </a>
  <ul class="menu-content">
    {% for list in object.get_children %}
      {% include 'main/list/menu_item.html' %}
    {% endfor %}
  </ul>
</li>
{% else %}
<li class="nav-item has-sub open">
  <a {% if forloop.first %}style="font-weight:bold"{% endif %} class="d-flex align-items-center pointer load_media_list list_toggle" data-uuid="{{ object.uuid }}">
    <span class="text-truncate">{{ object.name }}</span>
  </a>
</li>
{% endif %}
{% endfor %}

{% if request.user.is_manager %}
<li class="nav-item border-top">
  <a class="d-flex align-items-center add_media_list pointer">
    <span class="text-truncate">Создать альбом</span>
  </a>
</li>
{% endif %}
</ul>
</div>
