<div class="content-header">
    <div class="content-header-left">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: -webkit-fill-available;margin-left: 30px;margin-right: 10px;">
        <a class="btn btn-outline-primary active main_nav_1" style="text-transform: uppercase;">
          <span class="d-none d-sm-block">Россия</span>
        </a>
        <a class="btn btn-outline-primary main_nav_2" style="text-transform: uppercase;">
          <span class="d-none d-sm-block">Мой&nbsp;регион</span>
        </a>
        <a class="btn btn-outline-primary main_nav_3" style="text-transform: uppercase;">
          <span class="d-none d-sm-block">Карта&nbsp;РФ</span>
        </a>
        <a class="btn btn-outline-primary main_nav_4" style="text-transform: uppercase;">
          <span class="d-none d-sm-block">Статистика</span>
        </a>
        <a class="btn btn-outline-primary main_nav_5" style="text-transform: uppercase;">
          <span class="d-none d-sm-block">Документы</span>
        </a>
      </div>
    </div>
</div>
