<div class="card">
  <div class="card-header pb-1">
    <h6 class="card-title">Ваша активность</h6>
  </div>
  <div class="card-body">
    <div class="business-items">
      <div class="business-item">
        <div class="d-flex align-items-center justify-content-between">
          <div class="custom-control custom-checkbox">
            <input checked disabled type="checkbox" class="custom-control-input" id="checkbox_1">
            <label class="custom-control-label" for="checkbox_1">
              Оценить комментарий
            </label>
          </div>
          <div class="badge badge-light-success">+1</div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <input checked disabled type="checkbox" class="custom-control-input" id="checkbox_2">
              <label class="custom-control-label" for="checkbox_2">
                Оценить новость
              </label>
            </div>
            <div class="badge badge-light-success">+2</div>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <input disabled type="checkbox" class="custom-control-input" id="checkbox_3">
              <label class="custom-control-label" for="checkbox_3">
                Репост новости
              </label>
            </div>
            <div class="badge badge-light-success">+5</div>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox u_suggested_elect_new_create">
              <input disabled type="checkbox" class="custom-control-input" id="checkbox_4">
              <label class="custom-control-label" for="checkbox_4">
                Предложить новость
              </label>
            </div>
            <div class="badge badge-light-success">+10</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
