<div class="card">
  <div class="card-header pb-1">
    <h6 class="card-title">Ваша активность</h6>
  </div>
  <div class="card-body">
    <div class="business-items">
      <div class="business-item">
        <div class="d-flex align-items-center justify-content-between">
          <div class="custom-control custom-checkbox">
            <input checked disabled type="checkbox" class="custom-control-input" id="checkbox_1">
            <label class="custom-control-label" for="checkbox_1">
              Оценить комментарий
            </label>
          </div>
          <div class="badge badge-light-success">+1</div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <input checked disabled type="checkbox" class="custom-control-input" id="checkbox_2">
              <label class="custom-control-label" for="checkbox_2">
                Оценить новость
              </label>
            </div>
            <div class="badge badge-light-success">+2</div>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <input disabled type="checkbox" class="custom-control-input" id="checkbox_3">
              <label class="custom-control-label" for="checkbox_3">
                Репост новости
              </label>
            </div>
            <div class="badge badge-light-success">+5</div>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox u_suggested_elect_new_create">
              <input disabled type="checkbox" class="custom-control-input" id="checkbox_4">
              <label class="custom-control-label" for="checkbox_4">
                Предложить новость
              </label>
            </div>
            <div class="badge badge-light-success">+10</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header pb-1">
    <h6 class="card-title">Ваш рейтинг</h6>
  </div>
  <div class="card-body">
    <div class="business-items">
      <div class="business-item">
        <div class="d-flex align-items-center justify-content-between">
          <div class="custom-control custom-checkbox">
            <label class="custom-control-label" for="">
              Кармы накоплено
            </label>
          </div>
          <div class="badge badge-light-info">{{ request.user.profile.total_costs }}</div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <label class="custom-control-label" for="">
                Кармы потрачено
              </label>
            </div>
            <div class="badge badge-light-info">{{ request.user.profile.total_revenue }}</div>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <label class="custom-control-label" for="">
                Мой уровень
              </label>
            </div>
            <div class="badge badge-light-info">{{ request.user.level }}</div>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <label class="custom-control-label" for="checkbox_4">
                Место в РФ
              </label>
            </div>
            <div class="badge badge-light-success">125005</div>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <label class="custom-control-label" for="checkbox_4">
                Место в регионе
              </label>
            </div>
            <div class="badge badge-light-success">1250</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header pb-1">
    <h6 class="card-title">Рейтинг моего региона</h6>
  </div>
  <div class="card-body">
    <div class="business-items">
      <div class="business-item">
        <div class="d-flex align-items-center justify-content-between">
          <div class="custom-control custom-checkbox">
            <label class="custom-control-label" for="">
              Кармы накоплено
            </label>
          </div>
          <div class="badge badge-light-info">1256000</div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <label class="custom-control-label" for="">
                Кармы потрачено
              </label>
            </div>
            <div class="badge badge-light-info">120000</div>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <label class="custom-control-label" for="">
                Месть в РФ
              </label>
            </div>
            <div class="badge badge-light-info">56</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h6 class="card-title m-1">Потратить карму</h6>
