<div class="card mt-1">
  <h6 class="m-1">В разработке</h6>
</div>
<div class="card p-1 mt-1 border" style="opacity: 0.6;">
  <div class="">
    <h6 class="underline">Ваша активность</h6>
  </div>
  <div class="">
    <div class="business-items">
      <div class="business-item">
        <div class="d-flex align-items-center justify-content-between">
          <div class="custom-control custom-checkbox">
            <input checked disabled type="checkbox" class="custom-control-input" id="checkbox_1">
            <label class="custom-control-label" for="checkbox_1" style="cursor: unset;">
              Оценить комментарий
            </label>
          </div>
          <p>+1</p>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <input checked disabled type="checkbox" style="cursor: unset;" class="custom-control-input" id="checkbox_2">
              <label class="custom-control-label" for="checkbox_2">
                Оценить новость
              </label>
            </div>
            <p>+2</p>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
              <input disabled type="checkbox" class="custom-control-input" id="checkbox_3">
              <label class="custom-control-label" style="cursor: unset;" for="checkbox_3">
                Репост новости
              </label>
            </div>
            <p>+5</p>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox u_suggested_elect_new_create">
              <input disabled type="checkbox" class="custom-control-input" id="checkbox_4">
              <label class="custom-control-label" style="cursor: pointer;" for="checkbox_4">
                Предложить новость
              </label>
            </div>
            <p>+10</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card p-1 border" style="opacity: 0.6;">
  <div class="">
    <h6 class="underline">Ваш рейтинг</h6>
  </div>
  <div class="">
    <div class="business-items">
      <div class="business-item">
        <div class="d-flex align-items-center justify-content-between">
          Кармы накоплено
          <p>{{ request.user.profile.total_costs }}</p>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            Кармы потрачено
            <p>{{ request.user.profile.total_revenue }}</p>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            Мой уровень
            <p>{{ request.user.level }}</p>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            Место в РФ
            <p>125005</p>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            Место в регионе
            <p>1250</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card p-1 border" style="opacity: 0.6;">
  <div class="">
    <h6 class="underline">Рейтинг моего региона</h6>
  </div>
  <div class="">
    <div class="business-items">
      <div class="business-item">
        <div class="d-flex align-items-center justify-content-between">
          Кармы накоплено
          <p>1256000</p>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            Кармы потрачено
            <p>120000</p>
          </div>
        </div>
        <div class="business-item">
          <div class="d-flex align-items-center justify-content-between">
            Месть в РФ
            <p>56</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card border" style="opacity: 0.6;">
  <h6 class="m-1">Потратить карму</h6>
</div>
