{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}

    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Advance Card</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="">Card</a>
                                    </li>
                                    <li class="breadcrumb-item active">Advance Card
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="form-group breadcrumb-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href=""><i class="mr-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a>
                              <a class="dropdown-item" href=""><i class="mr-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a>
                              <a class="dropdown-item" href=""><i class="mr-1" data-feather="mail"></i><span class="align-middle">Email</span></a>
                              <a class="dropdown-item" href=""><i class="mr-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row match-height">
                    <div class="col-12 col-md-6 col-lg-7">
                        <div class="card card-congratulations">
                            <div class="card-body text-center">
                                <img src="/static/images/decore-left.png" class="congratulations-img-left" alt="card-img-left" />
                                <img src="/static/images/decore-right.png" class="congratulations-img-right" alt="card-img-right" />
                                <div class="avatar avatar-xl bg-primary shadow">
                                    <div class="avatar-content">
                                        <i data-feather="award" class="font-large-1"></i>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h1 class="mb-1 text-white">Congratulations John,</h1>
                                    <p class="card-text m-auto w-75">
                                        You have done <strong>57.6%</strong> more sales today. Check your new badge in your profile.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="card card-congratulation-medal">
                            <div class="card-body">
                                <h5>Congratulations 🎉 John!</h5>
                                <p class="card-text font-small-3">You have won gold medal</p>
                                <h3 class="mb-75 mt-4">
                                    <a href="javascript:void(0);">$48.9k</a>
                                </h3>
                                <button type="button" class="btn btn-primary">View Sales</button>
                                <img src="../../../app-assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row match-height">
                    {% for object in last_elect_news %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card card-developer-meetup">
                            <div class="meetup-img-wrapper rounded-top text-center">
                              <a href="{% url 'elect_new_detail' pk=object.pk %}">
                                {% if object.image %}
                                <img src="{{ object.image.url }}" alt="Meeting Pic" height="170" />
                                {% endif %}
                              </a>
                            </div>
                            <div class="card-body">
                                <div class="meetup-header d-flex align-items-center">
                                    <div class="meetup-day">
                                        <h6 class="mb-0">THU</h6>
                                        <h3 class="mb-0">24</h3>
                                    </div>
                                    <div class="my-auto">
                                        <h4 class="card-title mb-25">{{ object.title }}</h4>
                                        <p class="card-text mb-0">Событие депутата</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="avatar bg-light-primary rounded mr-1">
                                        <div class="avatar-content">
                                            <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mb-0">{{ object.title }}</h6>
                                        <small>Опубликовано</small>
                                    </div>
                                </div>
                                <div class="avatar-group">
                                  {% for elect in object.get_elects %}
                                    <div data-toggle="tooltip"
                                         data-popup="tooltip-custom"
                                         data-placement="bottom"
                                         data-original-title="{{ elect.name }}"
                                         class="avatar pull-up">
                                        <img src="{{ elect.image.url }}" alt="img" width="33" height="33" />
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                      Событий пока нет...
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
