<h1 class="h3 block-title text-center">
  <span class="font-weight-normal">Рейтинг регионов</span>
</h1>

<div class="row" style="margin-right: 0px; margin-left: 0px;">
  <div class="col-md-8" style="position:relative">

    <svg id="russia_map" baseProfile="tiny" x="0px" y="0px" viewBox="0 0 1090 620" xml:space="preserve" style="width:100%;">
    {% for object in regions %}
      <path class="map_selector pointer" data-name="{{ object.name }}" data-slug="{{ object.slug }}" d="{{ object.svg }}" stroke="#888888" stroke-width="0.5"></path>
    {% endfor %}
    </svg>
    <div id="map_popup">
      <h3></h3>
      <p>Lorem ipsum dolor sit amet enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>

</div>
<div class="col-md-4 result_box">
    <select class="form-control" id="select_regions">
      <option value="">Выберите регион</option>
      {% for object in regions %}
        <option value="{{ object.slug }}">{{ object.name }}</option>
      {% endfor %}
    </select>
  <div id="elect_for_regions_loader" style="max-height: 600px; overflow: auto;"></div>
</div>
</div>
