{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}

        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Название</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row match-height">
                    <div class="col-12 col-md-6 col-lg-7">
                        <div class="card card-congratulations">
                            <div class="card-body text-center">
                                <img src="/static/images/decore-left.png" class="congratulations-img-left" alt="card-img-left" />
                                <img src="/static/images/decore-right.png" class="congratulations-img-right" alt="card-img-right" />
                                <div class="avatar avatar-xl bg-primary shadow">
                                    <div class="avatar-content">
                                        <i data-feather="award" class="font-large-1"></i>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h1 class="mb-1 text-white">Название баннера</h1>
                                    <p class="card-text m-auto w-75">
                                        Описание баннера, приветствие или спецпредложение
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="card card-congratulation-medal">
                            <div class="card-body">
                                <h5>Вы можете предложить новость о депутатах!</h5>
                                <p class="card-text font-small-3">
                                  Их поведение, высказывания, работа с избирателями, предвыборная деятельность,
                                  поддержание или противодействие известным Вам законам.
                                </p>
                                <button type="button" class="btn btn-primary">Предложить новость</button>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'main/map.html' %}

                <div class="row match-height">
                    {% for object in last_elect_news %}
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card card-developer-meetup">
                            <div class="meetup-img-wrapper rounded-top text-center">
                              {% if object.get_image_url %}
                              <a href="{% url 'elect_new_detail' pk=object.pk %}">
                                <img src="{{ object.get_image_url }}" alt="img" class="cover_fit" />
                              </a>
                              {% endif %}
                            </div>
                            <div class="card-body">
                                <div class="meetup-header d-flex align-items-center">
                                    <div class="my-auto">
                                      <a href="{% url 'elect_new_detail' pk=object.pk %}">
                                        <h4 class="card-title mb-25">{{ object.title }}</h4>
                                        <p class="card-text mb-0">Событие депутата</p>
                                      </a>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="avatar bg-light-primary rounded mr-1">
                                        <div class="avatar-content">
                                            <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mb-0">{{ object.get_created }}</h6>
                                        <small>Опубликовано</small>
                                    </div>
                                </div>
                                <div class="avatar-group">
                                  {% for elect in object.get_elects %}
                                    <div data-toggle="tooltip"
                                         data-popup="tooltip-custom"
                                         data-placement="bottom"
                                         data-original-title="{{ elect.name }}"
                                         class="avatar pull-up">
                                         <a href="{% url 'elect_detail' pk=elect.pk %}">
                                        <img src="{{ elect.image.url }}" alt="img" width="50" height="50" />
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                      Событий пока нет...
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
