{% if object_list %}

{% for object in object_list %}
  {% include 'blog/elect_new_card.html' %}
{% endfor %}

{% else %}

<div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
    <div class="card-body">
      <h3 class="card-title">У чиновника пока нет новостей.</h3>
      <p class="card-text text-sm">
        Если у Вас есть чем поделиться с общественностью об этом чиновнике - Вы можете предложить новость</p>
      <a class="btn btn-secondary create_elect_new btn-sm pointer">Предложить новость</a>
    </div>
  </div>
{% endif %}
