{% extends "base.html" %}
{% block title %}Депутаты | {{ object.name }}{% endblock %}
{% block content %}

<section class="bg-dark bg-center bg-no-repeat" style="height: 260px;"></section>
<div class="container" style="margin-top: -160px;">
      <div class="bg-white box-shadow pt-4 pb-5 px-3 px-sm-4">
        <figure class="figure d-block rounded-circle my-3 p-2 mx-auto" style="width: 180px;">
          <img class="d-block w-100 rounded-circle" src="{{ object.image.url }}" alt="James Smith">
        </figure>
        <div class="text-center">
          <p class="text-xl text-muted font-weight-medium mb-2">{{ object.get_first_list }}</p>
          <h1 class="h3 block-title">{{ object.name }}</h1>
          <ul class="text-lg list-inline py-3">
            <li class="mx-2 font-weight-medium align-middle">
              <i class="d-inline-block fe-icon-map-pin align-middle text-muted"></i>
              &nbsp;
              {% for region in object.get_regions %}
                <a href="{% url 'region_detail' slug=region.slug %}" style="color: #404040;text-decoration:none">
                 {{ region.name }}{% if not forloop.last %}, {% endif %}
                </a>
              {% endfor %}
            </li>
          </ul>
          <a class="btn btn-gradient btn-sm mx-3 mb-3" href="#"><i class="fe-icon-plus"></i>&nbsp;Предложить новость</a>
          <a class="btn btn-gradient btn-sm mx-3 mb-3" href="#"><i class="fe-icon-user-plus"></i>&nbsp;Подписаться на чиновника</a>
        </div>
      </div>
        <div class="col-12" style="">
          <div class="card border border-dark">
              <div class="card-body">
                <h4 class="card-title">Информация</h4>
                <p class="card-text">
                  <ul class="list-group">
                    <li class="list-group-item">Дата рождения: {{ object.birthday }}</li>
                    <li class="list-group-item">Дата вступления в полномочия: {{ object.authorization }}</li>
                    {% if object.term_of_office %}
                      <li class="list-group-item">Дата окончания полномочия: {{ object.term_of_office }}</li>
                    {% endif %}
                    {% if object.fraction %}
                      <li class="list-group-item">Фракция: {{ object.fraction }}</li>
                    {% endif %}
                    {% if object.election_information %}
                      <li class="list-group-item">Сведения об избрании: {{ object.election_information }}</li>
                    {% endif %}
                    {% if object.educationelect_set.all %}
                    <li class="list-group-item">Образование:<br>
                      {% for edu in object.educationelect_set.all %}{{ edu.title }}: {{ edu.year }}<br>{% endfor %}
                    </li>
                    {% endif %}
                    {% if object.linlelect_set.all %}
                    <li class="list-group-item">Ссылки:<br>
                      {% for edu in object.linlelect_set.all %}{{ edu.title }}: {{ edu.link }}<br>{% endfor %}
                    </li>
                    {% endif %}
                  </ul>
                </p>
              </div>
            </div>
        </div>
        <div class="col-12 mt-3">
          <div class="card border border-dark">
              <div class="card-body">
                <h4 class="card-title">Рейтинг</h4>
                <p class="card-text">
                  <ul class="list-group">
                    <li class="list-group-item">Публичная деятельность чиновника: </li>
                    <li class="list-group-item">Голосования и законодательные инициативы: </li>
                    <li class="list-group-item">Работа с избирателями: </li>
                    <li class="list-group-item">Народный рейтинг:
                      <span class="like btn_default" title="Нравится">
                        <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24">
                          <path fill="none" d="M0 0h24v24H0V0z"/><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
                        </svg>
                        {{ object.likes_count }}
                      </span>
                      <span class="dislike" title="Не нравится">
                            <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/></svg>
                            <span class="dislikes_count">{{ object.dislikes_count }}</span>
                      </span>
                    </li>
                  </ul>
                </p>
              </div>
            </div>
        </div>
    </div>

    <section class="container py-5 mb-3">
      <h2 class="h3 block-title text-center mt-3">Новости чиновника
        <small>Высказывания, работа с избирателями, предвыборная деятельность</small>
      </h2>
      <div class="row pt-4">
        {% if object.get_news %}
        {% for object in object.get_news %}
        <div class="col-md-4" style="">
          <div class="card blog-card mb-2">
            {% if object.image %}
            <a class="post-thumb" href="{% url 'blog_detail' pk=object.pk %}">
              <img src="{{ object.image.url }}" alt="img">
            </a>
            {% endif %}
            <div class="card-body">
              <h5 class="post-title">
                <a href="{% url 'blog_detail' pk=object.pk %}">{{ object.title }}</a>
              </h5>
              <p class="text-muted">{{ object.description }}</p>
              <a class="tag-link" href="#">Тег 1</a>
              <a class="tag-link" href="#">Тег 2</a>
            </div>
            <div class="card-footer">
              <div class="post-meta">
                <a href=""><i class="fe-icon-message-square"></i>21</a>
                <span><i class="fe-icon-clock"></i>20 сентября 2020</span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% else %}
          У чиновника пока нет новостей
        {% endif %}
      </div>
    </section>
{% endblock %}
