{% extends "base.html" %}
{% block title %}{{ object.title }} | {{ object.elect.name }}{% endblock %}
{% load liked_user %}
{% block content %}

<div class="container pb-5 mb-3">
      <div class="row">
        <div class="col-lg-9">
          <div class="card blog-card mb-4">
            <div class="card-body">
              <h5 class="post-title post-title-link lead">
                {{ object.title }}
              </h5>
              <div class="page-title-subheading">{{ object.get_created }}</div>
            </div>
          </div>
          <p class="py-3">
            {{ object.content|linebreaks }}
            <br><br>
            {% with names=object.tags.names %}
              {% for name in names %}
                <a href="{% url 'all_elect_news' %}?tag={{ name|urlencode }}" class="tag-link">{{ name }}</a>
              {% endfor %}
            {% endwith %}
          </p>

          {% if object.is_have_images %}
          <h5 class="pb-3">Фото новости</h5>
          <div class="row pb-1">
            {% for image in object.get_images %}
            <div class="col-md-4 col-sm-6">
              <a class="gallery-item mb-30 cover_fit" href="{{ image.file.url }}" data-fancybox="gallery1">
                <img src="{{ image.file.url }}" class="cover_fit" alt="Gallery Image">
              </a>
            </div>
            {% endfor %}
          </div>
          {% endif %}

          {% if object.is_have_docs %}
          <h5 class="pb-3">Документы новости</h5>
          <div class="row pb-1 blog-card">
            {% for doc in object.get_docs %}
              <div class="col-md-4 col-sm-6">
              <h6><a href="{{ doc.file.url }}" target="_blank" rel="nofollow">{{ doc.title }}</a></h6>
            </div>
            {% endfor %}
          </div>
          {% endif %}

          <div class="d-sm-flex justify-content-between align-items-center border-top border-bottom mb-5 py-2">
            <div class="py-2" data-pk="{{ object.pk }}">
              <span class="like elect_new_like {% if object.likes|user_in:user %} text-success{% endif %} btn_default" title="Нравится">
                <svg style="margin-bottom: 5px;width:22px" fill="currentColor" viewBox="0 0 24 24">
                  <path fill="none" d="M0 0h24v24H0V0z"/><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
                </svg>
                <span class="likes_count">{{ object.likes_count }}</span>
              </span>
              <span class="dislike elect_new_dislike {% if object.dislikes|user_in:user %} text-danger{% endif %} btn_default" title="Не нравится">
                    <svg style="width:22px" fill="currentColor" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/></svg>
                    <span class="dislikes_count">{{ object.dislikes_count }}</span>
              </span>
              <span class="col-auto" title="Просмотры">
                <svg style="width:22px" fill="currentColor" class="svg_info svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
                  {{ object.visits_count }}
              </span>
            </div>
            <div class="py-2">
              <span class="dinline-block align-middle py-2 mr-2"><strong>Поделиться:</strong></span>
              <a class="social-btn sb-style-3 sb-facebook mb-0" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                FB
              </a>
              <a class="social-btn sb-style-3 mb-0" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                TW
              </a>
              <a class="social-btn sb-style-3 mb-0" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Vkontakte">
                VK
              </a>
              <a class="social-btn sb-style-3 mb-0" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                IN
              </a>
              <a class="social-btn sb-style-3 mb-0" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Odnoklssniki">
                OK
              </a>
            </div>
          </div>
          <hr class="pb-4">

          <nav class="entry-navigation">
            <div class="prev-btn">
              <a class="label" href="#"><i class="fe-icon-arrow-left"></i> Позже</a>
              <div class="post-preview">
                <div class="post-preview-details"><span class="post-preview-title">Technological breakthrough</span><span class="post-preview-meta"><i class="fe-icon-calendar"></i>May 25, 18</span></div>
              </div>
            </div>

            <a class="back-btn" href="{% url 'elect_detail' pk=object.elect.pk %}"><i class="fe-icon-grid"></i></a>

            <div class="next-btn">
              <a class="label" href="#">Раньше <i class="fe-icon-arrow-right"></i></a>
              <div class="post-preview">
                <div class="post-preview-details"><span class="post-preview-title">Mother nature is speaking</span><span class="post-preview-meta"><i class="fe-icon-calendar"></i>Jul 30, 18</span></div>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-lg-3">
          <a class="offcanvas-toggle" href="#blog-single-sidebar" data-toggle="offcanvas"><i class="fe-icon-sidebar"></i></a>
          <aside class="offcanvas-container" id="blog-single-sidebar">
            <div class="offcanvas-scrollable-area px-4 pt-5 px-lg-0 pt-lg-0"><span class="offcanvas-close"><i class="fe-icon-x"></i></span>
              <div class="widget widget-categories">
                <div class="team-card-style-3 mx-auto">
                  <div class="team-thumb">
                    <a href="{% url 'elect_detail' pk=object.elect.pk %}">
                      <img src="{{ object.elect.image.url }}" alt="img">
                    </a>
                  </div>
                  <span class="team-position">{{ object.elect.get_first_list }}</span>
                  <a href="{% url 'elect_detail' pk=object.elect.pk %}">
                    <h4 class="team-name">{{ object.elect.name }}</h4>
                  </a>
                </div>
              </div>
              {% if object.elect.get_last_news %}
              <div class="widget widget-featured-posts">
                <h4 class="widget-title">Еще о депутате</h4>
                {% for new in object.elect.get_last_news %}
                <a class="featured-post" href="{% url 'elect_new_detail' pk=new.pk %}">
                  <div class="featured-post-info">
                    <div class="featured-post-meta">
                      <span class="text-primary opacity-70">
                        <i class="fe-icon-clock"></i>{{ new.created|date:"d E / Y" }}
                      </span>
                      <span class="ml-3">
                        {% if new.likes_count %}
                        <span class="like btn_default" title="Нравится">
                          <svg class="svg_info" style="margin-bottom: 5px;" fill="currentColor" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z"/><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
                          </svg>
                          <span class="likes_count">{{ new.likes_count }}</span>
                        </span>
                        {% endif %}
                        {% if new.dislikes_count %}
                        <span class="dislike btn_default" title="Не нравится">
                              <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/></svg>
                              <span class="dislikes_count">{{ new.dislikes_count }}</span>
                        </span>
                        {% endif %}
                        <span class="svg_info" title="Просмотры">
                          <svg fill="currentColor" class="svg_info svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
                            {{ new.visits_count }}
                        </span>
                      </span>
                    </div>
                    <div class="featured-post-title">{{ new.title }}</div>
                  </div>
                </a>
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </aside>
        </div>
      </div>
    </div>
{% endblock %}
