<div class="card subscribe_card">
    <div class="subscribe_img_div">
        <a href="{% url 'elect_detail' pk=object.pk %}" class="ajax">
            {% if object.image %}
            <img class="subscribe_img" src="{{ object.image.url }}" alt="img">
            {% endif %}
        </a>
    </div>
    <div class="subscribe_body card-body">
        <div class="item-name" style="order: 0 !important;">
            <h4 class="mb-0">
              <a href="{% url 'elect_detail' pk=object.pk %}" class="text-body ajax">
                {{ object.name }}
              </a>
            </h4>
        </div>
        <span class="text-success mb-1">{{ object.get_first_list }}</span>
        <span class="delivery-date" style="margin-top: 1.2rem;margin-bottom: 0.25rem;">Здесь рейтинги...</span>
    </div>
    <div class="item-options subscribe_options text-center">
      {% if object|is_user_subscribe:request.user.pk %}
        <button type="button" class="btn btn-light subscribe_btn remove_elect_subscribe" data-pk="{{ object.pk }}" data-name="{{ object.name }}">
            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x align-middle mr-25"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            <span>Вы подписаны</span>
        </button>
      {% else %}
        <button type="button" class="btn btn-primary subscribe_btn add_elect_subscribe" data-pk="{{ object.pk }}" data-name="{{ object.name }}">
            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart align-middle mr-25"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
            <span class="text-truncate">Подписаться</span>
        </button>
        {% endif %}
    </div>
</div>
