{% extends "base.html" %}
{% block title %}{{ object.name }}{% endblock %}
{% load filters %}
{% block content %}

<div class="content-body">
    <div id="user-profile">
        <div class="row">
            <div class="col-12">
                <div class="card profile-header mb-2">
                    <img class="card-img-top" src="/static/images/timeline.jpg" alt="User Profile Image">
                    <div class="position-relative">
                        <div class="profile-img-container d-flex align-items-center" style="position: absolute;bottom: -2rem;left: 2.14rem;z-index: 2;">
                            <div class="profile-img" style="border: 0.357rem solid #FFFFFF;background-color: #FFFFFF;border-radius: 0.428rem;box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);">
                                <img src="{{ object.get_avatar }}" class="rounded img-fluid" style="height: 100px;width:auto" alt="Card image">
                            </div>
                            <div class="profile-title ml-3">
                                <h2 class="text-white">{{ object.name }}</h2>
                                <p class="text-white">{{ object.get_first_list }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="profile-header-nav">
                        <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100" style="padding: 0.8rem 1rem;">
                            <button class="btn btn-icon navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify font-medium-5"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                                    <ul class="nav nav-pills mb-0">
                                        <li class="nav-item">
                                            <a class="nav-link font-weight-bold active" href="javascript:void(0)">
                                                <span class="d-none d-md-block">Все новости</span>
                                                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss d-block d-md-none"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link font-weight-bold" href="javascript:void(0)">
                                                <span class="d-none d-md-block">Высказывания</span>
                                                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info d-block d-md-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link font-weight-bold" href="javascript:void(0)">
                                                <span class="d-none d-md-block">Работа с избирателями</span>
                                                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image d-block d-md-none"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link font-weight-bold" href="javascript:void(0)">
                                                <span class="d-none d-md-block">Предвыборная деятельность</span>
                                                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users d-block d-md-none"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                            </a>
                                        </li>
                                    </ul>
                                    {% if object|is_user_subscribe:request.user.pk %}
                                      <button type="button" class="btn btn-light subscribe_btn remove_elect_subscribe" data-pk="{{ object.pk }}" data-name="{{ object.name }}">
                                          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x align-middle mr-25"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                          <span class="d-none d-md-block">Вы подписаны</span>
                                      </button>
                                    {% else %}
                                      <button type="button" class="btn btn-primary subscribe_btn add_elect_subscribe" data-pk="{{ object.pk }}" data-name="{{ object.name }}">
                                          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart align-middle mr-25"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                          <span class="d-none d-md-block">Подписаться</span>
                                      </button>
                                      {% endif %}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <section id="profile-info">
            <div class="row">
                <div class="col-lg-3 col-12 order-2 order-lg-1">
                    {% include 'elect/info_card.html' %}

                    {% if object.is_have_subscribers %}
                    <div class="card">
                        <div class="card-body profile-suggestion">
                            <h5 class="mb-2">Подписчики</h5>
                            {% for subs in object.get_subscribers %}
                            <div class="d-flex justify-content-start align-items-center">
                              <a class="dropdown-item ajax" href="{% url 'user' pk=subs.pk %}" style="display: flex;">
                                <div class="avatar mr-1">
                                    <img src="{{ subs.get_avatar }}" alt="avatar img" style="width:40px; height:auto">
                                </div>
                                <div class="profile-user-info">
                                    <h6 class="mb-0">{{ subs.get_full_name }}</h6>
                                    <small class="text-muted">{{ subs.get_online_display|safe }}</small>
                                </div>
                              </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-lg-6 col-12 order-1 order-lg-2">
                  {% if object.get_news %}
                    {% for object in object.get_news %}
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-start align-items-center mb-1">
                                <div class="avatar mr-1">
                                    <img src="{{ object.creator.get_avatar }}" alt="avatar img" height="50" width="50">
                                </div>

                                <div class="profile-user-info">
                                    <h6 class="mb-0">{{ object.creator.get_full_name }}</h6>
                                    <small class="text-muted">{{ object.get_created }}</small>
                                </div>
                            </div>
                            <p class="card-text">{{ object.description }}</p>

                            <div class="row d-flex justify-content-start align-items-center flex-wrap pb-50">
                                <div class="col-sm-6 d-flex justify-content-between justify-content-sm-start mb-2">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-group ml-1">
                                          {% for elect in object.get_elects %}
                                            <div tooltip="{{ elect.name }}"
                                                 class="avatar pull-up">
                                                 <a href="{% url 'elect_detail' pk=elect.pk %}">
                                                <img src="{{ elect.image.url }}" alt="img" width="30" height="30" />
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 d-flex justify-content-between justify-content-sm-end align-items-center mb-2">
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                  <span class="text-muted mr-1">{{ object.likes_count }}</span>

                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                  <span class="text-muted">{{ object.dislikes_count }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h3>Новостей пока нет</h3>
                    {% endif %}
                </div>

                <div class="col-lg-3 col-12 order-3">
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
