{% extends "base.html" %}
{% block title %}Депутаты | {{ object.name }}{% endblock %}
{% load filters %}
{% block content %}

<section class="bg-dark bg-center bg-no-repeat" style="height: 260px;"></section>
<div class="container pk_saver" style="margin-top: -160px;" data-pk="{{ object.pk }}">
      <div class="bg-white box-shadow pt-4 pb-5 px-3 px-sm-4">
        <figure class="figure d-block rounded-circle my-3 p-2 mx-auto" style="width: 180px;">
          <img class="d-block w-100 rounded-circle" src="{{ object.image.url }}" alt="James Smith">
        </figure>
        <div class="text-center">
          <p class="text-xl text-muted font-weight-medium mb-2">{{ object.get_first_list }}</p>
          <h1 class="h3 block-title">{{ object.name }}</h1>
          <ul class="text-lg list-inline py-3">
            <li class="mx-2 font-weight-medium align-middle">
              <i class="d-inline-block fe-icon-map-pin align-middle text-muted"></i>
              &nbsp;
              {% for region in object.get_regions %}
                <a href="{% url 'region_detail' slug=region.slug %}" style="color: #404040;text-decoration:none">
                 {{ region.name }}{% if not forloop.last %}, {% endif %}
                </a>
              {% endfor %}
            </li>
          </ul>
          <a class="btn btn-gradient btn-sm mx-3 mb-3" href="#"><i class="fe-icon-plus"></i>&nbsp;Предложить новость</a>
          {% if request.user|is_elect_subscribe:object %}
            <button class="btn btn-gradient btn-sm mx-3 mb-3 delete_elect_subscribe pointer" data-pk="{{ object.pk }}"><i class="fe-icon-user"></i>&nbsp;Отписаться от чиновника</button>
          {% else %}
            <button class="btn btn-gradient btn-sm mx-3 mb-3 create_elect_subscribe pointer" data-pk="{{ object.pk }}"><i class="fe-icon-user-plus"></i>&nbsp;Подписаться на чиновника</button>
          {% endif %}
        </div>
      </div>
        <div class="col-12">

          {% if request.user.is_superuser %}
          <h6>Статистика </h6>
            <a class="btn btn-style-3 btn-success mr-3 mb-3 pointer">День</a>
            <a class="btn btn-style-3 btn-warning mr-3 mb-3 pointer">Неделя</a>
            <a class="btn btn-style-3 btn-danger mr-3 mb-3 pointer">Месяц</a>
            <a class="btn btn-style-3 btn-gradient mr-3 mb-3 pointer load_elect_stat_year">Год</a>
          {% endif %}

          <div class="card border border-dark">
              <div class="card-body">
                <h4 class="card-title">Информация</h4>
                <p class="card-text">
                  <ul class="list-group">
                    <li class="list-group-item">Дата рождения: {{ object.birthday }}</li>
                    <li class="list-group-item">Дата вступления в полномочия: {{ object.authorization }}</li>
                    {% if object.term_of_office %}
                      <li class="list-group-item">Дата окончания полномочия: {{ object.term_of_office }}</li>
                    {% endif %}
                    {% if object.fraction %}
                      <li class="list-group-item">Фракция: {{ object.fraction }}</li>
                    {% endif %}
                    {% if object.election_information %}
                      <li class="list-group-item">Сведения об избрании: {{ object.election_information }}</li>
                    {% endif %}
                    {% if object.educationelect_set.all %}
                    <li class="list-group-item">Образование:<br>
                      {% for edu in object.educationelect_set.all %}{{ edu.title }}: {{ edu.year }}<br>{% endfor %}
                    </li>
                    {% endif %}
                    {% if object.linlelect_set.all %}
                    <li class="list-group-item">Ссылки:<br>
                      {% for edu in object.linlelect_set.all %}{{ edu.title }}: {{ edu.link }}<br>{% endfor %}
                    </li>
                    {% endif %}
                  </ul>
                </p>
              </div>
            </div>
        </div>
        <div class="col-12 mt-3">
          <div class="card border border-dark">
              <div class="card-body">
                <h4 class="card-title">Рейтинг</h4>
                <p class="card-text">
                  <ul class="list-group">
                    <li class="list-group-item">Публичная деятельность чиновника: </li>
                    <li class="list-group-item">Голосования и законодательные инициативы: </li>
                    <li class="list-group-item">Работа с избирателями: </li>
                    <li class="list-group-item">Народный рейтинг:
                      <span class="like btn_default" title="Нравится">
                        <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24">
                          <path fill="none" d="M0 0h24v24H0V0z"/><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
                        </svg>
                        {{ object.likes_count }}
                      </span>
                      <span class="dislike" title="Не нравится">
                            <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/></svg>
                            <span class="dislikes_count">{{ object.dislikes_count }}</span>
                      </span>
                    </li>
                  </ul>
                </p>
              </div>
            </div>
        </div>
    </div>

    <section class="container py-5 mb-3">
      <h2 class="h3 block-title text-center mt-3">Новости чиновника</h2>
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item"><a class="nav-link select_elect_news_category active pointer" data-href="/elect/{{ object.pk }}/all_news/">Все новости</a></li>
        <li class="nav-item"><a class="nav-link select_elect_news_category pointer" data-href="/elect/{{ object.pk }}/statements_elect_news/">Высказывания</a></li>
        <li class="nav-item"><a class="nav-link select_elect_news_category pointer" data-href="/elect/{{ object.pk }}/work_with_voters_elect_news/">Работа с избирателями</a></li>
        <li class="nav-item"><a class="nav-link select_elect_news_category pointer" data-href="/elect/{{ object.pk }}/pre_election_activities_elect_news/">Предвыборная деятельность</a></li>
      </ul>
      <div class="row pt-4 elect_news_container">
        {% if object.get_news %}
        {% for object in object.get_news %}
        <div class="col-md-4" style="">
          <div class="card blog-card mb-2">
            {% if object.image %}
            <a class="post-thumb" href="{% url 'elect_new_detail' pk=object.pk %}">
              <img src="{{ object.image.url }}" alt="img">
            </a>
            {% endif %}
            <div class="card-body">
              <h5 class="post-title">
                <a href="{% url 'elect_new_detail' pk=object.pk %}">{{ object.title }}</a>
              </h5>
              <p class="text-muted">{{ object.description }}</p>

              {% with names=object.tags.names %}
                {% for name in names %}
                  <a href="{% url 'all_elect_news' %}?tag={{ name|urlencode }}" class="tag-link">{{ name }}</a>
                {% endfor %}
              {% endwith %}

            </div>

            {% include 'generic/blog_meta.html' %}
          </div>
        </div>
        {% endfor %}

        {% else %}
        <div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
            <div class="card-body">
              <h3 class="card-title">У чиновника пока нет новостей.</h3>
              <p class="card-text text-sm">
                Если У Вас есть чем поделиться с общественностью об этом чиновнике - Вы можете предложить новость</p>
              <a class="btn btn-secondary create_elect_new btn-sm pointer">Предложить новость</a>
            </div>
          </div>
        {% endif %}
      </div>
    </section>
{% endblock %}
