<div class="card">
    <div class="card-body">
        <h5 class="mb-75" style="font-weight: bold;">География</h5>
        <p class="card-text">
          {% for region in object.get_regions %}
          <div class="badge badge-pill badge-light-info mr-50">
            <a href="{% url 'region_detail' slug=region.slug %}">
            {{ region.name }}
            </a>
          </div>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Дата рождения:</h5>
            <p class="card-text">{{ object.birthday }}</p>
        </div>
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Дата вступления в полномочия:</h5>
            <p class="card-text">{{ object.authorization }}</p>
        </div>
        {% if object.term_of_office %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Дата окончания полномочия:</h5>
            <p class="card-text">{{ object.term_of_office }}</p>
        </div>
        {% endif %}

        {% if object.fraction %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Фракция:</h5>
            <p class="card-text">{{ object.fraction }}</p>
        </div>
        {% endif %}
        {% if object.election_information %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Сведения об избрании:</h5>
            <p class="card-text">{{ object.election_information }}</p>
        </div>
        {% endif %}
        {% if object.educationelect_set.all %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Образование:</h5>
            <p class="card-text">{% for edu in object.educationelect_set.all %}{{ edu.title }}: {{ edu.year }}<br>{% endfor %}</p>
        </div>
        {% endif %}
        {% if object.linlelect_set.all %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Ссылки:</h5>
            <p class="card-text">{% for edu in object.linlelect_set.all %}{{ edu.title }}: {{ edu.link }}<br>{% endfor %}</p>
        </div>
        {% endif %}
    </div>
</div>
