{% if object_list %}

{% for object in object_list %}
  {% include 'elect/new_card.html' %}
{% endfor %}

{% else %}

<div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
    <div class="card-body">
      <h3 class="card-title">У чиновника пока нет новостей о работе с избирателями</h3>
      <p class="card-text text-sm">
        Если у Вас есть чем поделиться с общественностью об этом чиновнике - Вы можете предложить новость</p>
      <a class="btn btn-secondary u_suggested_elect_new_create btn-sm pointer" data-name="{{ elect.name }}">Предложить новость</a>
    </div>
  </div>
{% endif %}
