{% if object_list %}

{% for object in object_list %}
  {% include 'elect/new_card.html' %}
{% endfor %}

{% else %}

<div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
  <div class="card-body">
    <h3 class="card-title">У чиновника пока нет новостей.</h3>
    <p class="card-text text-sm">
      Если у Вас есть чем поделиться с общественностью об этом чиновнике - Вы можете предложить новость
    </p>
    <p class="card-text text-sm">
      Для этого Вам необходимо <a href="{% url 'login' %}" class="ajax underline">Войти</a> или
      <a href="{% url 'signup' %}" class="ajax underline">Зарегистрироваться</a>
    </p>
  </div>
  </div>
{% endif %}
