{% extends "base_anon.html" %}
{% block title %}{{ object.name }}{% endblock %}
{% load filters %}
{% block meta %}
<meta property="og:url" content="{% url 'elect_detail' pk=object.pk %}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ object.name }}" />
<meta property="og:image" content="https://служународу.рус{{ object.image.url }}" />
{% endblock %}
{% block content %}

<div class="content-body" style="margin-left:10px">
    <div id="user-profile">
        <div class="row">
            <div class="col-12">
                <div class="card profile-header mb-2">
                    <img class="card-img-top" src="{{ object.get_region_image }}" alt="User Profile Image">
                    <div class="position-relative">
                        <div class="profile-img-container d-flex align-items-center" style="position: absolute;bottom: -2rem;left: 2.14rem;z-index: 2;">
                            <div class="profile-img" style="border: 0.357rem solid #FFFFFF;background-color: #FFFFFF;border-radius: 0.428rem;box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);">
                                <img src="{{ object.get_avatar }}" class="rounded img-fluid" style="width: 120px;" alt="Card image">
                            </div>
                            <div class="profile-title ml-3">
                                <h2 class="text-white">{{ object.name }}</h2>
                                <p class="text-white">{{ object.get_first_list }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="profile-header-nav">
                        <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100" style="padding: 0.8rem 1rem;">
                            <button class="btn btn-icon navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify font-medium-5"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <section id="profile-info">
            <div class="row">
                <div class="col-lg-3 col-12 order-2 order-lg-1">
                  <div class="card">
                      <div class="card-body profile-suggestion">
                          <span title="Нравится">
                            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up">
                              <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                            </svg>
                            <span class="likes_count mr-2">{{ object.likes_count }}</span>
                          </span>
                          <span title="Не нравится">
                            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down">
                              <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
                            </svg>
                            <span class="dislikes_count mr-2">{{ object.dislikes_count }}</span>
                          </span>
                          <span class="inert btn_default" title="Ниочём">
                            <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path></svg>
                            <span class="inerts_count margin_right_5">{{ object.inerts_count }}</span>
                          </span>
                      </div>
                  </div>
                    <div class="list-group list-group-labels mt-2">
                        <a data-href="/elect/{{ object.pk }}/all_news/" class="list-group-item list-group-item-action select_elect_news_category active">
                            <span class="align-middle">Все новости</span>
                        </a>
                        <a data-href="/elect/{{ object.pk }}/statements_elect_news/" class="list-group-item list-group-item-action select_elect_news_category">
                            <span class="align-middle">Высказывания</span>
                        </a>
                        <a data-href="/elect/{{ object.pk }}/pre_election_activities_elect_news/" class="list-group-item list-group-item-action select_elect_news_category">
                            <span class="align-middle">Предвыборная деятельность</span>
                        </a>
                        <a data-href="/elect/{{ object.pk }}/work_with_voters_elect_news/" class="list-group-item list-group-item-action select_elect_news_category">
                            <span class="align-middle">Работа с избирателями</span>
                        </a>
                    </div>

                    {% if object.is_have_subscribers %}
                    <div class="card mt-2">
                        <div class="card-body profile-suggestion">
                            <h5 class="mb-2" style="font-weight: bold;">Подписчики</h5>
                            {% for subs in object.get_subscribers %}
                            <div class="d-flex justify-content-start align-items-center mb-1">
                                <a class="ajax" href="{% url 'user' pk=subs.pk %}" style="display: flex;">
                                    <div class="avatar mr-1">
                                        <img src="{{ subs.get_avatar }}" alt="avatar img" style="width:40px; height:auto">
                                    </div>
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">{{ subs.get_full_name }}</h6>
                                        <small class="text-muted">{{ subs.get_online_display|safe }}</small>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-lg-6 col-12 order-1 order-lg-2 elect_news_container">
                    {% if object.get_news %}
                    {% for object in object.get_news %}
                      {% include 'elect/anon_new_card.html' %}
                    {% endfor %}
                    {% else %}
                    <div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
                        <div class="card-body">
                          <h3 class="card-title">У чиновника пока нет новостей.</h3>
                          <p class="card-text text-sm">
                            Если у Вас есть чем поделиться с общественностью об этом чиновнике - Вы можете предложить новость
                          </p>
                          <p class="card-text text-sm">
                            Для этого Вам необходимо <a href="{% url 'login' %}" class="ajax underline">Войти</a> или
                            <a href="{% url 'signup' %}" class="ajax underline">Зарегистрироваться</a>
                          </p>
                        </div>
                      </div>
                    {% endif %}
                </div>

                <div class="col-lg-3 col-12 order-3">
                    {% include 'elect/elect/info_card.html' %}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
