{% extends "base.html" %}
{% block title %}{{ object.name }}{% endblock %}
{% load filters %}
{% block content %}

<div class="content-body" data-pk="{{ object.pk }}">
    <div id="user-profile">
        <div class="row">
            <div class="col-12">
                <div class="card profile-header mb-2">
                    <img class="card-img-top" src="/static/images/timeline2.jpg" alt="User Profile Image">
                    <div class="position-relative">
                        <div class="profile-img-container d-flex align-items-center" style="position: absolute;bottom: -2rem;left: 2.14rem;z-index: 2;">
                            <div class="profile-img" style="border: 0.357rem solid #FFFFFF;background-color: #FFFFFF;border-radius: 0.428rem;box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);">
                                <img src="{{ object.get_avatar }}" class="rounded img-fluid" style="width: 100px;" alt="Card image">
                            </div>
                            <div class="profile-title ml-3">
                                <h2 class="text-white">{{ object.name }}</h2>
                                <p class="text-white">{{ object.get_first_list }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="profile-header-nav">
                        <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100" style="padding: 0.8rem 1rem;">
                            <button class="btn btn-icon navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify font-medium-5"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              {% if request.user.is_authenticated %}
                                <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                                    {% if object|is_user_subscribe:request.user.pk %}
                                    <button type="button" class="btn btn-light subscribe_btn remove_elect_subscribe" data-pk="{{ object.pk }}" data-name="{{ object.name }}">
                                        <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x align-middle mr-25">
                                            <line x1="18" y1="6" x2="6" y2="18"></line>
                                            <line x1="6" y1="6" x2="18" y2="18"></line>
                                        </svg>
                                        <span class="">Вы подписаны</span>
                                    </button>
                                    {% else %}
                                    <button type="button" class="btn btn-primary subscribe_btn add_elect_subscribe" data-pk="{{ object.pk }}" data-name="{{ object.name }}">
                                        <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart align-middle mr-25">
                                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                        </svg>
                                        <span class="">Подписаться</span>
                                    </button>
                                    {% endif %}
                                </div>
                              {% endif %}
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <section id="profile-info">
            <div class="row">
                <div class="col-lg-3 col-12 order-2 order-lg-1">
                  <div class="card">
                      <div class="card-body profile-suggestion">
                          <h5 class="mb-2" style="font-weight: bold;">Реакции:</h5>
                          <span class="mr-1 like {% if object.likes|user_in:request.user %}btn_success{% else %}btn_default{% endif %} elect_like pointer" title="Нравится">
                            <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg>
                            <span class="likes_count margin_right_5">{{ object.likes_count }}</span>
                          </span>
                          <span class="mr-1 dislike {% if object.dislikes|user_in:request.user %}btn_danger{% else %}btn_default{% endif %} elect_dislike pointer" title="Не нравится">
                            <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm0 12l-4.34 4.34L12 14H3v-2l3-7h9v10zm4-12h4v12h-4z"></path></svg>
                            <span class="dislikes_count margin_right_5">{{ object.dislikes_count }}</span>
                          </span>
                          <span class="inert {% if object.inerts|user_in:request.user %}btn_inert{% else %}btn_default{% endif %} elect_inert pointer" title="Ниочём">
                            <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path></svg>
                            <span class="inerts_count margin_right_5">{{ object.inerts_count }}</span>
                          </span>

                          <h5 class="mt-2" style="font-weight: bold;">Рейтинг</h5>
                        </div>
                  </div>
                    <div class="list-group list-group-labels mt-2">
                        <button class="btn mb-1 btn-outline-secondary u_suggested_elect_new_create" data-name="{{ object.name }}">Предложить новость</button>
                        <a data-href="/elect/{{ object.pk }}/all_news/" class="list-group-item list-group-item-action select_elect_news_category active">
                            <span class="align-middle">Все новости</span>
                        </a>
                        <a data-href="/elect/{{ object.pk }}/statements_elect_news/" class="list-group-item list-group-item-action select_elect_news_category">
                            <span class="align-middle">Высказывания</span>
                        </a>
                        <a data-href="/elect/{{ object.pk }}/pre_election_activities_elect_news/" class="list-group-item list-group-item-action select_elect_news_category">
                            <span class="align-middle">Предвыборная деятельность</span>
                        </a>
                        <a data-href="/elect/{{ object.pk }}/work_with_voters_elect_news/" class="list-group-item list-group-item-action select_elect_news_category">
                            <span class="align-middle">Работа с избирателями</span>
                        </a>
                    </div>

                    {% if object.is_have_subscribers %}
                    <div class="card mt-2">
                        <div class="card-body profile-suggestion">
                            <h5 class="mb-2" style="font-weight: bold;">Подписчики</h5>
                            {% for subs in object.get_subscribers %}
                            <div class="d-flex justify-content-start align-items-center">
                                <a class="ajax" href="{% url 'user' pk=subs.pk %}" style="display: flex;">
                                    <div class="avatar mr-1">
                                        <img src="{{ subs.get_avatar }}" alt="avatar img" style="width:40px; height:auto">
                                    </div>
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">{{ subs.get_full_name }}</h6>
                                        <small class="text-muted">{{ subs.get_online_display|safe }}</small>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-lg-6 col-12 order-1 order-lg-2 elect_news_container">
                    {% if object.get_news %}
                    {% for object in object.get_news %}
                      {% include 'elect/new_card.html' %}
                    {% endfor %}
                    {% else %}
                    <div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
                        <div class="card-body">
                          <h3 class="card-title">У чиновника пока нет новостей.</h3>
                          <p class="card-text text-sm">
                            Если у Вас есть чем поделиться с общественностью об этом чиновнике - Вы можете предложить новость</p>
                          <a class="btn btn-secondary u_suggested_elect_new_create btn-sm pointer" data-name="{{ object.name }}">Предложить новость</a>
                        </div>
                      </div>
                    {% endif %}
                </div>

                <div class="col-lg-3 col-12 order-3">
                    {% include 'elect/elect/info_card.html' %}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
