{% extends "base.html" %}
{% block title %}{{ object.name }}{% endblock %}
{% load filters %}
{% block meta %}
<meta property="og:url" content="{% url 'elect_detail' pk=object.pk %}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ object.name }}" />
<meta property="og:image" content="https://служународу.рус{{ object.get_image.url }}" />
{% endblock %}
{% block content %}

<div class="content-body" data-pk="{{ object.pk }}" style="margin-left:10px">
    <div id="user-profile">
        <div class="row">
            <div class="col-12">
                <div class="card profile-header mb-2">
                    <img class="card-img-top" src="{{ object.get_region_image }}" alt="Image">
                    <div class="position-relative">
                        <div class="profile-img-container d-flex align-items-center" style="position: absolute;bottom: -2rem;left: 2.14rem;z-index: 2;">
                            <div class="profile-img" style="border: 0.357rem solid #FFFFFF;background-color: #FFFFFF;border-radius: 0.428rem;box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);">
                                <img src="{{ object.get_image }}" class="rounded img-fluid img_elect_page" style="width: 120px;" alt="Card image">
                            </div>
                            <div class="profile-title ml-2">
                                <h1 class="text-white">{{ object.name }}</h1>
                                <span class="text-white">{{ object.get_first_list }}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <section id="profile-info">
            <div class="row">
                <div class="col-lg-3 col-12 order-2 order-lg-1" style="margin-top: 7px;">
                  {{ object.get_total_rating_icon|safe }}
                  <div class="mt-1 mb-1">
                    {% for vote in voted %}
                    {{ vote.user }}: 
                      {{ vote.vakcine }},
                      {{ vote.pp_825 }},
                      {{ vote.safe_family }},
                      {{ vote.pro_life }},
                      {{ vote.free_vacation }}<br>
                    {% endfor %}

                    {% include 'elect/elect/table.html' %}

                    {% if request.user.is_elect_new_manager %}
                      <span class="pointer manager_elect_edit" data-pk="{{ object.pk }}">ИЗМЕНИТЬ</span><br>
                      <span class="pointer manager_elect_new_create" data-name="{{ object.name }}">ПРЕДЛОЖИТЬ НОВОСТЬ</span><br>
                    {% else %}
                      <span class="pointer u_suggested_elect_new_create" data-name="{{ object.name }}">ПРЕДЛОЖИТЬ НОВОСТЬ</span><br>
                    {% endif %}
                    {% if object|is_user_subscribe:request.user.pk %}
                      <span class="pointer remove_elect_subscribe" data-pk="{{ object.pk }}">ОТПИСАТЬСЯ</span><br>
                    {% else %}
                      <span class="pointer add_elect_subscribe" data-pk="{{ object.pk }}">ПОДПИСАТЬСЯ</span><br>
                    {% endif %}
                  </div>
                    <div class="list-group list-group-labels">
                        <a data-href="/elect/{{ object.pk }}/all_news/" class="list-group-item list-group-item-action select_elect_news_category active">
                            <span class="align-middle">Все новости</span>
                        </a>
                        <a data-href="/elect/{{ object.pk }}/statements_elect_news/" class="list-group-item list-group-item-action select_elect_news_category">
                            <span class="align-middle">Высказывания</span>
                        </a>
                        <a data-href="/elect/{{ object.pk }}/pre_election_activities_elect_news/" class="list-group-item list-group-item-action select_elect_news_category">
                            <span class="align-middle">Обращения граждан</span>
                        </a>
                        <a data-href="/elect/{{ object.pk }}/work_with_voters_elect_news/" class="list-group-item list-group-item-action select_elect_news_category">
                            <span class="align-middle">Работа с избирателями</span>
                        </a>
                    </div>

                    {% if object.is_have_subscribers %}
                    <div class="card mt-2">
                        <div class="card-body profile-suggestion">
                            <h5 class="mb-2" style="font-weight: bold;">Подписчики</h5>
                            {% for subs in object.get_subscribers %}
                            <div class="d-flex justify-content-start align-items-center mb-1">
                                <a class="ajax" href="{% url 'user' pk=subs.pk %}" style="display: flex;">
                                    <div class="avatar mr-1">
                                        <img src="{{ subs.get_avatar }}" alt="avatar img" style="width:40px; height:auto">
                                    </div>
                                    <div class="profile-user-info">
                                        <h6 class="mb-0">{{ subs.get_full_name|safe }}</h6>
                                        <small class="text-muted">{{ subs.get_online_display|safe }}</small>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-lg-6 col-12 order-1 order-lg-2 elect_news_container">
                    {% if object.get_news %}
                    {% for object in object.get_news %}
                      {% include 'elect/new_card.html' %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <div class="load centered m-1 next_page_list" data-link="{% url 'elect_detail' pk=object.pk %}?page={{ page_obj.next_page_number }}">
                        <img src="/static/images/loading.gif">
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
                        <div class="card-body">
                          <h3 class="card-title">У чиновника пока нет новостей.</h3>
                          <p class="card-text text-sm">
                            Если у Вас есть чем поделиться с общественностью об этом чиновнике - Вы можете предложить новость</p>
                            {% if request.user.is_elect_manager %}
                              <a class="btn btn-secondary manager_elect_new_create btn-sm pointer" data-name="{{ object.name }}">Предложить новость</a>
                            {% else %}
                              <a class="btn btn-secondary u_suggested_elect_new_create btn-sm pointer" data-name="{{ object.name }}">Предложить новость</a>
                            {% endif %}
                          </div>
                      </div>
                    {% endif %}
                </div>

                <div class="col-lg-3 col-12 order-3">
                    {% include 'elect/elect/info_card.html' %}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
