<div class="card">
    <div class="card-body">
      {% if object.post_2 %}
        <h5 class="mb-75" style="font-weight: bold;">Должность:</h5>
        <p class="card-text" style="font-weight: bold;">{{ object.post_2 }}</p>
      {% endif %}

      {% if object.get_regions %}
        <h5 class="mb-75" style="font-weight: bold;">География</h5>
          {% for region in object.get_regions %}
          <div class="mr-50" style="font-size:100%">
            <a class="ajax" href="{% url 'region_detail' slug=region.slug %}">
            {{ region.name }}
            </a>
          </div>
          {% endfor %}
      {% endif %}

        {% if object.get_districts %}
        <h5 class="mb-75 mt-2" style="font-weight: bold;">Муниципальные округа</h5>
        {% for area in object.get_districts %}
        <div class="mr-50" style="font-size:100%">
          <a class="ajax" href="{% url 'district_elects' slug=area.slug %}">
          {{ area.name }}
          </a>
        </div>
        {% endfor %}
        {% endif %}

        {% if object.okrug %}
          <h5 class="mb-75 mt-2" style="font-weight: bold;">Одномандатный округ</h5>
          <a class="ajax" href="{% url 'okrug_elects' slug=object.okrug.slug %}">
            {{ object.okrug.name }}
          </a>
        {% endif %}
        {% if object.birthday %}
        <div class="mt-2">
          <h5 class="mb-75" style="font-weight: bold;">Дата рождения / Возраст:</h5>
          <p class="card-text">{{ object.birthday }}</p>
        </div>
        {% endif %}
        {% if object.authorization %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Дата вступления в полномочия:</h5>
            <p class="card-text">{{ object.authorization }}</p>
        </div>
        {% endif %}
        {% if object.term_of_office %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Дата окончания полномочия:</h5>
            <p class="card-text">{{ object.term_of_office }}</p>
        </div>
        {% endif %}

        {% if object.fraction %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Фракция:</h5>
            <a class="ajax" href="{% url 'fraction_index' slug=object.fraction.slug %}">
              {{ object.fraction }}
            </a>
        </div>
        {% endif %}
        {% if object.election_information %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Сведения об избрании:</h5>
            <p class="card-text">{{ object.election_information }}</p>
        </div>
        {% endif %}
        {% if object.description %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Образование:</h5>
            <p class="card-text">{{ object.description }}</p>
        </div>
        {% endif %}

        {% if object.vk %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Ссылка на VK:</h5>
            <p class="card-text">
              {{ object.vk_links|safe }}
            </p>
        </div>
        {% endif %}
        {% if object.fb %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Ссылка на Facebook:</h5>
            <p class="card-text">{{ object.fb_links|safe }}</p>
        </div>
        {% endif %}
        {% if object.ig %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Ссылка на Instagram:</h5>
            <p class="card-text">{{ object.ig_links|safe }}</p>
        </div>
        {% endif %}
        {% if object.tg %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Ссылка на Telegram:</h5>
            <p class="card-text">{{ object.tg_links|safe }}</p>
        </div>
        {% endif %}
        {% if object.tw %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Ссылка на Twitter:</h5>
            <p class="card-text">{{ object.tw_links|safe }}</p>
        </div>
        {% endif %}
        {% if object.mail %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Электронная почта:</h5>
            <p class="card-text">{{ object.mail }}</p>
        </div>
        {% endif %}
        {% if object.phone %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Телефон:</h5>
            <p class="card-text">{{ object.phone }}</p>
        </div>
        {% endif %}
        {% if object.address %}
        <div class="mt-2">
            <h5 class="mb-75" style="font-weight: bold;">Адрес (приёмная):</h5>
            <p class="card-text">{{ object.address }}</p>
        </div>
        {% endif %}
    </div>
</div>
