{% if not request.user.is_manager %}
<table class="table table-sm">
	<tbody>
		<span style="font-weight: bold;">Рейтинг работы чиновника:</span>
		<tr>
			<td><span class="font-weight-bold small">Добровольность вакцинации</span></td>
			{{ object.get_vakcine_double|safe }}
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Отмена пп 825</span></td>
			{{ object.get_pp_825_double|safe }}
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Защита прав семьи</span></td>
			{{ object.get_safe_family_double|safe }}
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Защита жизни с момента зачатия</span></td>
			{{ object.get_pro_life_double|safe }}
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Свобода образования</span></td>
			{{ object.get_free_vacation_double|safe }}
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Итоговый рейтинг</span></td>
			{{ object.get_total_rating_double|safe }}
		</tr>
	</tbody>
</table>
{% elif not is_user_voted and request.user.is_manager %}
<form>
	{% csrf_token %}
<table class="table table-sm">
	<tbody>
		<span style="font-weight: bold;">Оценить работу чиновника:</span>
		<tr>
			<td><span class="font-weight-bold small">Добровольность вакцинации</span></td>
			<td style="">
				<select class="elect_rating_select elect_rating_vakcine" name="vakcine">
						<option value="-3">-3</option>
						<option value="-2">-2</option>
						<option value="-1">-1</option>
						<option value="0" selected="">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
				</select>
			</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold small">Отмена пп 825</span></td>
			<td>
				<select class="elect_rating_select" name="pp_825">
						<option value="-3">-3</option>
						<option value="-2">-2</option>
						<option value="-1">-1</option>
						<option value="0" selected="">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
				</select>
			</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold small">Защита прав семьи</span></td>
			<td>
				<select class="elect_rating_select" name="safe_family">
						<option value="-3">-3</option>
						<option value="-2">-2</option>
						<option value="-1">-1</option>
						<option value="0" selected="">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
				</select>
			</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold small">Защита жизни с момента зачатия</span></td>
			<td>
				<select class="elect_rating_select" name="pro_life">
						<option value="-3">-3</option>
						<option value="-2">-2</option>
						<option value="-1">-1</option>
						<option value="0" selected="">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
				</select>
			</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold small">Свобода образования</span></td>
			<td>
				<select class="elect_rating_select" name="free_vacation">
						<option value="-3">-3</option>
						<option value="-2">-2</option>
						<option value="-1">-1</option>
						<option value="0" selected="">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Итоговый рейтинг</span></td>
			{{ object.get_total_rating_double|safe }}
		</tr>
	</tbody>
</table>
<p type="button" class="pointer underline get_elect_rating_voted" style="display:none;text-align: end;">Оценить</p>
</form>

{% else %}
<table class="table table-sm">
	<tbody>
		<span style="font-weight: bold;">Рейтинг работы чиновника:</span>
		<tr>
			<td><span class="font-weight-bold small">Добровольность вакцинации</span></td>
			{{ object.get_vakcine_double|safe }}
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Отмена пп 825</span></td>
			{{ object.get_pp_825_double|safe }}
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Защита прав семьи</span></td>
			{{ object.get_safe_family_double|safe }}
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Защита жизни с момента зачатия</span></td>
			{{ object.get_pro_life_double|safe }}
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Свобода образования</span></td>
			{{ object.get_free_vacation_double|safe }}
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Итоговый рейтинг</span></td>
			{{ object.get_total_rating_double|safe }}
		</tr>
	</tbody>
</table>
{% endif %}
