<table class="table table-sm">
	<tbody>
		<p>Оценить работу чиновника:</p>
		<tr>
			<td><span class="font-weight-bold small">Добровольность вакцинации</span></td>
			<td style="background-color:yellow; cursor:pointer">1,0</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold small">Отмена пп 825</span></td>
			<td style="background-color:green; cursor:pointer">1,0</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold small">Защита прав семьи</span></td>
			<td style="background-color:red; cursor:pointer">1,0</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold small">Защита жизни с момента зачатия</span></td>
			<td style="cursor:pointer">1,0</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold small">Свобода образования</span></td>
			<td style="cursor:pointer">1,0</td>
		</tr>
		<tr>
			<td><span class="font-weight-bold small">Итоговый рейтинг</span></td>
			<td style="cursor:pointer">1,0</td>
		</tr>
	</tbody>
</table>
