<table class="table table-sm">
	<tbody>
		<tr>
			<td><span class="font-weight-bold">Добровольность вакцинации</span></td>
			<td>1,0 Цвет</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold">Отмена пп 825</span></td>
			<td>1,0 Цвет</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold">Защита прав семьи</span></td>
			<td>1,0 Цвет</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold">Защита жизни с момента зачатия</span></td>
			<td>1,0 Цвет</td>
		</tr>
    <tr>
			<td><span class="font-weight-bold">Свобода образования</span></td>
			<td>1,0 Цвет</td>
		</tr>
	</tbody>
</table>
