{% extends "base.html" %}
{% block title %}Уведомления{% endblock %}
{% block content %}
  <div class="container">
    {{ object_list }}
        <div class="content-wrapper row">
          <div class="content-header-left col-md-9 col-12">
            <div class="content-body mt-2 is_paginate">
              {% load notify %}
              {% for object in object_list %}
                <div class="card mb-2 pag {% if forloop.last %}last{% endif %}">
                  {{ object|get_notify:request.user|safe }}
                </div>
              {% empty %}
              <div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
                <div class="card-body">
                  <h3 class="card-title">У Вас пока нет уведомлений.</h3>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="content-header-left col-md-3 col-12 mb-2"></div>
        </div>
    </div>
{% endblock %}
