{% load filters %}

<div class="col-12 pag" style="padding:3px">
  <div class="media border pr-1">
      <div class="media-body music_media_body" style="line-height: 8px;">
        <span style="position: absolute;top: 9px;left: 8px;">{{ object.title }} ({{ object.file.size|filesizeformat }})</span>
        <div class="audio_div">
          <audio id="player" class="audio_player">
            <source src="{{ object.file.url }}" type="audio/mp3" />
          </audio>
        </div>
        <span class='span_btn' data-pk="{{ object.pk }}">
          {% if request.user.is_manager %}
          <span class='dropdown' style="position: inherit;" data-pk="{{ object.pk }}">
            <a class='btn_default pointer drop' title="Добавить в список">
              <svg fill='currentColor' style="width:25px;height:25px;" class='svg_default' viewBox="0 0 24 24"><path d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="top: 40px;">
                {% for list in request.user.get_media_lists %}
                  <span data-uuid="{{ list.uuid }}">
                    {% if list|track_in_media_list:object.pk %}
                      <span class="dropdown-item remove_track_from_media_list">
                        <svg fill="currentColor" style="width:15px;height:15px;" class="svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                        {{ list.name }}
                      </span>
                    {% else %}
                      <span class="dropdown-item add_track_in_media_list" style="padding-left: 30px;">{{ list.name }}</span>
                    {% endif %}
                  </span>
                {% endfor %}
            </div>
          </span>
            {% endif %}
          <div class="dropdown" style="position: inherit;">
              <a class="btn_default drop pointer">
                  <svg class="svg_info" style="padding-top: 2px;" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                  </svg>
              </a>
              <div class="dropdown-menu dropdown-menu-right" style="top: 40px;">
                {% if request.user.is_manager %}
                  <span class="dropdown-item media_track_edit">Изменить</span>
                  <span class="dropdown-item media_track_remove">Удалить</span>
                {% endif %}
                <span>
                {% if object|is_have_item_in_media_list:request.user.pk %}
                  <a class="dropdown-item remove_track_from_media_list_collection pointer">Убрать из медиа-списка</a>
                {% else %}
                  <a class="dropdown-item add_track_in_media_list_collection pointer">Добавить в медиа-список</a>
                {% endif %}
                </span>
                <span class="dropdown-item copy_link" data-link="/music/track_detail/{{ object.pk }}/">Копировать ссылку</span>
              </div>
          </div>
        </span>
      </div>
  </div>
</div>
