<div class="row_item media_video_detail pointer pag" video-pk="{{ object.pk }}" style="position:relative">
  <div class="blog-header-img">
    {% if object.image %}
      <img style="width: 100%;object-fit: cover;height: 200px;" src="{{ object.image.url }}" alt="img">
    {% else %}
      <img style="width: 100%;object-fit: cover;height: 200px;" src="/static/images/list.jpg" alt="img">
    {% endif %}
  </div>
  <div style="position:absolute;bottom: -10px;left: 8px;">
    <span class="card_fullscreen text-truncate w-100">{{ object.title }}</span><br>
  </div>
</div>
