
<form class="mt-5" data-uuid="{{ object.pk }}">
  {% csrf_token %}
  <div class="row no-gutters">
    <div style="flex: 0 0 100%;max-width:100%;padding:5px;">
      <a class="btn btn-sm border photo_fullscreen_hide_2" style="width: -webkit-fill-available;">
        <svg fill="currentColor" class="svg_default" style="width: 17px;" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
          <div class="col-lg-2 col-md-4">
            {% include 'desctop/generic/community/figure.html' %}
          </div>
          <div class="col-lg-10 col-md-8">
            <h6 class="my-0 mt-1">{% include 'desctop/generic/community/community.html' %}</h6>
            <p style="padding-top:10px;">Вы собираетесь остановить деятельность этого сообщества.</p>
          </div>
      </div>
        <div class="form-group">
          <label>Выберите время санкции</label>
          <select class="form-control" name="number">
              <option value="1">Заморозить на 6 часов</option>
              <option value="2">Заморозить на 3 дня</option>
              <option value="3">Заморозить на 7 дней</option>
              <option value="4">Заморозить на 30 дней</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <textarea name="description" class="form-control bg-light-secondary border-0" rows="4" placeholder="Опишите причину заморозки сообщества"></textarea>
        </div>
        <br>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-success float-right create_community_suspend_btn">Применить заморозку</button>
    </div>
  </div>
</form>
