{% extends "base.html" %}
{% block title %}Жалобы на пользователей{% endblock %}
{% load manager_tags %}
{% block content %}

<div class="row manager main-container">
    <div class="col-12">
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по списку">
            <div class="input-group-append">
                <button class="btn custom_color border" type="button">Искать</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">Жалобы на пользователей</h5>
                      <small class="content-color-secondary float-right mr-2 mt-1"></small>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 py-0">

              {% if object_list %}

              <ul class="list-group is_paginate">
                  {% for object in object_list %}
                  <li class="list-group-item pag" obj-pk="{{ object.pk }}" user-pk="{{ object.object_id }}">
                      {{ object|get_user|safe }}
                  </li>
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <div class="load centered m-1 next_page_list" data-link="/managers/moderation_list/user/?page={{ page_obj.next_page_number }}">
                      <img src="/static/images/loading.gif">
                  </div>
                  {% endif %}
              </ul>

              {% else %}
              <div class="card centered mt-5">
                <h6> Жалоб пока нет...</h6>
              </div>

              {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}
