{% extends "base.html" %}
{% block title %}Жалобы на видеозаписи{% endblock %}
{% load manager_tags %}
{% block content %}

<div class="content-body">
    <section class="app-user-edit">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="card user-card">
                          <h1 class="mb-0">Жалобы на видеозаписи</h1>
                          <div class="row mt-3">
                          {% for object in object_list %}
                          <div class="col-md-12 pag {% if forloop.last %}last{% endif %}" obj-pk="{{ object.object.pk }}" data-pk="{{ object.object_id }}">
                              {{ object|get_video_items|safe }}
                          </div>
                          {% empty %}
                          <div class="card centered mt-5">
                            <div class="card-body">
                              <svg fill="currentColor" class="svg_default thumb_big" viewBox="0 0 24 24"><path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>                            </div>
                              <h6> Жалоб пока нет...</h6>
                          </div>
                          {% endfor %}
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                      Сайдбарчик
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
