{% load filters %}

<div class="card">
    <div class="card-body">
        <div class="media">
            <div class="avatar mr-75">
                <img src="{{ comment.commenter.get_avatar }}" width="38" height="38" alt="Avatar">
            </div>
            <div class="media-body">
                <h6 class="font-weight-bolder mb-25">{{ reply.commenter.get_full_name }}</h6>
                <p class="card-text">{{ reply.get_created }}</p>
                <p class="card-text">{{ reply.text }}</p>
                    <div class="d-inline-flex align-items-center pointer">
                      <span class="like blog_reply_like {% if comment.likes|user_in:request.user %}btn_success{% else %}btn_default{% endif %} pointer" title="Нравится">
                        <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
                        <span class="likes_count">{{ reply.likes_count }}</span>
                      </span>
                      &nbsp;&nbsp;
                      <span>Ответить</span>
                    </div>

                    <div style="display:none">
                    <form class="form">
                      {% csrf_token %}
                          <div class="row attach_block"></div>
                            <div class="col-12">
                                <textarea name="text" class="form-control mb-2" rows="3"></textarea>
                            </div>
                            <input type="hidden" name="post_comment" value="{{ comment.pk }}">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary blogReplyParentComment">Комментировать</button>
                            </div>

                    </form>
                    </div>
            </div>
        </div>
    </div>
</div>
