{% extends "base_auth.html" %}
{% block title %}Подтверждение аккаунта{% endblock %}
{% block content %}

<div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
        <div class="card mb-0">
            <div class="card-body">
                <a href="{% url 'main' %}" class="brand-logo">
                    <h2 class="brand-text text-primary ml-1">Депутат</h2>
                </a>

                <h4 class="card-title mb-1">Подтверждение телефона 🔒</h4>
                <p class="card-text mb-2">Введите Ваш номер телефона. Мы Вам пошлем код подтверждения.</p>

                <form class="auth-forgot-password-form mt-2 verify_form" data-pk="{{ request.user.pk }}">
                    <div class="form-group">
                      <label for="phone" class="form-label">Телефон</label>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text">+7</span>
                        </div>
                        <input type="number" id="phone" onkeyup="phone_check();" placeholder="9042373637" class="form-control" tabindex="1" autofocus="">
                      </div>
                    </div>
                    <button type="button" disabled="disabled" id="phone_send" class="btn btn-primary btn-block" tabindex="2">Получить код</button>
                </form>

                <div id='jsondata' style="margin-top:50px"></div>

                <div id='jsondata2' style="margin-top:50px"></div>

                <p class="text-center mt-2">
                    <a href="/logout">Выйти</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  document.getElementById("phone_send").addEventListener("click", (e) => {
   var phone = document.getElementById('phone').value;
  var request = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
  request.open( 'GET', "/users/progs/phone_send/" + phone + "/", true );
  request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
  request.onreadystatechange = function () {
    if ( request.readyState == 4 && request.status == 200) {
      var div = document.getElementById('jsondata');
      div.innerHTML = request.responseText;
      document.getElementById("phone").setAttribute("disabled", "true");
      document.getElementById("phone_send").setAttribute("disabled", "true");
    }
  };
  request.send( null );
});
</script>
{% endblock %}
