{% extends "base.html" %}
{% block title %}Оштрафованные документы{% endblock %}
{% load manager_tags %}
{% block content %}

<div class="content-body">
    <section class="app-user-edit">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="card user-card">
                          <h1 class="mb-0">Оштрафованные документы</h1>
                          {% for object in object_list %}
                          <div class="list-group-item pag {% if forloop.last %}last{% endif %}" data-pk="{{ object.object_id }}">
                              {{ object|get_doc_items:object.object_id|safe }}
                          </div>
                          {% empty %}
                          <div class="card centered">
                            <div class="card-body">
                              <svg fill="currentColor" class="svg_default thumb_big" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"></path></svg>                            </div>
                            <h6> Оштрафованных документов нет...</h6>
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
