{% extends "base.html" %}
{% block title %}Оштрафованные активности{% endblock %}
{% load manager_tags %}
{% block content %}

<div class="content-body">
    <section class="app-user-edit">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="card user-card">
                          <h1 class="mb-0">Оштрафованные активности</h1>
                          {% for object in object_list %}
                          <div class="pag {% if forloop.last %}last{% endif %}" data-pk="{{ object.object_id }}">
                              {{ object|get_video_items|safe }}
                          </div>
                          {% empty %}
                          <div class="card centered mt-5">
                            <div class="card-body">
                              <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"></path></svg>                            </div>
                            <h6> Оштрафованных активностей нет...</h6>
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                      Сайдбарчик
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
