{% extends "base.html" %}
{% block title %}Оштрафованные пользователи{% endblock %}
{% load manager_tags %}
{% block content %}

<div class="content-body">
    <section class="app-user-edit">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="card user-card">
                          <h1 class="mb-0 mb-3">Оштрафованные пользователи</h1>
                          {% for object in object_list %}
                          <div class="pag {% if forloop.last %}last{% endif %}" data-pk="{{ object.pk }}" user-pk="{{ object.object_id }}">
                              {{ object|get_user|safe }}
                          </div>
                          {% empty %}
                          <div class="card centered mt-5">
                            <div class="card-body">
                            <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                            </div>
                            <h6> Оштрафованных пользователей нет...</h6>
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                      Сайдбарчик
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
