<div class="_card" style="padding:5px">
  <div class="">
        <div class="tab-content">
          <div class="tab-pane fade active show smiles_panel" style="height: 250px;width: 250px;overflow: auto;">
            <div class="mb-0 f-sm">
              {% if is_have_populate_smiles %}
                <h6>Часто используемые</h6>
                <div style="display: flex;flex-wrap: wrap;">
                  {% for smile in request.user.get_populate_smiles %}
                    <img class="pointer classic_smile_item" data-pk="{{ smile.pk }}" style="width: auto;" src="{{ smile.image.url }}" alt="smile">
                  {% endfor %}
                </div>
              {% endif %}

              {% for smiles in smiles_category %}
                <h6>{{ smiles.name }}</h6>
                <div style="display: flex;flex-wrap: wrap;">
                  {% for smile in smiles.get_smiles %}
                    <img class="pointer classic_smile_item border" data-pk="{{ smile.pk }}" style="width: auto;" src="{{ smile.image.url }}" alt="smile">
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </div>
    </div>
    <div class="border-top tabs-footer">
        <ul class="nav" role="tablist">
            <li class="nav-item load_smiles_stickers pointer" style="margin-right:5px">
                <img src="/static/images/smile.png" alt="smile">
            </li>
            <li class="nav-item load_smiles_stickers pointer" style="margin-right:5px">
                <img src="/static/images/smile.gif" alt="smile">
            </li>
        </ul>
    </div>
  </div>
</div>
