{% load filters %}

<div class="card reply_card" style="margin-bottom: .5rem;">
    <div class="card-body" style="padding: .5rem .5rem;">
        <div class="media">
            <div class="avatar mr-75">
                <a href="{% url 'user' pk=reply.commenter.pk %}" class="ajax">
                    <img src="{{ reply.commenter.get_avatar }}" width="28" height="28" alt="Avatar">
                </a>
            </div>
            <div class="media-body" data-pk="{{ reply.pk }}">
                <h6 class="font-weight-bolder mb-25">
                    <a href="{% url 'user' pk=reply.commenter.pk %}" class="ajax">
                        <span class="first_name">{{ reply.commenter.first_name }}</span> {{ reply.commenter.last_name }}
                    </a>
                </h6>
                <span class="text-muted small">{{ reply.get_created }}</span>
            </div>
        </div>
        <div class="comment_footer" data-pk="{{ comment.pk }}">
            <span class="card-text">{{ reply.text }}</span><br>
            <div class="row no-gutters">

              {% if reply.attach %}
                {{ comment|get_blog_comment_attach:request.user|safe }}
              {% endif %}
            </div>

            <div class="align-items-center pointer">
                <span class="like blog_reply_like {% if comment.likes|user_in:request.user %}btn_success{% else %}btn_default{% endif %} pointer" title="Нравится">
                    <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path>
                        <path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path>
                    </svg>
                    <span class="likes_count">{{ reply.likes_count }}</span>
                </span>
                &nbsp;&nbsp;
                <svg class="svg_info reply_comment" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z" />
                </svg>
            </div>

            <div style="display:none">
                <form class="form">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="row no-gutters comment_attach_block"></div>

                        <span style="display:flex">
                            {% include 'blog/dropdown.html' %}
                            <input name="text" class="form-control text-comment" style="margin-bottom:5px">
                        </span>

                        <input type="hidden" name="post_comment" value="{{ comment.pk }}">
                        <button type="button" class="btn btn-danger btn-sm hide_comment_form float-right" style="margin-left:5px">x</button>
                        <button type="button" class="btn btn-primary btn-sm blogReplyParentComment float-right">Комментировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
