
<div class="container mt-3">
  <div class="row no-gutters" style="overflow-x: auto;">
      <div class="col-12">
          <ul style="width:max-content;list-style: none;" chat-pk="{{ chat.pk }}">
            <li class="select_chat_collections pointer pr-2 float-left" data-type="photo">Фотографии</li>
            <li class="select_chat_collections pointer pr-2 float-left" data-type="doc">Документы</li>
            <li class="select_chat_collections pointer pr-2 float-left" data-type="video">Видеоролики</li>
            <li class="select_chat_collections pointer pr-2 float-left" data-type="music">Аудиозаписи</li>
            
          </ul>
      </div>
  </div>
  <span class="load_block">
    <div class="media mt-3" style="padding-left: 7px;">
      <h5 class="mt-1">
        <p>
          <span class="second_list_name">Фотографии</span>
        </p>
      </h5>
    </div>
    <div class="container-fluid pk_saver">
      {% if object_list %}
      <div class="row is_block_paginate is_stat_list" chat-pk="{{ chat.pk }}" data-pk="{{ list.pk }}" owner-pk="{{ list.community.pk }}" data-type="chat_photo_list">

        {% for object in object_list %}
          {% if object.is_photo_list %}
            <div class="custom_color row_item  text-center has-background-img position-relative box-shadow" photolist-pk="{{ object.pk }}">
              <figure class="background-img">
                <img src="{{ object.get_cover_photo }}"></figure>
                <div class="container">
                  <i class="figure avatar120 mr-0 fa fa-gift rounded-circle bg-none"></i>
                  <br>
                  <h4 class="load_photo_list pointer">
                    <a>{{ object.name }}</a>
                  </h4>
                  <p class="lead">
                    <a class="ajax underline" href="{{ object.creator.get_link }}">{{ object.creator.get_full_name_2 }}</a>
                  </p>
                  <hr class="my-3">
                  <a class="load_photo_list pointer">{{ object.count_items_ru }}</a>
                </div>
              </div>
          {% else %}
            <div class="row_item pointer hide_shower col-lg-4 chat_photo" photo-pk="{{ object.pk }}">
              <div class="progressive replace" data-href="{{ object.file.url }}">
                <img class="preview image_fit_200" src="{{ object.get_preview }}" alt="img">
              </div>
            </div>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <div class="load centered m-1 next_page_list" data-link="/chat/{{ chat.pk }}/collections/?type=photo&page={{ page_obj.next_page_number }}">
              <img src="/static/images/loading.gif">
          </div>
        {% endif %}

      </div>
      {% else %}
      <div class="card mb-3 centered item_empty">
        <div class="card-body">
        <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
        </div>
        <h6> Фотографий нет.</h6>
      </div>
      {% endif %}
    </div>
  </span>
</div>
