
<div class="container mt-3">
  <div class="row no-gutters" style="overflow-x: auto;">
      <div class="col-12">
          <ul style="width:max-content;list-style: none;" chat-pk="{{ chat.pk }}">
            <li class="select_chat_collections pointer pr-2 float-left" data-type="photo">Фотографии</li>
            <li class="select_chat_collections pointer pr-2 float-left" data-type="doc">Документы</li>
            <li class="select_chat_collections pointer pr-2 float-left" data-type="video">Видеоролики</li>
            <li class="select_chat_collections pointer pr-2 float-left" data-type="music">Аудиозаписи</li>
            <li class="select_chat_collections pointer pr-2 float-left" data-type="good">Товары</li>
            <li class="select_chat_collections pointer pr-2 float-left" data-type="post">Записи</li>
          </ul>
      </div>
  </div>
  <span class="load_block">
    <div class="media mt-3" style="padding-left: 7px;">
      <h5 class="mt-1">
        <p>
          <span class="second_list_name">Видеоролики</span>
        </p>
      </h5>
    </div>
    <div class="container-fluid pk_saver">
      {% if object_list %}
      <div class="row is_block_paginate is_stat_list" chat-pk="{{ chat.pk }}" data-pk="{{ list.pk }}" data-type="chat_video_list" style="display: block;">

        {% for object in object_list %}
          {% if object.is_video_list %}
            <div class="custom_color row_item text-center has-background-img position-relative box-shadow" videolist-pk="{{ object.pk }}">
              <figure class="background-img">
                <img src="{{ object.get_cover_photo }}"></figure>
                <div class="container">
                  <i class="figure avatar120 mr-0 fa fa-gift rounded-circle bg-none"></i>
                  <br>
                  <span>
                  <h4 class="load_video_list pointer">
                    <a>{{ object.name }}</a>
                  </h4>
                  </span>
                  <p class="lead">
                    <a class="ajax underline" href="{{ object.creator.get_link }}">{{ object.creator.get_full_name_2 }}</a>
                  </p>
                  <hr class="my-3">
                  <span>
                  <a class="load_video_list pointer">{{ object.count_items_ru }}</a>
                  </span>
                </div>
              </div>
          {% else %}
            {% include 'user_video/video.html' %}
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <div class="load centered m-1 next_page_list" data-link="/chat/{{ chat.pk }}/collections/?type=video&page={{ page_obj.next_page_number }}">
              <img src="/static/images/loading.gif">
          </div>
        {% endif %}

      </div>
      {% else %}
      <div class="card centered item_empty">
        <div class="card-body">
          <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
            <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </div>
        <h6>Видеозаписей нет.</h6>
      </div>
      {% endif %}
    </div>
  </span>
</div>
