{% load filters %}

<div class="container mt-3">
  <div class="row no-gutters" list-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}">
    {% if list|is_user_can_add_list:request.user.pk %}
    <div style="flex: 0 0 45%;max-width:45%;padding:5px;">
        <a class="btn btn-sm border u_copy_survey_list" style="width: -webkit-fill-available;">Добавить</a>
    </div>
    {% elif request.user.pk in list.get_users_ids %}
    <div style="flex: 0 0 45%;max-width:45%;padding:5px;">
        <a class="btn btn-sm border u_uncopy_survey_list" style="width: -webkit-fill-available;">Удалить</a>
    </div>
    {% endif %}
    <div style="flex: 0 0 45%;max-width:45%;padding:5px;">
      <span>
        <a class="btn btn-sm border manage_remove_survey_list" style="width: -webkit-fill-available;">Закрыть</a>
      </span>
    </div>
    <div style="flex: 0 0 10%;max-width:10%;padding:5px;">
      <a class="btn btn-sm border photo_fullscreen_hide_2" style="width: -webkit-fill-available;">x</a>
    </div>
  </div>

  <div class="media mt-3" style="display:flex;align-items: flex-start">
    <h5 class="mt-1" style="flex: 1;">
      {{ list.name }} ({{ list.count_items }}) - список опросов
      <a href="{% url 'user' pk=list.creator.pk %}" class="ajax underline">
        {{ list.creator.get_full_name_genitive }}
      </a>
      <span class="pointer badge badge-light-primary copy_link" data-link="{% url 'user_survey_list' uuid=list.uuid %}">Копировать ссылку</span>
    </h5>
  </div>

<div class="row is_load_paginate no-gutters" data-link="/survey/load/{{ list.pk }}/">
{% for object in object_list %}
  {% include 'user_survey/survey.html' %}
{% empty %}
<div class="card centered item_empty">
  <div class="card-body">
  <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path d="M0 0h24v24H0V0z" fill="none"/><path d="M13 7.5h5v2h-5zm0 7h5v2h-5zM19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM11 6H6v5h5V6zm-1 4H7V7h3v3zm1 3H6v5h5v-5zm-1 4H7v-3h3v3z"/></svg>
  </div>
  <h6>В списке нет опросов.</h6>
</div>
{% endfor %}
</div>
