{% extends "base.html" %}
{% block title %}Активности | {{ object.title }}{% endblock %}
{% load filters %}
{% block content %}
<div class="content mt-3 pk_saver">
    <div class="content-wrapper">
        <div class="content-detached content-left">
            <div class="content-body">
                <div class="blog-detail-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body" data-pk="{{ object.pk }}">
                                    <h1 class="card-title">{{ object.title }}</h1>
                                    <div class="media">
                                        {% if object.elect %}
                                        <div class="avatar mr-50">
                                            <img src="{{ object.elect.image.url }}" alt="Avatar" width="24" height="24">
                                        </div>
                                        <div class="media-body">
                                            <small><a href="{% url 'elect_detail' pk=object.elect.pk %}" class="text-body ajax">{{ object.elect.name }}</a></small>
                                            <span class="text-muted ml-50 mr-25">|</span>
                                            <small class="text-muted">{{ object.get_created }}</small>
                                        </div>
                                        {% else %}
                                        <div class="avatar mr-50">
                                            <img src="{{ object.creator.get_avatar }}" alt="Avatar" width="24" height="24">
                                        </div>
                                        <div class="media-body">
                                            <small><a href="{% url 'user' pk=object.creator.pk %}" class="text-body ajax">{{ object.creator.get_full_name|safe }}</a></small>
                                            <span class="text-muted ml-50 mr-25">|</span>
                                            <small class="text-muted">{{ object.get_created }}</small>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <p class="card-text mb-2">
                                        Ваша новость еще на рассмотрении у модератора.
                                    </p>
                                    <p class="card-text mb-2">
                                        {{ object.description|safe }}
                                    </p>
                                    {% if object.attach %}
                                    {{ object|get_attach:request.user|safe }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-detached sidebar-right">
            <div class="sidebar">
                <div class="blog-sidebar my-2 my-lg-0">
                    <div class="blog-recent-posts mt-3">
                        <h6 class="section-label">Последнее</h6>
                        <div class="mt-75">
                            {% for object in last_articles %}
                            <div class="media mb-2">
                                <a href="{% url 'elect_new_detail' slug=object.slug %}" class="mr-2 ajax">
                                    <img class="rounded" src="{{ object.get_image }}" width="100" height="70" alt="img">
                                </a>
                                <div class="media-body">
                                    <h6 class="blog-recent-post-title">
                                        <a href="{% url 'elect_new_detail' slug=object.slug %}" class="text-body-heading ajax">{{ object.title }}</a>
                                    </h6>
                                    <div class="text-muted mb-0">{{ object.get_created }}</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
