{% load filters %}

<div class="container mt-3">
  <div class="row no-gutters" list-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}">
    {% if list|is_user_can_add_list:request.user.pk %}
    <div style="flex: 0 0 45%;max-width:45%;padding:5px;">
        <a class="btn btn-sm border copy_photo_list" style="width: -webkit-fill-available;">Добавить</a>
    </div>
    {% elif request.user.pk in list.get_users_ids %}
    <div style="flex: 0 0 45%;max-width:45%;padding:5px;"
        <a class="btn btn-sm border uncopy_photo_list" style="width: -webkit-fill-available;">Удалить</a>
    </div>
    {% endif %}
    <div style="flex: 0 0 45%;max-width:45%;padding:5px;">
        <a class="btn btn-sm border manage_remove_photo_list" style="width: -webkit-fill-available;">♦ Удалить</a>
    </div>
    <div style="flex: 0 0 10%;max-width:10%;padding:5px;">
      <a class="btn btn-sm border photo_fullscreen_hide_2" style="width: -webkit-fill-available;">x</a>
    </div>
  </div>

  <div class="media mt-3" style="display:flex;align-items: flex-start">
    <h5 class="mt-1" style="flex: 1;">{{ list.name }} ({{ list.count_items }}) - альбом {{ list.creator.get_full_name_genitive }}
      <span class="pointer badge badge-light-primary copy_link" data-link="/gallery/photo_detail/{{ object.uuid }}/">Копировать ссылку</span>
    </h5>
  </div>

<div class="row is_load_paginate no-gutters" data-link="/gallery/load_list/{{ list.pk }}/" data-uuid="{{ list.uuid }}">
{% for object in object_list %}
<div class="u_photo_detail pag {% if forloop.last %}last{% endif %}" photo-pk="{{ object.pk }}">
  <div class="progressive replace" data-href="{{ object.file.url }}">
    {% if object.preview %}
      <img class="preview image_fit_200" src="{{ object.preview.url }}" alt="img">
    {% else %}
      <svg class="svg_default image_fit_200" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
    {% endif %}
  </div>
</div>
{% empty %}
<div class="card mb-3 centered item_empty" style="width: 100%;">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
  </div>
  <h6> Фотоальбом пока пустой...</h6>
</div>
{% endfor %}
</div>
