
<div class="container mt-3">
  <div class="row no-gutters">
    <div style="flex: 0 0 100%;max-width:100%;padding:5px;">
      <a class="btn btn-sm border photo_fullscreen_hide_2" style="width: -webkit-fill-available;">
        <svg fill="currentColor" class="svg_default" style="width: 17px;" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
    </div>
  </div>

  <div class="media mt-3" style="display:flex;align-items: flex-start">
    <h5 class="mt-1" style="flex: 1;">Жалобы объекта</h5>
  </div>

  <ul class="list-group is_load_paginate no-gutters" style="list-style-type:none" data-link="/managers/load_claims/{{ report.pk }}/">
  {% for object in object_list %}
  <li class="pag {% if forloop.last %}last{% endif %}">
      <div class="media">
        <a href="{% url 'user' pk=object.reporter.pk %}" class="ajax">
          <figure>
            <img src="{{ object.reporter.get_avatar }}" style="width: 90px;" alt="image">
          </figure>
        </a>
        <div class="media-body pl-1">
          <h6 class="my-0 mt-1">
            <a href="{% url 'user' pk=object.reporter.pk %}" class="ajax">
              {{ object.reporter.get_full_name }}
            </a>
          </h6>
          <p style="font-weight:bold">{{ object.get_type_display }}</p>
          <p>{{ object.description }}</p>
        </div>
      </div>
  </li>
  </ul>
  {% empty %}
    <div class="card centered item_empty">
      <div class="card-body">
        <svg class='svg_default thumb_big' viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
      </div>
      <h6>Жалоб пока нет.</h6>
    </div>
  {% endfor %}
  </div>
