{% extends "base.html" %}
{% block title %}Администрирование | Главная{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
          <div class="container mt-2 main-container card">
            <h1 class="mb-0 text-center">Вы управленец</h1>
            <h5 class="text-warning mb-2 text-center">
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
            </h5>
            <p class="content-color-secondary text-center">
              Вы управленец портала. Пожалуйста, помните, что быть таким человеком - большая отвественность. <br>
              Нужно быть беспристрастным, грамотным, осознанным человеком, с развитым чувством справедливости и моральными качествами.<br>
              Нужно тщательно беречь аккаунт от других пользователей.
            </p>
        </div>
  </div>
  <div class="container mt-2 main-container">
    <div class="row">
      {% if request.user.is_user_manager %}
      <div class="col-12 col-md-4">
        <div class="card mb-2 box-shadow-large">
          <div class="text-center">
            <h4 class="content-color-primary">Пользователи</h4>
            <a href="/managers/moderation_list/user/" class="btn-link ajax">Жалобы</a> |
            <a href="/managers/penalty_list/user/" class="btn-link ajax">Штраф-лист</a>
            <br>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_community_manager %}
      <div class="col-12 col-md-4">
        <div class="card mb-2 box-shadow-large">
          <div class="text-center">
            <h4 class="content-color-primary">Сообщества</h4>
            <a href="/managers/moderation_list/community/" class="btn-link ajax">Жалобы</a> |
            <a href="/managers/penalty_list/community/" class="btn-link ajax">Штраф-лист</a>
            <br>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_elect_new_manager %}
      <div class="col-12 col-md-4">
        <div class="card mb-2 box-shadow-large">
          <div class="text-center">
            <h4 class="content-color-primary">Активности</h4>
            <a href="{% url 'suggested_elect_news' %}" class="btn-link ajax">Предложка</a> |
            <a href="/managers/moderation_list/elect_new/" class="btn-link ajax">Жалобы</a> |
            <a href="/managers/penalty_list/elect_new/" class="btn-link ajax">Штраф-лист</a>
            <br>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_blog_manager %}
      <div class="col-12 col-md-4">
        <div class="card mb-2 box-shadow-large">
          <div class="text-center">
            <h4 class="content-color-primary">Новости</h4>
            <a href="#" class="btn-link pointer manager_blog_create">Добавить</a> |
            <a href="/managers/moderation_list/blog/" class="btn-link ajax">Жалобы</a> |
            <a href="/managers/penalty_list/blog/" class="btn-link ajax">Штраф-лист</a>
            <br>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_photo_manager %}
      <div class="col-12 col-md-4">
        <div class="card mb-2 box-shadow-large">
          <div class="text-center">
            <h4 class="content-color-primary">Изображения</h4>
            <a href="/managers/moderation_list/photo/" class="btn-link ajax">Жалобы</a> |
            <a href="/managers/penalty_list/photo/" class="btn-link ajax">Штраф-лист</a>
            <br>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_doc_manager %}
      <div class="col-12 col-md-4">
        <div class="card mb-2 box-shadow-large">
          <div class="text-center">
            <h4 class="content-color-primary">Документы</h4>
            <a href="/managers/moderation_list/doc/" class="btn-link ajax">Жалобы</a> |
            <a href="/managers/penalty_list/doc/" class="btn-link ajax">Штраф-лист</a>
            <br>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_audio_manager %}
      <div class="col-12 col-md-4">
        <div class="card mb-2 box-shadow-large">
          <div class="text-center">
            <h4 class="content-color-primary">Аудиозаписи</h4>
            <a href="/managers/moderation_list/audio/" class="btn-link ajax">Жалобы</a> |
            <a href="/managers/penalty_list/audio/" class="btn-link ajax">Штраф-лист</a>
            <br>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_video_manager %}
      <div class="col-12 col-md-4">
        <div class="card mb-2 box-shadow-large">
          <div class="text-center">
            <h4 class="content-color-primary">Видеозаписи</h4>
            <a href="/managers/moderation_list/video/" class="btn-link ajax">Жалобы</a> |
            <a href="/managers/penalty_list/video/" class="btn-link ajax">Штраф-лист</a>
            <br>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_survey_manager %}
      <div class="col-12 col-md-4">
        <div class="card mb-2 box-shadow-large">
          <div class="text-center">
            <h4 class="content-color-primary">Опросы</h4>
            <a href="/managers/moderation_list/survey/" class="btn-link ajax">Жалобы</a> |
            <a href="/managers/penalty_list/survey/" class="btn-link ajax">Штраф-лист</a>
            <br>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
