{% extends "base.html" %}
{% block title %}
Поиск
{% if all %} - {{ all }}
{% elif tag %} - {{ tag }}
{% elif elect %} - {{ elect }}
{% endif %}
{% endblock %}
{% block content %}

<div class="content-body">
    <section class="app-user-edit">
        <div class="card">
          <div class="row">
          <div class="col-md-8">
            <div class="card-body">
              <div class="input-group mb-3">
                  <input type="text" value="{% if all %}{{ all }}{% elif tag %}{{ tag }}{% elif elect %}{{ elect }}{% endif %}" class="form-control search-control elect_search_input_2" placeholder="Поиск">
              </div>
              <ul class="nav nav-pills">
                  <li class="nav-item">
                      <a data-href="/search/?all_name=" class="nav_search_btn all_btn nav-link d-flex align-items-center {% if not tag and not elect %}active{% endif %}">
                          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                              <circle cx="12" cy="7" r="4"></circle>
                          </svg>
                          <span class="d-none d-sm-block">Общий поиск</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a data-href="/search/?elect_name=" class="nav_search_btn elect_btn nav-link d-flex align-items-center {% if not tag and not all %}active{% endif %}">
                          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                              <path d="M12 20h9"></path>
                              <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                          </svg>
                          <span class="d-none d-sm-block">Чиновники</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="tags_btn nav-link d-flex align-items-center {% if not elect and not all %}active{% endif %}">
                          <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check">
                              <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                              <circle cx="8.5" cy="7" r="4"></circle>
                              <polyline points="17 11 19 13 23 9"></polyline>
                          </svg>
                          <span class="d-none d-sm-block">Теги</span>
                      </a>
                  </li>
              </ul>

                <div class="match-height is_paginate search_container">
                  {% if object_list %}

                  {% if tag %}

                    {% for object in object_list %}
                      {% include 'elect/new_card.html' %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <div class="load centered m-1 next_page_list" data-link="/search/?tag_name={{ tag }}&?page={{ page_obj.next_page_number }}">
                        <img src="/static/images/loading.gif">
                    </div>
                    {% endif %}

                  {% elif elect %}

                    {% for object in object_list %}
                      {% include 'search/items/elect_index_card.html' %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <div class="load centered m-1 next_page_list" data-link="/search/?elect_name={{ elect }}&?page={{ page_obj.next_page_number }}">
                        <img src="/static/images/loading.gif">
                    </div>
                    {% endif %}

                  {% else %}

                    {% for object in object_list %}
                      {% include 'search/items/all_item.html' %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <div class="load centered m-1 next_page_list" data-link="/search/?all_name={{ all }}&?page={{ page_obj.next_page_number }}">
                        <img src="/static/images/loading.gif">
                    </div>
                    {% endif %}

                  {% endif %}
                  {% else %}
                  <div class="card border text-center col-md-12 mt-3" style="border-color: #4db6ac !important;">
                      <div class="card-body">
                        <h3 class="card-title">Ничего не найдено</h3>
                      </div>
                    </div>
                  {% endif %}
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-4"></div>
    </section>
</div>
{% endblock %}
