{% extends "base.html" %}
{% block title %}Моя галерея{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" list-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}">
{% include 'user_gallery/gallery/my_lists.html' %}

<span class="load_block">
<div class="media mt-3" style="padding-left: 7px;">
  <form id="add_photos">
    {% csrf_token %}
  <h5 class="mt-1">
    {{ list.name }} ({{ list.count_items }})

      <input type="file" id="u_photo_add" name="file" style="display:none" multiple="multiple">
      <span class="pointer badge badge-light-success previous_click">Добавить фото</span>
  </h5>
  </form>
</div>

<div class="row is_paginate no-gutters" id="photos_container"">
  {% if object_list %}

  {% for object in object_list %}
    <div class="u_photo_detail pag {% if forloop.last %}last{% endif %}" photo-pk="{{ object.pk }}">
      <div class="progressive replace" data-href="{{ object.file.url }}">
        {% if object.preview %}
          <img class="preview image_fit_200" src="{{ object.preview.url }}" alt="img">
        {% else %}
          <svg class="svg_default image_fit_200" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
        {% endif %}
      </div>
    </div>
    {% endfor %}

  {% else %}
  <div class="card mb-3 centered item_empty">
    <div class="card-body">
    <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
    </div>
    <h6> Фотоальбом пока пустой...</h6>
  </div>
  {% endif %}
</div>
</span>
</div>

{% endblock %}
