{% extends "base.html" %}
{% block title %}{{ album.title }}{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ album.uuid }}">
  <div class="card text-center mb-3">
    <div class="card-body">
      <h4 class="card-title">Альбом приватный.</h4>
      <p class="card-text">Пользователь предпочел скрыть его содержимое</p>
      <a href="{% url 'user_gallery' pk=user.pk %}" class="btn btn-outline-primary ajax">Вернуться назад</a>
    </div>
  </div>
</div>

{% endblock %}
