<div class="media">
    <figure>
        <img src="{{ object.get_image }}" style="width:35px;" alt="image">
    </figure>
    <div class="media-body pl-1">
        <h6 class="my-0">{{ object.name }}</h6>
        <span style="font-size:90%">

        {% if object.get_regions %}
          {% for reg in object.get_regions %}
            {{ reg }} &nbsp;
            {% endfor %}
        {% elif object.get_districts %}
          {% for area in object.get_districts %}
            {{ area }} &nbsp;
          {% endfor %}
        {% elif object.okrug %}
          {{ object.okrug.region }}
        {% endif %}
            |
        {% for list in object.list.all %}
          {{ list.name }} &nbsp;
        {% endfor %}
    </div>
</div>
