<form class="pt-4">
  <div class="row no-gutters">
    <div style="flex: 0 0 100%;max-width:100%;padding:5px;">
      <a class="btn btn-sm border this_mob_fullscreen_hide" style="width: -webkit-fill-available;">
        <svg fill="currentColor" class="svg_default" style="width: 17px;" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
    </div>
  </div>
  {% csrf_token %}
    <div class="card mb-3">
        <div class="card-header border-bottom">
            <h5 class="content-color-primary mb-0">Создание обращения</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
              <label>Выберите тему</label>
              <select class="form-control" name="type" id="id_type">
                <option value="CH">Для правообладателей</option>
                <option value="TP">Обращение в техподдержку</option>
                <option value="QU" selected="">Вопрос / предложение</option>
                <option value="CO">Сотрудничество</option>
                <option value="PA">Помощь проекту</option>
              </select>
            </div>
            <div class="form-group">
              <label>Ваше сообщение</label>
              <textarea type="text" name="description" class="form-control" id="id_description"></textarea>
            </div>
            <div class="form-group">
              <label>Файлы (до 10)</label><br>
              <p>Каждый файл не более 5 Мб.</p>
              <input type="file" id="id_files" name="files" multiple="multiple">
            </div>
        </div>
        <div class="card-footer">
            <button class="btn custom_color border this_fullscreen_hide" style="position: absolute;">Отмена</button>
            <button id="create_support_message_btn" type="button" class="btn btn-success float-right">Создать</button>
        </div>
    </div>
</form>
