{% extends "base.html" %}
{% block title %}Депутаты | Все списки{% endblock %}
{% block content %}
<section class="container mt-2 pt-4 pb-5">
      <h2 class="h3 block-title text-center">
        <span class="font-weight-normal">Все списки</span>
        депутатов
        <small>
          От федеральных до региональных институтов власти.
        </small>
      </h2>
      <div class="row pt-4">
        {% if lists %}
        {% for object in lists %}
        <div class="col-lg-4 col-sm-6 mb-30">
          <a class="d-block bg-right-center bg-no-repeat bg-white border box-shadow p-5 text-decoration-none" href="{% url 'elect_index' slug=object.slug %}">
            <h3 class="h5">{{ object.name }}</h3>
          </a>
        </div>
        {% endfor %}
        {% else %}
          В списков почему-то нет.
        {% endif %}
      </div>
    </section>

{% endblock %}
