{% extends "base_anon.html" %}
{% block title %}Депутаты | {{ list.name }}{% endblock %}
{% block content %}

<section class="container pt-sm-5 pb-4">
      <h2 class="h3 text-sm-left m-0">{{ list.name }}</h2>
      <div class="row pt-0 is_paginate">
        {% if object_list %}
        {% for object in object_list %}
          {% include 'elect/anon_elect_index_card.html' %}
        {% endfor %}
        {% else %}
          В списке почему-то никого нет.
        {% endif %}

        <div class="col-md-12 load text-center">
          {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"><img src="/static/images/loading.gif"></a>
          {% endif %}
        </div>
      </div>
    </section>
{% endblock %}
