{% if region.get_all_elects %}
{% for object in region.get_all_elects %}
<div class="col-12">
  <div class="team-card-style-4 d-sm-table w-100" style="margin:0;">
    <div class="team-thumb d-sm-table-cell align-middle">
      <a href="{% url 'elect_detail' pk=object.pk %}">
        <img src="{{ object.image.url }}" alt="img">
      </a>
    </div>
    <div class="d-sm-table-cell align-middle pl-sm-4 text-center text-sm-left">
      <span class="team-position">{{ list.name }}</span>
      <a href="{% url 'elect_detail' pk=object.pk %}">
        <p class="team-name" style="color: #404040;">{{ object.name }}</p>
      </a>
      {% for link in object.linkelect.all %}
        <a class="team-contact-link" href="{{ link.link }}" target="_blank" rel="nofollow">{{ link.title }}</a>
      {% endfor %}
      <div class="team-social-bar-wrap">
        <div class="team-social-bar mx-auto mx-sm-0">
          <a>Рейтинг 1</a><br>
          <a>Рейтинг 2</a><br>
          <a>Рейтинг 3</a><br>
          <a>Рейтинг 4</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<br>
  В регионе "{{ region.name }}" почему-то нет закрепленных за ним чиновников.
{% endif %}
