
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="form">
              {% csrf_token %}
                  <div class="row comment_attach_block"></div>
                  <span style="display:flex">
                      {% include 'blog/comment/dropdown.html' %}
                      <input name="text" placeholder="Напишите комментарий" class="form-control text-comment" style="margin-bottom:5px">
                  </span>
                    <input type="hidden" name="blog" value="{{ object.pk }}">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-sm float-right blogComment">Комментировать</button>
                    </div>
            </form>
        </div>
    </div>
</div>

<div class="col-12 comments_block_container is_paginate">
    {% for comment in object_list %}

    {% if comment.is_deleted %}
      <div class="card pag {% if forloop.last %}last{% endif %}" style="margin-bottom: .5rem;">
        <div class="card-body">
          <p style="display: flex; padding-left:10px;margin: 0;text-decoration:underline">Комментарий удален</p>
        </div>
      </div>
      <span style="cursor:pointer;" class="show_replies content-color-primary">
          {% if comment.count_replies %}
          ---- {{ comment.count_replies_ru }} ----
          {% endif %}
      </span>
      <span class="stream_reply_comments">
          {% for reply in comment.get_replies %}
            {% include 'blog/blog_comment/reply.html' %}
          {% endfor %}
      </span>

      {% else %}
        {% include 'blog/blog_comment/parent.html' %}
      {% endif %}
    {% endfor %}
</div>
