{% extends "base.html" %}
{% block title %}Предложка{% endblock %}
{% block content %}

<div class="content-body">
    <section class="app-user-edit">
        <div class="card">
          <div class="card-body">
          <h3>Предложка</h3>
            <div class="card-body is_paginate">
                {% for object in object_list %}
                  <div class="card mb-2 pag {% if forloop.last %}last{% endif %}">
                    <div class="event_card">
                      <div class="event_img text-center">
                          <img class="img-fluid card-img-top" src="{{ object.creator.get_avatar }}" alt="img">
                      </div>
                      <div class="card-body event_body">
                        <h4 class="event_name">
                          <div style="display: flex;">
                            <a class="text-body">{{ object.title }}</a>
                          </div>
                          <span class="card-text item-company">&nbsp;{{ object.get_created }} | </span>
                        </h4>
                        <div class="card-text event_description">
                          {{ object.description }}
                          <div class="mt-2" data-pk="{{ object.pk }}">
                            <span class="publish_elect_new pointer underline">Одобрить</span>
                            &nbsp;&nbsp;
                            <span class="reject_elect_new pointer underline">Отклонить</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% empty %}
                  Предложенных активностей пока нет ...
                {% endfor %}
            </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}
