{% extends "base.html" %}
{% block title %}Предложка{% endblock %}
{% load manager_tags %}
{% block content %}

<div class="content-body manager">
    <section class="app-user-edit">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="card user-card">
                          <h1 class="mb-0 mb-3">Предложка - <span class="pointer add_manager_elect_new small">Добавить</span></h1>
                          {% for object in object_list %}
                          <div class="mt-1 card pag {% if forloop.last %}last{% endif %}">
                            <div class="d-flex justify-content-start align-items-center mb-1">
                              <div class="avatar mr-1">
                                <a href="{% url 'elect_new_detail' pk=object.pk %}" class="ajax">
                                  <img src="{{ object.creator.get_avatar }}" alt="avatar img" height="40" width="40">
                                </a>
                              </div>
                              <div class="profile-user-info">
                                <h4 class="mb-0">{{ object.title }} <span class="text-muted small">({{ object.get_created }})</span></h4>
                                <span class="small">
                                  <a href="{% url 'user' pk=object.creator.pk %}" class="ajax">
                                    {{ object.creator.get_full_name }}
                                  </a>
                                </span>
                              </div>
                            </div>
                            <p class="card-text mb-50">{{ object.description|truncatechars:100 }}</p>
                            <span><span><span>
                            <span class="small" data-pk="{{ object.pk }}">
                              <span class="u_publish_elect_new pointer underline">Подготовить к публикации</span>
                              &nbsp;&nbsp;
                              <span class="reject_suggested_elect_new pointer underline">Отклонить</span>
                            </span>
                            </span></span></span>
                          </div>
                          {% empty %}
                          <div class="card centered mt-5">
                            <div class="card-body" style="text-align: center;">
                              <svg fill="currentColor" class="svg_default thumb_big" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"></path></svg>
                              <h6 style="text-align: center;"> Предложенных активностей пока нет ...</h6>
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                  Сайдбарчик
                </div>
            </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}
