
<form class="mt-5" data-uuid="{{ user.pk }}">
  {% csrf_token %}

  <div class="card">
    <div class="card-body">
        <div class="row">
          <div class="col-lg-2 col-md-4">
            <a href="{% url 'user' pk=user.pk %}" class="ajax">
              <figure style="width:50px;">
                  <img src="{{ user.get_avatar }}" alt="image">
              </figure>
            </a>
          </div>
            <div class="col-lg-10 col-md-8">
              <h6 class="mb-0 ml-1">
                <a href="{% url 'user' pk=user.pk %}" class="ajax">{{ user.get_full_name }}</a>
              </h6>
              <p class="ml-1" style="padding-top:10px;">Вы собираетесь пожаловаться на этого пользователя.</p>
            </div>
        </div>
        <div class="form-group">
          <label>Выберите причину жалобы</label>
          <select class="form-control" name="type">
              <option value="P">Порнография</option>
              <option value="NC">Для взрослых</option>
              <option value="S">Рассылка спама</option>
              <option value="B">Оскорбительное поведение</option>
              <option value="U">Неэтичное поведение</option>
              <option value="F">Мошенничество</option>
              <option value="K">Клон моей страницы</option>
              <option value="OP">Моя старая страница</option>
              <option value="D">Наркотики</option>
              <option value="NM">Не нравственный контент</option>
              <option value="RH">Риторика ненависти</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <textarea name="description" class="form-control bg-light-secondary border-0" rows="4" placeholder="Опишите причину жалобы"></textarea>
        </div>
        <br>
    </div>
    <div class="card-footer">
        <button class="btn custom_color border window_fullscreen_hide_2" style="position: absolute;">Отмена</button>
        <button type="button" class="btn btn-success float-right create_user_claim_btn">Пожаловаться</button>
    </div>
  </div>
</form>
