{% extends "base.html" %}
{% block title %}Мои аудиозаписи{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ list.uuid }}">
        <div class="row no-gutters">
            <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
                {% include 'generic/user/user_back.html' %}
            </div>
            <div style="flex: 0 0 40%;max-width:40%;padding:5px;">
                <a class="btn btn-sm border u_playlist_add" style="width: -webkit-fill-available;font-size: 19px;">+ список</a>
            </div>
            <div style="flex: 0 0 40%;max-width:40%;padding:5px;">
                <a class="btn btn-sm border u_track_add" style="width: -webkit-fill-available;font-size: 19px;">+ трек</a>
            </div>
        </div>

    {% include 'user_music/main/my_lists.html' %}

    <div class="media mt-3" style="display:flex;align-items: flex-start;padding-left: 7px;padding-right: 7px;">
        <h5 class="mt-1" style="flex: 1;">Мои аудиозаписи ({{ playlist.count_tracks }})</h5>
    </div>

    <div class="row is_paginate no-gutters">
        {% if object_list %}

        {% for object in object_list %}
          {% include 'user_music/my_track.html' %}
        {% endfor %}

        {% else %}
        <div class="card mb-3 centered track_empty" style="width:100%;">
            <h6 style="margin: 20px;text-align: center;"> Аудиозаписей пока нет...</h6>
        </div>

        {% endif %}
    </div>

</div>

{% endblock %}
