{% extends "base.html" %}
{% block title %}Мои аудиозаписи{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ playlist.uuid }}">
        <div class="row no-gutters">
            <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
                {% include 'generic/user/user_back.html' %}
            </div>
            <div style="flex: 0 0 40%;max-width:40%;padding:5px;">
                <a class="btn btn-sm border u_playlist_add" style="width: -webkit-fill-available;font-size: 19px;">+ список</a>
            </div>
            <div style="flex: 0 0 40%;max-width:40%;padding:5px;">
                <a class="btn btn-sm border u_track_add" style="width: -webkit-fill-available;font-size: 19px;">+ трек</a>
            </div>
        </div>

    {% include 'user_music/main/my_lists.html' %}

    <div class="media mt-3" style="display:flex;align-items: flex-start;padding-left: 7px;padding-right: 7px;">
        <h5 class="mt-1" style="flex: 1;">Мои аудиозаписи ({{ playlist.count_tracks }})</h5>
    </div>

    <div class="row is_paginate no-gutters">
        {% if object_list %}

        {% for object in object_list %}
          {% include 'user_music/track.html' %}
        {% endfor %}

        {% else %}
        <div class="card centered item_empty"  style="width:100%;">
          <div class="card-body">
          <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0z'/><path d='M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z'/></svg>
          </div>
          <h6>Список аудиозаписей пустой.</h6>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}
