{% extends "base.html" %}
{% block title %}{{ list.name }} | Аудиозаписи {{ user.get_full_name_genitive }}{% endblock %}
{% load filters %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ list.uuid }}">
  <div class="card-header p-0">
      <div class="row no-gutters">
          <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
            <a class="btn btn-sm btn_default border ajax" href="{% url 'user' pk=user.pk %}" style="width: -webkit-fill-available;">
              <svg fill="currentColor" class="svg_default" style="width: 19px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/></svg>
            </a>
            {% if list|is_user_can_add_list:request.user.pk %}
            <div style="flex: 0 0 40%;max-width:40%;padding:5px;"
                <h5 class="btn btn-sm border copy_playlist" style="width: -webkit-fill-available;font-size: 19px;">Добавить</h5>
            </div>
            {% elif request.user.pk in list.get_users_ids %}
            <div style="flex: 0 0 40%;max-width:40%;padding:5px;"
                <h5 class="btn btn-sm border uncopy_playlist" style="width: -webkit-fill-available;font-size: 19px;">Удалить</h5>
            </div>
            {% endif %}
            <div style="flex: 0 0 40%;max-width:40%;padding:5px;">
                <h5 class="btn btn-sm border manage_remove_playlist" style="width: -webkit-fill-available;font-size: 19px;">♦ Закрыть раздел</h5>
            </div>
          </div>
      </div>
  </div>

    {% include 'user_music/main/lists.html' %}

    <div class="media mt-3" style="display:flex;align-items: flex-start;padding-left: 7px;padding-right: 7px;">
        <h5 class="mt-1" style="flex: 1;">Аудиозаписи {{ user.get_full_name_genitive }} ({{ list.count_tracks }})</h5>
    </div>

    <div class="row is_paginate no-gutters">
        {% if object_list %}

        {% for object in object_list %}
          {% include 'user_music/staff_track.html' %}
        {% endfor %}

        {% else %}
        <div class="card mb-3 centered track_empty" style="width:100%;">
            <h6 style="margin: 20px;text-align: center;"> Аудиозаписей пока нет...</h6>
        </div>

        {% endif %}
    </div>

</div>

{% endblock %}
