{% extends "base.html" %}
{% block title %}{{ list.title }} | Документы {{ user.get_full_name_genitive }}{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ list.uuid }}">
    <div class="card-header p-0">
        <div class="row no-gutters">
            <div style="flex: 0 0 100%;max-width:100%;padding:5px;">
              <a class="btn btn-sm btn_default border ajax" href="{% url 'user_docs' pk=user.pk %}" style="width: -webkit-fill-available;">
                <svg fill="currentColor" class="svg_default" style="width: 19px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/></svg>
              </a>
            </div>
        </div>
    </div>

    <div class="media mt-3" style="display:flex;align-items: flex-start;padding-left: 7px;padding-right: 7px;">
        <h5 class="mt-1" style="flex: 1;">Документы {{ user.get_full_name_genitive }} ({{ list.count_docs }})</h5>
    </div>

    <div class="row is_paginate no-gutters">
        {% if object_list %}

        {% for doc in object_list %}
        <div class="col-md-6 col-sm-12 pag {% if forloop.last %}last{% endif %}" style="padding:3px">
            <div class="media border p-1">
                <div class="media-body doc_media_body">
                    <h6 class="pointer" style="width: 84%;overflow: hidden;">
                        <a href="{{ doc.file.url }}" target="_blank" rel="nofollow">{{ doc.title }}</a>
                    </h6>
                    <span class="small">{{ doc.file.size|filesizeformat }} | {{ doc.get_mime_type }}</span>
                    <span class='span_btn' data-pk="{{ doc.pk }}">
                        {% include 'user_docs/add_dropdown.html' %}
                        <div class="dropdown" style="position: inherit;">
                            <a class="btn_default drop pointer">
                                <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="top: 42px;">
                                <span class="dropdown-item copy_link">Копировать ссылку</span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <div class="card mb-3 centered doc_empty" style="width:100%;">
            <h6 style="margin: 20px;text-align: center;"> Файлов пока нет...</h6>
        </div>

        {% endif %}
    </div>

</div>

{% endblock %}
