{% extends "base.html" %}
{% block title %}{{ list.name }} | Мои аудиозаписи{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ list.uuid }}">
    <div class="card-header p-0">
        <div class="row no-gutters">
            <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
              <a class="btn btn-sm btn_default border ajax" href="{% url 'user_music' pk=user.pk %}" style="width: -webkit-fill-available;">
                <svg fill="currentColor" class="svg_default" style="width: 19px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/></svg>
              </a>
            </div>
            <div style="flex: 0 0 40%;max-width:40%;padding:5px;">
                <h5 class="btn btn-sm border u_doc_list_add" style="width: -webkit-fill-available;font-size: 19px;">+ список</h5>
            </div>
            <div style="flex: 0 0 40%;max-width:40%;padding:5px;">
                <h5 class="btn btn-sm border u_doc_add" style="width: -webkit-fill-available;font-size: 19px;">+ файл</h5>
            </div>
        </div>
    </div>

    <div class="media mt-3" style="display:flex;align-items: flex-start;padding-left: 7px;padding-right: 7px;">
        <h5 class="mt-1" style="flex: 1;">{{ list.name }} ({{ list.count_tracks }})</h5>
    </div>

    <div class="row is_paginate no-gutters">
        {% if object_list %}

        {% for object in object_list %}
          {% include 'user_music/my_track.html' %}
        {% endfor %}

        {% else %}
        <div class="card mb-3 centered doc_empty" style="width:100%;">
            <h6 style="margin: 20px;text-align: center;"> Аудиозаписей пока нет...</h6>
        </div>

        {% endif %}
    </div>

</div>

{% endblock %}
