{% extends "base.html" %}
{% block title %}{{ list.name }} | Мои аудиозаписи{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ list.uuid }}">
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="ajax" href="{% url 'user' pk=list.creator.pk %}">{{ list.creator }}</a></li>
        <li class="breadcrumb-item"><a class="ajax" href="{% url 'user_music' pk=list.creator.pk %}">Аудиозаписи</a></li>
        <li class="breadcrumb-item active">{{ list.name }} ({{ list.count_items }})</li>
    </ol>
  </div>
    <span class="load_block">
    <div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
        <h5 class="mt-1">
          <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count_items }})
          <span class="pointer badge badge-light-success u_track_add">Добавить трек</span>
          {% if request.user.pk == list.creator.pk and not list.is_main %}
            <span class="pointer badge badge-light-secondary u_playlist_edit">Изменить альбом</span>
            <span class="pointer badge badge-light-danger u_playlist_remove">Удалить альбом</span>
          {% endif %}
          <span class="pointer badge badge-light-primary copy_link" data-link="{% url 'user_playlist' uuid=list.uuid %}">Копировать ссылку</span>
        </h5>
    </div>

    <div class="row is_paginate">
        {% if object_list %}

        {% for object in object_list %}
          {% include 'user_music/track.html' %}
        {% endfor %}

        {% else %}
        <div class="card centered item_empty"  style="width:100%;">
          <div class="card-body">
            <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0z'/><path d='M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z'/></svg>
          </div>
          <h6 style="margin: 20px;text-align: center;">Альбом аудиозаписей пустой.</h6>
        </div>
        {% endif %}
    </div>
    </span>
</div>

{% endblock %}
