{% extends "base.html" %}
{% block title %}{{ list.name }} | Галерея {{ user.get_full_name_genitive }}{% endblock %}
{% load filters %}
{% block content %}

<div class="container mt-3 pk_saver" list-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}">
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="ajax" href="{% url 'user' pk=list.creator.pk %}">{{ list.creator }}</a></li>
        <li class="breadcrumb-item"><a class="ajax" href="{% url 'user_gallery' pk=list.creator.pk %}">Изображения</a></li>
        <li class="breadcrumb-item active">{{ list.name }} ({{ list.count_items }})</li>
    </ol>
  </div>
  <span class="load_block">
    <div class="card centered">
      <div class="card-body">
        <svg width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
      </div>
      <h6>
        Альбом изображений заблокирован за нарушение правил сайта. Если Вы не согласны с примененными санкциями,
        напишите нам в <a class="pointer underline send_support_message">Службу поддержки</a>.
      </h6>
    </div>
  </span>
  </div>

  {% endblock %}
