{% extends "base.html" %}
{% block title %}{{ list.name }} | Мои видеозаписи{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}">
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="ajax" href="{% url 'user' pk=list.creator.pk %}">{{ list.creator }}</a></li>
        <li class="breadcrumb-item"><a class="ajax" href="{% url 'user_video' pk=list.creator.pk %}">Видеозаписи</a></li>
        <li class="breadcrumb-item active">{{ list.name }} ({{ list.count_items }})</li>
    </ol>
  </div>
  <span class="load_block">
    <div class="media mt-3" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
      <h5 class="mt-1">
        <span class="second_list_name">{{ list.name }}</span> ({{ list.count_items }})
        <span class="pointer badge badge-light-success u_video_add">Добавить видеозапись</span>
        {% if request.user.pk == list.creator.pk and not list.is_main %}
          <span class="pointer badge badge-light-secondary u_video_list_edit">Изменить список</span>
          <span class="pointer badge badge-light-danger u_video_list_remove">Удалить список</span>
        {% endif %}
      </h5>
    </div>

    <div class="row is_paginate no-gutters" data-uuid="{{ list.uuid }}">
        {% if object_list %}

        {% for object in object_list %}
          {% include 'user_video/video.html' %}
        {% endfor %}

        {% else %}
        <div class="card centered item_empty">
          <div class="card-body">
            <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
              <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </div>
          <h6>Список видеозаписей пустой.</h6>
        </div>
        {% endif %}
    </div>
    </span>
</div>

{% endblock %}
