{% extends "base.html" %}
{% block title %}{{ list.name }} | Видеозаписи {{ user.get_full_name_genitive }}{% endblock %}
{% load filters %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" list-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}">
        <div class="row no-gutters">
            <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
              <a class="btn btn-sm btn_default border ajax" href="{% url 'user_docs' pk=user.pk %}" style="width: -webkit-fill-available;">
                <svg fill="currentColor" class="svg_default" style="width: 19px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/></svg>
              </a>
            </div>
              {% if list|is_user_can_add_list:request.user.pk %}
              <div style="flex: 0 0 40%;max-width:40%;padding:5px;">
                  <a class="btn btn-sm border u_copy_video_list" style="width: -webkit-fill-available;font-size: 19px;">Добавить</a>
              </div>
              {% elif request.user.pk in list.get_users_ids %}
              <div style="flex: 0 0 40%;max-width:40%;padding:5px;">
                  <a class="btn btn-sm border u_uncopy_video_list" style="width: -webkit-fill-available;font-size: 19px;">Удалить</a>
              </div>
              {% endif %}
              <div style="flex: 0 0 40%;max-width:40%;padding:5px;">
                  <a class="btn btn-sm border manage_remove_video_list" style="width: -webkit-fill-available;font-size: 19px;">♦ Удалить</a>
              </div>
            </div>

    <div class="media mt-3" style="display:flex;align-items: flex-start;padding-left: 7px;padding-right: 7px;">
        <h5 class="mt-1" style="flex: 1;">{{ list.name }} | Видеозаписи {{ user.get_full_name_genitive }} ({{ list.count_videos }})</h5>
    </div>

    <div class="row is_paginate no-gutters">
        {% if object_list %}

        {% for doc in object_list %}
          {% include 'user_video/staff_video.html' %}
        {% endfor %}

        {% else %}
        <div class="card centered item_empty"  style="width:100%;">
          <div class="card-body" style="margin-top: 10%;">
            <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
              <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </div>
          <h6>Список видеозаписей пустой.</h6>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}
