{% extends "base.html" %}
{% block title %}Страница не найдена {% endblock %}
{% block content %}

<section class="app-user-edit p-2">
<div class="misc-inner p-2 p-sm-3" style="position: relative;max-width: 750px;">
  <div class="w-100 text-center">
    <h2 class="mb-1">Страница не найдена</h2>
    <p class="mb-2">Ой!😖 <br><br>
      Страница удалена, перемещена или еще не создана
    </p>
    <div>
      <a class="btn btn-primary mb-2 btn-sm-block" href="/">Перейти в начало.</a>
      <img class="img-fluid" src="/static/images/error.svg" alt="Error page">
    </div>
  </div>
</div>
</section>

{% endblock %}
