{% load static %}
<!doctype html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="og:type" content="website" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %}</title>
		{% block meta %}{% endblock %}

		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/styles/vendors.min.css">

    <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/colors.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/components.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
</head>

<body>

		{% include "mob_menu.html" %}
		{% include "header.html" %}

		{% block content %}
		{% endblock %}

		{% include "footer.html" %}

		<div class="card mb-3 window_fullscreen border" style="display:none">
		  <span class="window_fullscreen_hide">
		    <svg class="svg_default svg_default_30" fill="currentColor" viewBox="0 0 24 24">
		      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
		      <path d="M0 0h24v24H0z" fill="none"/>
		    </svg>
		  </span>
		  <div id="window_loader" style="margin-top:30px;position:relative;"></div>
		</div>
		<div class="sidenav-overlay"></div>
		<div class="drag-target"></div>

		<script src="/static/scripts/vendors.min.js"></script>
		<script src="/static/scripts/app-menu.js"></script>
		<script src="/static/scripts/app.js"></script>
</body>
</html>
