<footer class="bg-dark pt-5">
      <div class="pt-5" style="background-color: #30363d;">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="widget widget-contacts widget-light-skin mb-4">
                <h4 class="widget-title">Наши контакты</h4>
                <ul>
                  <li><i class="fe-icon-map-pin"></i><span>Адрес</span><a href="#">1260 Broadway, New York</a></li>
                  <li><i class="fe-icon-phone"></i><span>Телефон</span><a href="tel:00180039025">001 800 390 25</a></li>
                  <li><i class="fe-icon-mail"></i><span>Почта</span><a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
              </div>
              <div class="widget pt-2">
                <a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a>
                <a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a>
                <a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="socicon-youtube"></i></a>
                <a class="social-btn sb-style-6 sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a>
                <a class="social-btn sb-style-6 sb-pinterest sb-light-skin" href="#"><i class="socicon-vk"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="widget widget-contacts widget-light-skin mb-4">
                <div class="widget widget-contacts widget-light-skin mb-4">
                  <h4 class="widget-title">Разделы</h4>
                  <ul>
                    <li><a href="{% url 'main' %}">Главная</a></li>
                    <li><a href="{% url 'elect_list' %}">Чиновники</a></li>
                    <li><a href="{% url 'elect_list' %}">Новости</a></li>
                    <li><a href="{% url 'elect_list' %}">О проекте</a></li>
                    <li><a href="{% url 'elect_list' %}">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="widget widget-light-skin">
                <h4 class="widget-title">Подписка</h4>
                <form action="" method="post" novalidate="">
                  <div class="input-group">
                    <input class="form-control form-control-light-skin" type="email" name="EMAIL" placeholder="Email почта">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Тыц!</button>
                    </div>
                  </div><small class="form-text text-white opacity-50 pt-1">Подпишитесь на обновления, чтобы быть в курсе последних событий в политике Российской Федерации</small>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr class="hr-light">
          <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
            <div class="order-2">
              <a class="footer-link text-white" href="#">Политика безопасности</a>
              <a class="footer-link text-white ml-3" href="#">Условия использования</a>
            </div>
            <p class="m-0 text-sm text-white order-1">
              <span class="opacity-60">© Все права защищены. Создал</span>
              <i class="d-inline-block align-middle fe-icon-heart text-danger"></i>
              <a href="" class="d-inline-block nav-link text-white opacity-60 p-0" target="_blank">Сергей Зубарев</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
