<header class="navbar-wrapper ">
      <div class="container">
        <div class="d-table-cell align-middle pr-md-3">
          <a class="navbar-brand mr-1" href="{% url 'main' %}">
            Депутат
          </a>
          </div>
        <div class="d-table-cell align-middle w-100 pl-md-3">
          <div class="navbar justify-content-end justify-content-lg-between">
            <form class="search-box" method="get">
              <input type="text" id="site-search" placeholder="Что будем искать?"><span class="search-close"><i class="fe-icon-x"></i></span>
            </form>
            <ul class="navbar-nav d-none d-lg-block">
              <li class="nav-item"><a class="nav-link" href="{% url 'main' %}">Главная</a></li>
              <li class="nav-item dropdown-toggle">
                <a class="nav-link" href="">Чиновники</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="">Доска 1</a></li>
                  <li class="dropdown-item"><a href="">Доска 2</a></li>
                  <li class="dropdown-item"><a href="">Доска 3</a></li>
                  <li class="dropdown-item"><a href="">По регионам</a></li>
                  <li class="dropdown-item"><a href="">Выборы 1</a></li>
                  <li class="dropdown-item"><a href="">Выборы 2</a></li>
                </ul>
              </li>

              <li class="nav-item mega-dropdown-toggle"><a class="nav-link" href="">События</a>
                <div class="dropdown-menu mega-dropdown">
                  <div class="d-flex">
                    <div class="column">
                      <div class="widget widget-custom-menu">
                        <h4 class="widget-title">Совет Федерации</h4>
                        <ul>
                          <li><a href="">Событие 1</a></li>
                          <li><a href="">Событие 2</a></li>
                          <li><a href="">Событие 3</a></li>
                          <li><a href="">Событие 4</a></li>
                          <li><a href="">Событие 5</a></li>
                          <li><a href="">Событие 6</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="column">
                      <div class="widget widget-custom-menu">
                        <h4 class="widget-title">Государственная Дума</h4>
                        <ul>
                          <li><a href="">Событие 1</a></li>
                          <li><a href="">Событие 2</a></li>
                          <li><a href="">Событие 3</a></li>
                          <li><a href="">Событие 4</a></li>
                          <li><a href="">Событие 5</a></li>
                          <li><a href="">Событие 6</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="column" style="width: 280px;">
                      <div class="widget widget-featured-posts">
                        <h4 class="widget-title"> Новости</h4>
                        <a class="featured-post" href="">
                          <div class="featured-post-thumb">
                            <img src="/static/images/test_new.jpg" alt="Post Thumbnail"/>
                          </div>
                          <div class="featured-post-info">
                            <div class="featured-post-meta">
                              <span class="text-primary opacity-70"><i class="fe-icon-clock"></i>22/11/2020</span>
                              <span class="ml-3"><i class="fe-icon-message-square"></i>21</span>
                            </div>
                            <div class="featured-post-title">Заголовок.</div>
                          </div>
                        </a>
                        <a class="featured-post" href="">
                          <div class="featured-post-thumb">
                            <img src="/static/images/test_new.jpg" alt="Post Thumbnail"/>
                          </div>
                          <div class="featured-post-info">
                            <div class="featured-post-meta">
                              <span class="text-primary opacity-70"><i class="fe-icon-clock"></i>22/11/2020</span>
                              <span class="ml-3"><i class="fe-icon-message-square"></i>17</span>
                            </div>
                            <div class="featured-post-title">Заголовок.</div>
                          </div>
                        </a>
                        <a class="featured-post" href="">
                          <div class="featured-post-thumb"><img src="/static/images/test_new.jpg" alt="Post Thumbnail"/>
                          </div>
                          <div class="featured-post-info">
                            <div class="featured-post-meta">
                              <span class="text-primary opacity-70"><i class="fe-icon-clock"></i>22/11/2020</span>
                              <span class="ml-3"><i class="fe-icon-message-square"></i>8</span>
                            </div>
                            <div class="featured-post-title">Заголовок.</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="">О проекте</a></li>
              <li class="nav-item"><a class="nav-link" href="">Контакты</a></li>
            </ul>
            <div>
              <ul class="navbar-buttons d-inline-block align-middle">
                <li class="d-block d-lg-none">
                  <a href="#mobile-menu" data-toggle="offcanvas"><i class="fe-icon-menu"></i></a>
                </li>
                <li>
                  <a href="#" data-toggle="search"><i class="fe-icon-search"></i></a>
                </li>
              </ul>
              <a class="btn btn-gradient ml-3 d-none d-xl-inline-block" href="{% url 'auth' %}">Войти</a>
            </div>
          </div>
        </div>
      </div>
    </header>
