<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
              <a class="navbar-brand ajax" href="{% url 'main' %}">
                <h2 class="brand-text">Мой депутат</h2>
              </a>
            </li>
            <li class="nav-item nav-toggle menu_close" style="display:none">
              <a class="nav-link modern-nav-toggle pr-0">
                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x d-block d-xl-none text-primary toggle-icon font-medium-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
              </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: -webkit-fill-available;margin-left: 30px;margin-right: 10px;">
        <button class="btn btn-outline-primary active menu_nav_1" style="text-transform: uppercase;">
          Структура
        </button>
        <button class="btn btn-outline-primary menu_nav_2" style="text-transform: uppercase;">
          География
        </button>
      </div>

        <ul class="navigation navigation-main">
          <li class="nav-item has-sub">
            <a class="d-flex align-items-center pointer a_has_sub">
              <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
              <span class="menu-title text-truncate" data-i18n="Dashboards">Федеральные власти</span>
            </a>
            <ul class="menu-content">
              {% for object in federal_elect_list %}
                <li style="font-size: 80%;">
                  <a class="d-flex align-items-center ajax" href="{% url 'authority_index' slug=object.slug %}">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                    <span class="menu-item">{{ object.name }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item has-sub">
            <a class="d-flex align-items-center pointer a_has_sub">
              <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
              <span class="menu-title text-truncate" data-i18n="Dashboards">Регион. власти</span>
            </a>
            <ul class="menu-content">
                <li>
                  <a class="d-flex align-items-center ajax" style="font-size: 80%;">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                    <span class="menu-item">Пункт</span>
                  </a>
                </li>
                <li>
                  <a class="d-flex align-items-center ajax" style="font-size: 80%;">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                    <span class="menu-item">Пункт</span>
                  </a>
                </li>
            </ul>
          </li>
          <li class="nav-item has-sub">
            <a class="d-flex align-items-center pointer a_has_sub">
              <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
              <span class="menu-title text-truncate" data-i18n="Dashboards">Муницип. власти</span>
            </a>
            <ul class="menu-content">
                <li>
                  <a class="d-flex align-items-center ajax" style="font-size: 80%;">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                    <span class="menu-item">Пункт</span>
                  </a>
                </li>
                <li>
                  <a class="d-flex align-items-center ajax" style="font-size: 80%;">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                    <span class="menu-item">Пункт</span>
                  </a>
                </li>
            </ul>
          </li>
          <li class="nav-item has-sub">
            <a class="d-flex align-items-center pointer a_has_sub">
              <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
              <span class="menu-title text-truncate" data-i18n="Dashboards">Организации</span>
            </a>
            <ul class="menu-content">
              <li>
                <a class="d-flex align-items-center ajax" style="font-size: 80%;">
                  <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                  <span class="menu-item">Один</span>
                </a>
              </li>
              <li>
                <a class="d-flex align-items-center ajax" style="font-size: 80%;">
                  <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                  <span class="menu-item">Два</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-sub">
            <a class="d-flex align-items-center pointer a_has_sub">
              <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
              <span class="menu-title text-truncate" data-i18n="Dashboards">Сообщества</span>
            </a>
            <ul class="menu-content">
                <li>
                  <a class="d-flex align-items-center ajax" style="font-size: 80%;">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                    <span class="menu-item">Один</span>
                  </a>
                </li>
                <li>
                  <a class="d-flex align-items-center ajax" style="font-size: 80%;">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                    <span class="menu-item">Два</span>
                  </a>
                </li>
            </ul>
          </li>
        </ul>
        <ul class="navigation navigation-main" style="display:none">
          {% for object in regions %}
          <li class="nav-item has-sub">
            <a class="d-flex align-items-center pointer a_has_sub">
              <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
              <span class="menu-title text-truncate" data-i18n="Dashboards">{{ city.name }}</span>
            </a>
            <ul class="menu-content">
              {% for city in object.get_cities %} 
                <li style="font-size: 80%;">
                  <a class="d-flex align-items-center ajax" href="{% url 'city' slug=object.slug %}">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
                    <span class="menu-item">{{ city.name }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
    </div>
</div>
