<div class="offcanvas-container is-triggered offcanvas-container-reverse" id="mobile-menu">
  <span class="offcanvas-close"><i class="fe-icon-x"></i></span>
      <div class="px-4 pb-4">
        <h6>Меню</h6>
        <div class="d-flex justify-content-between pt-2">
          <a class="btn btn-primary btn-sm btn-block" href="account-login.html">
            <i class="fe-icon-user"></i>&nbsp;Кнопка
          </a>
          <a class="btn btn-primary btn-sm btn-block" href="account-login.html">
            <i class="fe-icon-user"></i>&nbsp;Войти
          </a>
        </div>
      </div>
      <div class="offcanvas-scrollable-area border-top" style="height:calc(100% - 235px); top: 144px;">
        <div class="accordion mobile-menu" id="accordion-menu">
          <div class="card">
            <div class="card-header">
              <a class="mobile-menu-link active" href="">Главная</a>
              <a class="collapsed" href="#home-submenu" data-toggle="collapse"></a>
            </div>
            <div class="collapse" id="home-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-header"><i class="fe-icon-briefcase"></i>&nbsp;&nbsp;Portfolio</li>
                  <li class="dropdown-item active">
                    <a href="">Digital Agency</a>
                  </li>
                  <li class="dropdown-item">
                    <a class="disabled-link" href="#">
                      Architectural Agency<span class="badge badge-secondary">Soon</span>
                    </a>
                  </li>
                  <li class="dropdown-item"><a href="">Freelancer's Portfolio</a></li>
                  <li class="dropdown-item"><a href="">Photographer's Portfolio</a></li>
                  <li class="dropdown-header"><i class="fe-icon-shopping-bag"></i>&nbsp;&nbsp;E-Commerce</li>
                  <li class="dropdown-item"><a href="">Online Shop v.1</a></li>
                  <li class="dropdown-item"><a href="">Online Shop v.2</a></li>
                  <li class="dropdown-header"><i class="fe-icon-edit"></i>&nbsp;&nbsp;Blog</li>
                  <li class="dropdown-item"><a href="">Corporate Blog</a></li>
                  <li class="dropdown-item"><a href="">Personal Blog</a></li>
                  <li class="dropdown-header"><i class="fe-icon-home"></i>&nbsp;&nbsp;Landing Pages</li>
                  <li class="dropdown-item"><a href="">Mobile App Showcase</a></li>
                  <li class="dropdown-item"><a href="">Web App Showcase (SAAS)</a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Product Promo Page<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a href="">Conference Landing</a></li>
                  <li class="dropdown-header"><i class="fe-icon-dollar-sign"></i>&nbsp;&nbsp;Business</li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Corporate Website<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a href="">Digital Marketing &amp; SEO</a></li>
                  <li class="dropdown-item"><a href="">Venture Capital Investments</a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Startup Homepage<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-header"><i class="fe-icon-menu"></i>&nbsp;&nbsp;Directory &amp; Listings</li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Real Estate Listing<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Jobs Board<span class="badge badge-secondary">Soon</span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="mobile-menu-link" href="">Portfolio</a>
              <a class="collapsed" href="#portfolio-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="portfolio-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-item"><a href="portfolio-style1-boxed.html">Style 1 Grid</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="">Style 1 Boxed Layout</a></li>
                      <li class="dropdown-item"><a href="">Style 1 Full Width Layout</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="">Style 2 Grid</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="">Style 2 Boxed Layout</a></li>
                      <li class="dropdown-item"><a href="">Style 2 Full Width Layout</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="">Single Project</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="">Side Gallery Grid</a></li>
                      <li class="dropdown-item"><a href="">Side Gallery List</a></li>
                      <li class="dropdown-item"><a href="">Wide Slider</a></li>
                      <li class="dropdown-item"><a href="">Wide Gallery</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="mobile-menu-link" href="">Blog</a>
              <a class="collapsed" href="#blog-submenu" data-toggle="collapse"></a>
            </div>
            <div class="collapse" id="blog-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-header">Blog Layouts</li>
                  <li class="dropdown-item"><a href="">Grid Right Sidebar</a></li>
                  <li class="dropdown-item"><a href="">Grid Left Sidebar</a></li>
                  <li class="dropdown-item"><a href="">Grid No Sidebar</a></li>
                  <li class="dropdown-header">Single Post Formats</li>
                  <li class="dropdown-item"><a href="">Post Gallery</a></li>
                  <li class="dropdown-item"><a href="">Post Image Carousel</a></li>
                  <li class="dropdown-item"><a href="">Post Video</a></li>
                  <li class="dropdown-item"><a href="">Post Audio</a></li>
                  <li class="dropdown-item"><a href="">Post Quotation</a></li>
                  <li class="dropdown-item"><a href="">Post Link</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="mobile-menu-link" href="">Shop</a>
              <a class="collapsed" href="#shop-submenu" data-toggle="collapse"></a>
            </div>
            <div class="collapse" id="shop-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-header">Shop Layouts</li>
                  <li class="dropdown-item"><a href="">Boxed Left Sidebar</a></li>
                  <li class="dropdown-item"><a href="">Boxed Right Sidebar</a></li>
                  <li class="dropdown-item"><a href="">Boxed Filters Top</a></li>
                  <li class="dropdown-item"><a href="">Boxed No Sidebar</a></li>
                  <li class="dropdown-item"><a href="">Full Width Left Sidebar</a></li>
                  <li class="dropdown-item"><a href="">Full Width Right Sidebar</a></li>
                  <li class="dropdown-item"><a href="">Full Width Filters Top</a></li>
                  <li class="dropdown-item"><a href="">Full Width No Sidebar</a></li>
                  <li class="dropdown-header">Shop Pages</li>
                  <li class="dropdown-item"><a href="">Shop Categories</a></li>
                  <li class="dropdown-item"><a href="">Product Page</a></li>
                  <li class="dropdown-item"><a href="">Cart</a></li>
                  <li class="dropdown-item"><a href="">Checkout - Address</a></li>
                  <li class="dropdown-item"><a href="">Checkout - Shipping</a></li>
                  <li class="dropdown-item"><a href="">Checkout - Payment</a></li>
                  <li class="dropdown-item"><a href="">Checkout - Review</a></li>
                  <li class="dropdown-item"><a href="">Checkout - Complete</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="mobile-menu-link" href="">Account</a>
              <a class="collapsed" href="#account-submenu" data-toggle="collapse"></a>
            </div>
            <div class="collapse" id="account-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-item"><a href="">Login / Register</a></li>
                  <li class="dropdown-item"><a href="">Password Recovery</a></li>
                  <li class="dropdown-item"><a href="">Orders List</a></li>
                  <li class="dropdown-item"><a href="">Profile Settings</a></li>
                  <li class="dropdown-item"><a href="">Contact / Shipping Address</a></li>
                  <li class="dropdown-item"><a href="">Wishlist</a></li>
                  <li class="dropdown-item"><a href="">My Tickets</a></li>
                  <li class="dropdown-item"><a href="">Single Ticket</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="mobile-menu-link" href="#">Pages</a>
              <a class="collapsed" href="#pages-submenu" data-toggle="collapse"></a>
            </div>
            <div class="collapse" id="pages-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-item"><a href="">About Us</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="">About Us v.1</a></li>
                      <li class="dropdown-item"><a href="">About Us v.2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="">Contacts</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="">Contacts v.1</a></li>
                      <li class="dropdown-item"><a href="">Contacts v.2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="">Help Center</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="">Help Topics</a></li>
                      <li class="dropdown-item"><a href="">Single Topic</a></li>
                      <li class="dropdown-item"><a href="">Submit a Request</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="">Services</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="">Services Landing</a></li>
                      <li class="dropdown-item"><a href="">Single Service Page</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="">Pricing</a></li>
                  <li class="dropdown-item"><a href="">Product Comparison</a></li>
                  <li class="dropdown-item"><a href="">Order Tracking</a></li>
                  <li class="dropdown-item"><a href="">Search Results</a></li>
                  <li class="dropdown-item"><a href="">Coming Soon</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="">Coming Soon Light</a></li>
                      <li class="dropdown-item"><a href="">Coming Soon Dark</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="">404 Not Found</a></li>
                  <li class="dropdown-item"><a class="text-accent" href="">
                    <i class="d-inline-block fe-icon-file-text align-middle mr-1"></i>Documentation</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="">Components</a></div>
          </div>
        </div>
      </div>
      <div class="offcanvas-footer px-4 pt-3 pb-2 text-center">
        <a class="social-btn sb-style-3 sb-twitter" href="#"><i class="socicon-twitter"></i></a>
        <a class="social-btn sb-style-3 sb-facebook" href="#"><i class="socicon-facebook"></i></a>
        <a class="social-btn sb-style-3 sb-pinterest" href="#"><i class="socicon-pinterest"></i></a>
        <a class="social-btn sb-style-3 sb-instagram" href="#"><i class="socicon-instagram"></i></a>
      </div>
    </div>
