{% load filters %}

<div class="container mt-3">
  <div class="row no-gutters" list-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}">
    {% if list|is_user_can_add_list:request.user.pk %}
    <div style="flex: 0 0 45%;max-width:45%;padding:5px;">
        <a class="btn btn-sm border u_copy_video_list" style="width: -webkit-fill-available;">Добавить</a>
    </div>
    {% elif request.user.pk in list.get_users_ids %}
    <div style="flex: 0 0 45%;max-width:45%;padding:5px;">
        <a class="btn btn-sm border u_uncopy_video_list" style="width: -webkit-fill-available;">Удалить</a>
    </div>
    {% endif %}
    <div style="flex: 0 0 45%;max-width:45%;padding:5px;">
      <span>
        <a class="btn btn-sm border u_claim_video_list" style="width: -webkit-fill-available;">Жалоба</a>
      </span>
    </div>
    <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
      <a class="btn btn-sm border photo_fullscreen_hide_2" style="width: -webkit-fill-available;">x</a>
    </div>
  </div>

  <div class="media mt-3" style="display:flex;align-items: flex-start">
    <h5 class="mt-1" style="flex: 1;">
      {{ list.name }} ({{ list.count_items }}) - видеоальбом
      <a href="{% url 'user' pk=list.creator.pk %}" class="ajax underline">
        {{ list.creator.get_full_name_genitive }}
      </a>
    </h5>
  </div>

<div class="row is_load_paginate no-gutters" data-link="/video/load/{{ list.pk }}/" data-uuid="{{ list.uuid }}">
{% for object in object_list %}
  {% include 'user_video/video.html' %}
{% empty %}
  <div class="card centered item_empty">
    <div class="card-body">
      <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
        <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </div>
    <h6>Список видеозаписей пустой.</h6>
  </div>
{% endfor %}
</div>
