{% extends "base_anon.html" %}
{% block title %}Регион {{ region.name }}{% endblock %}
{% block content %}

<section class="container pt-sm-5 pb-4 main-container" data-pk="{{ region.pk}}">
      <h1 class="h3 text-sm-left m-0">{{ region.name }}</h1>
      <div class="input-group mb-1 mt-1">
        <input type="text" value="" class="form-control real_time_search region_search" placeholder="Поиск по региону">
      </div>
        {% if region.is_have_governors %}
          <div class="row pt-0">
            {% for object in region.get_governors %}
              {% include 'elect/anon_elect_index_card.html' %}
            {% endfor %}
          </div>
        {% endif %}

        {% if region.is_have_senators %}
          <div class="row pt-0">
            {% for object in region.get_senators %}
              {% include 'elect/anon_elect_index_card.html' %}
            {% endfor %}
          </div>
        {% endif %}

      <div class="row pt-0">
        {% if region.is_have_commissioner_child %}
          {% for object in region.get_commissioner_child %}
            {% include 'elect/anon_elect_index_card.html' %}
          {% endfor %}
        {% endif %}
        {% if region.is_have_commissioner_human %}
          {% for object in region.get_commissioner_human %}
            {% include 'elect/anon_elect_index_card.html' %}
          {% endfor %}
        {% endif %}

        {% if region.is_have_head_hinistry_health %}
          {% for object in region.get_head_hinistry_health %}
            {% include 'elect/anon_elect_index_card.html' %}
          {% endfor %}
        {% endif %}
        {% if region.is_have_chapter_min_enlightenment %}
          {% for object in region.get_chapter_min_enlightenment %}
            {% include 'elect/anon_elect_index_card.html' %}
          {% endfor %}
        {% endif %}
      </div>

      {% if region.is_have_head_societies_chambers %}
        <div class="row pt-0">
          {% for object in region.get_head_societies_chambers %}
            {% include 'elect/anon_elect_index_card.html' %}
          {% endfor %}
        </div>
      {% endif %}

      {% if region.is_have_gos_duma %}
        <div class="row pt-0">
          {% for object in region.get_gos_duma %}
            {% include 'elect/anon_elect_index_card.html' %}
          {% endfor %}
        </div>
      {% endif %}

      {% if region.is_have_legislative_assembly %}
        <div class="row pt-0">
          {% for object in region.get_legislative_assembly %}
            {% include 'elect/anon_elect_index_card.html' %}
          {% endfor %}
        </div>
      {% endif %}
</section>
{% endblock %}
