{% extends "base_anon.html" %}
{% block title %}Регион | {{ region.name }}{% endblock %}
{% block content %}

<section class="container pt-sm-5 pb-4">
      <h2 class="h3 text-sm-left m-0">{{ region.name }}</h2>
      <div class="row pt-0 is_paginate">
        {% if region.get_elects %}
        {% for object in region.get_elects %}
          {% include 'elect/elect_index_card.html' %}
        {% endfor %}
        {% else %}
        <br>
        В регионе "{{ region.name }}" почему-то нет закрепленных за ним чиновников.
        {% endif %}
      </div>
</section>
{% endblock %}
