<span>
<span>
  <input placeholder="Выберите район" class="form-control left_menu_select_districts left_menu_select underline">
  <datalist>
    {% for object in districts %}
    <option data-slug="{{ object.slug }}" value="{{ object.name }}"></option>
    {% endfor %}
  </datalist>
</span>
<span>
  <input placeholder="Выберите город" class="form-control left_menu_select_cities left_menu_select underline">
  <datalist>
    {% for object in cities %}
    <option data-slug="{{ object.slug }}" value="{{ object.name }}"></option>
    {% endfor %}
  </datalist>
</span>
</span>
