
<div class="data_display" data-uuid="{{ object.uuid }}" data-pk="{{ object.creator.pk }}">
  <div class="row" style="margin-right: -10px;margin-left: -10px;">
    {% if next %}
    <div class="col" style="padding:5px;">
      <a class="btn btn-sm border next_photo" href="{% url 'u_blog_photo' photo_pk=next.pk pk=blog.pk %}" style="width: -webkit-fill-available;position:static">
        <svg fill="currentColor" class="svg_default" style="width: 19px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/></svg>
      </a>
    </div>
    {% endif %}

    {% include 'user_gallery/photo/move_photo.html' %}

    <div class="col" style="padding:5px;">
      <a type="button" class="btn btn-sm border menu_drop" style="width: -webkit-fill-available;">
          Опции
      </a>
      <div class="dropdown-menu">
          <a class="dropdown-item copy_link pointer">Копировать ссылку</a>
          <a class="dropdown-item photo_claim pointer">Пожаловаться</a>
      </div>
    </div>
    <div class="col" style="padding:5px;">
      <a class="btn btn-sm border pointer photo_fullscreen_hide_2" style="width: -webkit-fill-available;">x</a>
    </div>
    {% if prev %}
      <div class="col" style="padding:5px;">
        <a class="btn btn-sm border prev_photo" href="{% url 'u_blog_photo' photo_pk=prev.pk pk=blog.pk %}" style="width: -webkit-fill-available;position:static">
          <svg fill="currentColor" class="svg_default" style="width: 19px;" viewBox="0 0 24 24"><rect fill="none" /><path d="M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z"/></svg>
        </a>
      </div>
    {% endif %}
  </div>
  {% include 'user_gallery/photo/card_header.html' %}
  <span class="content_block">
    <span>
      <div class="card image_card rounded-0 border-0 mb-3">
        {% if object.file %}
          <img style="width: 100%;" src="{{ object.file.url }}" alt="">
        {% else %}
          <svg class="svg_default" style="width:100%;height:auto" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
        {% endif %}
    </div>


    </span>
  </span>
  </div>
<br><br><br>
