{% extends "base.html" %}
{% block title %}{{ list.name }} | Опросы {{ user.get_full_name_genitive }}{% endblock %}
{% load filters %}
{% block content %}

<div class="container mt-3 pk_saver" list-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}">
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="ajax" href="{% url 'user' pk=list.creator.pk %}">{{ list.creator }}</a></li>
        <li class="breadcrumb-item"><a class="ajax" href="{% url 'user_survey' pk=list.creator.pk %}">Опросы</a></li>
        <li class="breadcrumb-item active">{{ list.name }} ({{ list.count_items }})</li>
    </ol>
  </div>
  <span class="load_block">
    <div class="media mt-3" style="padding-left: 7px;">
      <h5 class="mt-1">
        {{ list.name }} ({{ list.count_items }})

        {% if list|is_user_can_add_list:request.user.pk %}
          <span class="pointer badge badge-light-success u_copy_survey_list">Добавить список в коллекцию</span>
        {% elif request.user.pk in list.get_users_ids %}
          <span class="pointer badge badge-light-danger u_uncopy_survey_list">Удалить список из коллекции</span>
        {% endif %}
        <span class="pointer badge badge-light-warning u_survey_list_claim">Пожаловаться</span>
      </h5>
    </div>

    <div class="row is_paginate no-gutters">
        {% if object_list %}

        {% for object in object_list %}
          {% include 'user_survey/survey.html' %}
        {% endfor %}

        {% else %}
        <div class="card centered item_empty">
          <div class="card-body">
          <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path d="M0 0h24v24H0V0z" fill="none"/><path d="M13 7.5h5v2h-5zm0 7h5v2h-5zM19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM11 6H6v5h5V6zm-1 4H7V7h3v3zm1 3H6v5h5v-5zm-1 4H7v-3h3v3z"/></svg>
          </div>
          <h6>В списке нет опросов.</h6>
        </div>
        {% endif %}
    </div>
    </span>
</div>

{% endblock %}
