
<div class="media mt-3" style="padding-left: 7px;">
    <h5 class="mt-1" style="flex: 1;">Видеоальбомы
      <a class="underline ajax" href="{% url 'user' pk=user.pk %}">
        {{ user.get_full_name_genitive }}
      </a>
      ({{ count_lists }})
    </h5>
</div>
<div class="row no-gutters" style="overflow-x: auto;">
    <div class="col-12">
        <ul style="width:max-content;list-style: none;">
          <li class="list_item">
              <div class="card file-manager-item folder list_toggle active_border" data-uuid="{{ list.uuid }}">
                  <div class="card-img-top file-logo-wrapper">
                    <span>
                      <svg width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                    </span>
                  </div>
                  <div class="card-body pt-0">
                      <div class="content-wrapper">
                          <p class="card-text file-name mb-0 list_name" style="text-align: left;" data-name="{{ object.name }}">{{ list.name }}</p>
                          <p class="card-text file-size mb-0">{{ list.count_items }}</p>
                      </div>
                      <small class="file-accessed">
                          {{ user.get_full_name|safe }}
                      </small>
                  </div>
              </div>
          </li>
            {% for object in get_lists %}
            <li class="list_item">
                <div class="card file-manager-item folder u_load_profile_video_list pointer list_toggle border" data-uuid="{{ object.uuid }}">
                    <div class="card-img-top file-logo-wrapper">
                      <span>
                          <svg width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                      </span>
                    </div>
                    <div class="card-body pt-0">
                        <div class="content-wrapper">
                            <p class="card-text file-name mb-0 list_name" style="text-align: left;">{{ object.name }}</p>
                            <p class="card-text file-size mb-0">{{ object.count_items }}</p>
                        </div>
                        <small class="file-accessed">
                          <a class="ajax underline" href="{% url 'user' pk=object.creator.pk %}">
                            {{ object.creator.get_full_name|safe }}
                          </a>
                        </small>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% if can_add_list %}
            <li class="list_item">
                <div class="card file-manager-item folder border u_video_list_add pointer">
                    <div class="card-img-top file-logo-wrapper">
                        <div class="d-flex align-items-center justify-content-center w-100">
                            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="content-wrapper">
                            <p class="card-text file-name mb-0" style="text-align: left;">Создать альбом</p>
                        </div>
                        <small class="file-accessed">
                          текст
                        </small>
                    </div>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
